<% domain = ResumeDomain.find(@resume.domain_id)[:name] %>
<% talent_page_title("编辑 #{domain} 的简历") %>

<link href="/stylesheets/dropdown_menu.css" rel="stylesheet" type="text/css" />


<h2>编辑 <%= domain %> 的简历</h2>

<%= render :partial => "/resumes/edit_resume_nav", :locals => {:current_link => "exp_sections"} %>

<% if flash[:success_msg] %>
	<p class="success_msg">
	    <%= flash[:success_msg] %>
	</p>
<% end %>
<% if flash[:error_msg] %>
	<p class="error_msg">
	    <%= flash[:error_msg] %>
	</p>
<% end %>

<div>
	<a href="/students/<%= @student.id %>/resumes/<%= @resume.id %>/exp_sections/new">
		添加经历块</a>
</div>


<div class="float_r">
	<% if @tags.size > 0 %>
		<div id="exp_tags" class="resume_exp_tags">
			<div>
				<img src="/images/loading_icon.gif" id="loading" border="0" title="操作中" alt="操作中" style="margin: 0px 5px -3px 0px; display: none;" />
				<img src="/images/students/tag_icon.gif" id="tag_icon_img" border="0" title="标签" alt="标签" style="margin: 0px 5px -3px 0px;" />
				经历标签
			</div>
			<div style="margin-top: 6px; padding-top: 5px; border-top: 1px dashed #DDDDDD;">
				<%= render :partial => "/resume_exps/tagger", :collection => @taggers %>
			</div>
		</div>
	<% end %>
</div>

<div style="margin-right: 120px;">
	<% form_tag "", :method => :delete, :id => "del_section_form" do %>
	<% end %>
	<% form_tag "", :method => :delete, :id => "del_exp_form" do %>
	<% end %>
	<% form_tag "", :method => :post, :id => "del_resume_student_exp_form" do %>
		<input type="hidden" id="resume_student_exp_id" name="resume_student_exp_id" />
	<% end %>
	
	<div>
		<%= render :partial => "section", :collection => @sections, :locals => {:tags => @tags} %>
	</div>
</div>

<div class="clear_r"></div>


<script src="/lib/jquery/jquery.min.js" type="text/javascript" language="JavaScript"></script>
<script src="/lib/jquery/ui/jquery-ui.sortable.min.js" type="text/javascript" language="JavaScript"></script>
<script language="JavaScript">
	var STUDENT_ID = <%= @student.id %>;
	var RESUME_ID = <%= @resume.id %>;
	
	var SEP = "<%= ResumeExpSection::Sep_Exp %>";
</script>
<script src="/javascripts/resumes/exps.js" type="text/javascript" language="JavaScript"></script>
