<% section_title = h(@section.title) %>
<% talent_page_title("从经历库向 #{section_title} 中添加经历") %>


<h2>从经历库向 <%= section_title %> 中添加经历</h2>

<% if flash[:error_msg] %>
	<p class="error_msg">
	    <%= flash[:error_msg] %>
	</p>
<% end %>

<div class="align_r">
	<a href="/students/<%= @student.id %>/resumes/<%= @resume.id %>/resume_exp_sections">
		返回经历列表</a>
</div>

<div>
	<% form_tag "/students/#{@student.id}/resumes/#{@resume.id}/resume_exp_sections/#{@section.id}/create_resume_student_exp", :method => :post, :id => "add_exp_form" do %>
		<input type="hidden" id="student_exp_id" name="student_exp_id" />
	<% end %>
	<script language="JavaScript">
		function add_student_exp(student_exp_id) {
			document.getElementById("student_exp_id").value = student_exp_id;
			document.getElementById("add_exp_form").submit();
		}
	</script>
	
	<table border="0" cellspacing="0" cellpadding="0" class="main_part_w">
		<tr>
			<td style="width: 600px;"></td>
			<td></td>
		</tr>
		
		<% @student_exps.each do |exp| %>
			<tr onmouseover="this.style.backgroundColor='#F8F8F8';" onmouseout="this.style.backgroundColor='#FFFFFF';">
				<td>
					<%= render :partial => "/student_exps/exp", :object => exp, :locals => {:hide_actions => true} %>
				</td>
				
				<td align="center" style="font-size: 14px;">
					<% if @added_student_exps.include?(exp.id) %>
						<img src="/images/students/selected_icon.gif" border="0" alt="已添加这段经历" title="已添加这段经历" style="margin: 0px 5px -2px 0px;" />
						已添加
					<% else %>
						<a href="#" title="添加这段经历" class="none" onclick="add_student_exp(<%= exp.id %>); return false;">
							<img src="/images/students/include_icon.png" border="0" alt="添加这段经历" style="margin-bottom: -1px;" />
							添加这段经历</a>
					<% end %>
				</td>
			</tr>
		<% end %>
	</table>
</div>
