<%
	saved_query_name = h(saved_query.name)
	
	query = CorpQuery.parse_from_conditions(saved_query.conditions)
%>

<div class="saved_query">
	<div class="saved_query_title">
		<div class="float_r">
			<a href="#" title="查询简历" class="none" onclick="exe_saved_query(<%= saved_query.id %>); return false;">
				<input type="hidden" id="saved_query_conditions_<%= saved_query.id %>" value="<%= h(saved_query.conditions) %>" />
				<input type="hidden" id="saved_query_keyword_<%= saved_query.id %>" value="<%= h(query.keyword) %>" />
				<img src="/images/corporations/exe_icon.gif" border="0" alt="查询简历" />
				查询简历</a>
				
			<a href="/corporations/<%= @corporation.id %>/saved_queries/<%= saved_query.id %>/edit" title="编辑" class="none">
				<img src="/images/students/edit_icon.gif" border="0" alt="编辑" />
				编辑</a>
				
			<a href="#" title="删除查询" class="none" onclick="del_saved_query(<%= saved_query.id %>, '<%= a(saved_query_name) %>'); return false;">
				<img src="/images/teachers/delete_icon.gif" border="0" alt="删除查询" />
				删除</a>
		</div>
		
		<div style="cursor: pointer; margin-left: 10px;" title="点击 展开/收起 查询详情" onclick="toggle_saved_query_detail(<%= saved_query.id %>);">
			<img src="/images/corporations/expand_icon.gif" id="save_query_detail_icon_<%= saved_query.id %>" border="0" alt="展开/收起 查询详情" style="margin: 0px 5px -1px 0px;" />
			<span style="font-size: 14px; margin-right: 5px;">
				<%= saved_query_name %>
			</span>
			<span style="color: #777777;">
				»
				&nbsp;
				保存于
				<%= format_datetime(saved_query.created_at) %>
			</span>
		</div>
	</div>
	
	<div class="saved_query_conditions" id="save_query_detail_<%= saved_query.id %>" style="display: none;">
		<div>
			<% unless query.university_id.blank? %>
				<span>
					大学:
					<% university = University.find(query.university_id) %>
					<%= university && university[:name] %>
				</span>
				
				<% unless query.college_id.blank? %>
					<span>
						学院:
						<% college = College.find(query.university_id, query.college_id) %>
						<%= college && college[:name] %>
					</span>
					
					<% unless query.major_id.blank? %>
						<span>
							专业:
							<% major = Major.find(query.college_id, query.major_id) %>
							<%= major && major[:name] %>
						</span>
					<% end %>
				<% end %>
			<% end %>
			
			
			<% unless query.edu_level_id.blank? %>
				<span>
					学历:
					<%= EduLevel.find(query.edu_level_id)[:name] %>
				</span>
			<% end %>
			
			<% unless query.graduation_year.blank? %>
				<span>
					毕业时间:
					<%= query.graduation_year %> 年
				</span>
			<% end %>
		</div>
		
		<div>
			<span>
				求职方向:
				<%= ResumeDomain.find(query.domain_id)[:name] %>
			</span>

			<% unless query.keyword.blank? %>
				<span>
					关键词:
					<%= h(query.keyword) %>
				</span>
			<% end %>
		</div>
		
		<% tags, skills = query.tags_and_skills %>
		
		<% if tags.size > 0 %>
			<div>
				经历标签:
				<% tags.each do |tag_id| %>
					<span style="margin-left: 10px;">
						<%= ResumeExpTag.find_by_id(tag_id)[:name] %>
					</span>
				<% end %>
			</div>
		<% end %>
		
		<% if skills.size > 0 %>
			<div>
				技能和证书:
				<% skills.each do |skill| %>
					<span style="margin-left: 10px;">
						<%
							skill_id, value = [skill[0].to_i, skill[1].to_i]
							skill = Skill.find(skill_id)
						%>
						<%= skill[:name] %>
						:
						<%= SkillValueTypes.get_type(skill[:value_type]).render_label(skill[:data], value) %>
					</span>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
