<tr>
	<td>
		<label for="email">
			邮箱<%= required_mark %>
		</label>
	</td>
	
	<td>
		<input type="text" id="email" name="email" class="text_field" size="30" value="<%= h(@profile.email) %>" />
	</td>
</tr>

<tr>
	<td>
		<label for="phone">
			联系电话<%= required_mark %>
		</label>
	</td>
	
	<td>
		<input type="text" id="phone" name="phone" class="text_field" size="30" value="<%= h(@profile.phone) %>" />
	</td>
</tr>

<tr>
	<td>
		<label for="contact">
			联系人<%= required_mark %>
		</label>
	</td>
	
	<td>
		<input type="text" id="contact" name="contact" class="text_field" size="20" value="<%= h(@profile.contact) %>" />
		&nbsp;
		<input type="radio" value="true" name="contact_gender" id="contact_male"<%= %Q! checked="checked"! if @profile.contact_gender == true %> />
		<label for="contact_male">
			先生
		</label>
		&nbsp;
		<input type="radio" value="false" name="contact_gender" id="contact_female"<%= %Q! checked="checked"! if @profile.contact_gender == false %> />
		<label for="contact_female">
			女士
		</label>
	</td>
</tr>

<tr>
	<td>
		<label for="contact_title">
			联系人职位
		</label>
	</td>
	
	<td>
		<input type="text" id="contact_title" name="contact_title" class="text_field" size="20" value="<%= h(@profile.contact_title) %>" />
	</td>
</tr>


<tr>
	<td>
		<label for="business_scope">
			经营范围
		</label>
	</td>
	
	<td>
		<input type="text" id="business_scope" name="business_scope" class="text_field" size="30" value="<%= h(@profile.business_scope) %>" />
	</td>
</tr>


<tr>
	<td>
		<label for="address">
			地址
		</label>
	</td>
	
	<td>
		<input type="text" id="address" name="address" class="text_field" size="30" value="<%= h(@profile.address) %>" />
	</td>
</tr>

<tr>
	<td>
		<label for="zip">
			邮编
		</label>
	</td>
	
	<td>
		<input type="text" id="zip" name="zip" class="text_field" size="15" value="<%= h(@profile.zip) %>" />
	</td>
</tr>

<tr>
	<td>
		<label for="website">
			企业网站
		</label>
	</td>
	
	<td>
		<input type="text" id="website" name="website" class="text_field" size="30" value="<%= h(@profile.website) %>" />
	</td>
</tr>


<tr>
	<td>
		<label for="nature">
			企业性质
		</label>
	</td>
	
	<td>
		<%=
			render(
				:partial => "/corporations/selects/nature",
				:locals => {
					:nature_id => @profile.nature_id,
					:field_id => "nature", :field_name => "nature",
					:hide_label => true, :empty_label => ""
				}
			)
		%>
	</td>
</tr>

<tr>
	<td>
		<label for="size">
			企业规模
		</label>
	</td>
	
	<td>
		<select name="size" id="size" class="dropdown_list">
			<option value=""<%= %Q! selected="selected"! if @profile.size_id.blank? %>></option>
			<% CorporationSize.data.each do |size| %>
				<option value="<%= size[:id] %>"<%= %Q! selected="selected"! if @profile.size_id == size[:id] %>><%= size[:name] %></option>
			<% end %>
		</select>
	</td>
</tr>

<tr>
	<td>
		<label for="industry_category">
			行业大类
		</label>
	</td>
	
	<td>
		<%=
			render(
				:partial => "/corporations/selects/industry_category",
				:locals => {
					:industry_category_id => @profile.industry_category_id,
					:field_id => "industry_category", :field_name => "industry_category",
					:hide_label => true, :empty_label => "选择行业大类"
				}
			)
		%>
	</td>
</tr>

<tr>
	<td>
		<label for="industry">
			行业细分
		</label>
	</td>
	
	<td>
		<%=
			render(
				:partial => "/corporations/selects/industry",
				:locals => {
					:industry_category_id => @profile.industry_category_id,
					:industry_id => @profile.industry_id,
					:field_id => "industry", :field_name => "industry",
					:hide_label => true, :empty_label => "选择行业细分"
				}
			)
		%>
	</td>
</tr>

<tr>
	<td>
		<label for="province">
			企业所在地
		</label>
	</td>
	
	<td>
		<select name="province" id="province" class="dropdown_list">
			<option value=""<%= %Q! selected="selected"! if @profile.province_id.blank? %>></option>
			<% Province.data.each do |province| %>
				<option value="<%= province[:id] %>"<%= %Q! selected="selected"! if @profile.province_id == province[:id] %>><%= province[:name] %></option>
			<% end %>
		</select>
	</td>
</tr>


<tr>
	<td>
		<label for="desc">
			企业简介
		</label>
	</td>
	
	<td>
		<textarea id="desc" name="desc" class="text_field" cols="50" rows="8"><%= h(@profile.desc) %></textarea>
	</td>
</tr>
