<% talent_page_title("编辑企业资料") %>


<h2 class="page_title">编辑企业资料</h2>

<% if flash[:success_msg] %>
	<p class="success_msg">
	    <%= flash[:success_msg] %>
	</p>
<% end %>
<% if flash[:error_msg] %>
	<p class="error_msg">
	    <%= flash[:error_msg] %>
	</p>
<% end %>
<% if @profile.errors.size > 0 %>
	<p class="error_msg">
		<%= list_model_validate_errors(@profile) %>
	</p>
<% end %>

<% form_tag "/corporations/#{@corporation.id}/update_profile", :method => :post do %>

	<table border="0" cellspacing="10" cellpadding="5" style="font-size: 14px;">
		<tr>
			<td style="width: 100px;">
				企业名称
			</td>

			<td>
				<%= h(@corporation.name) %>
			</td>
		</tr>

		<%= render :partial => "profile_form" %>
		
		<tr>
			<td>
				
			</td>
			
			<td>
				<%= submit_tag "修改企业资料", :class => "button", :disabled => !@account_active %>
			</td>
		</tr>
	</table>
	
<% end %>


<% content_for :scripts do %>
	<%= render :partial => "/corporations/selects/var" %>
	<script src="/javascripts/teachers/corporations.js" type="text/javascript" language="JavaScript"></script>
<% end %>
