<div class="horizontal_nav">
	<%
		[
			["edit_intern_profile", "实习信息"],
	  		["edit_intern_wishes", "实习意愿"]
		].each do |part|
	%>
		<a href="/teachers/<%= @teacher.id %>/students/<%= @student.id %>/<%= part[0] %>"<%= %Q! class="selected_link"! if part[0] == current_link %>>
			<%= part[1] %></a>
	<% end %>
</div>
