<table border="0" cellspacing="10" cellpadding="5">
	<tr>
		<td style="width: 120px;" valign="top">
			<label for="birthplace">
				籍贯
			</label>
		</td>
		
		<td>
			<input type="text" id="birthplace" name="birthplace" class="text_field" size="15" value="<%= h(@profile.birthplace) %>" />
		</td>
	</tr>
	
	<tr>
		<td valign="top">
			<label for="birthmonth">
				出生年月
			</label>
		</td>
		
		<td>
			<input type="text" id="birthmonth" name="birthmonth" class="text_field" size="15" value="<%= h(@profile.birthmonth) %>" />
			
			<span class="info_with_icon" style="margin-left: 20px;">
				<% today = Date.today %>
				格式: <%= today.year %>-<%= today.month %>
				或: <%= format_date(today) %>
			</span>
		</td>
	</tr>
	
	
	<tr>
		<td valign="top">
			<label for="begin_at">
				上岗时间<%= required_mark %>
			</label>
		</td>

		<td>
			<input type="text" id="begin_at" name="begin_at" class="text_field" size="15" value="<%= format_date(@profile.begin_at) %>" />
			
			<span class="info_with_icon" style="margin-left: 20px;">
				日期格式: <%= format_date(Date.today) %>
			</span>
		</td>
	</tr>
	
	<tr>
		<td>
			<label for="job_period">
				工作期限<%= required_mark %>
			</label>
		</td>

		<td>
			<%=
				render(
					:partial => "/teacher_corporation_jobs/selects/job_period",
					:locals => {
						:job_period_id => @profile.period_id,
						:field_id => "job_period", :field_name => "job_period",
						:hide_label => true, :required => true
					}
				)
			%>
		</td>
	</tr>
	
	<tr>
		<td>
			<label for="job_workday">
				每周工作时间<%= required_mark %>
			</label>
		</td>

		<td>
			<%=
				render(
					:partial => "/teacher_corporation_jobs/selects/job_workday",
					:locals => {
						:job_workday_id => @profile.workday_id,
						:field_id => "job_workday", :field_name => "job_workday",
						:hide_label => true, :required => true
					}
				)
			%>
		</td>
	</tr>
	
	<tr>
		<td>
			<label for="job_major">
				相关专业<%= required_mark %>
			</label>
		</td>

		<td>
			<%=
				render(
					:partial => "/teacher_corporation_jobs/selects/job_major",
					:locals => {
						:job_major_id => @profile.major_id,
						:field_id => "job_major", :field_name => "job_major",
						:hide_label => true, :required => true
					}
				)
			%>
		</td>
	</tr>
	
	<tr>
		<td>
			<label for="salary">
				最低薪酬<%= required_mark %>
			</label>
		</td>
		
		<td>
			<input type="text" id="salary" name="salary" class="text_field" size="3" value="<%= h(@profile.salary || 0) %>" />
			元/天
		</td>
	</tr>
	
	
	<tr>
		<td>
			<label for="intention">
				实习意向
			</label>
		</td>

		<td>
			<textarea id="intention" name="intention" class="text_field" cols="50" rows="3"><%= h(@profile.intention) %></textarea>
		</td>
	</tr>
	
	<tr>
		<td>
			<label for="skill">
				技能证书
			</label>
		</td>

		<td>
			<textarea id="skill" name="skill" class="text_field" cols="50" rows="3"><%= h(@profile.skill) %></textarea>
		</td>
	</tr>
	
	<tr>
		<td>
			<label for="experience">
				以往工作/实习经历
			</label>
			
			<br />
			<br />
			
			<span class="info_with_icon" style="margin-top: 10px;">
				包括获奖情况、社会实践、实习经历等
			</span>
		</td>

		<td>
			<textarea id="experience" name="experience" class="text_field" cols="50" rows="5"><%= h(@profile.experience) %></textarea>
		</td>
	</tr>
	
	<tr>
		<td>
			<label for="desc">
				其它信息
			</label>
		</td>

		<td>
			<textarea id="desc" name="desc" class="text_field" cols="50" rows="3"><%= h(@profile.desc) %></textarea>
		</td>
	</tr>
	
	
	<tr>
		<td>
			
		</td>
		
		<td>
			<%= submit_tag "保存实习信息", :class => "button", :disabled => !@account_active %>
		</td>
	</tr>
</table>
