<%
	college = College.find(@school.abbr, student.college_id)
	major = Major.find(college[:id], student.major_id)
	
	edu_level = EduLevel.find(student.edu_level_id)
	graduation_year = student.graduation_year
	
	student_name = h(student.name)
	
	resumes = student.resumes.sort { |x, y| x.domain_id <=> y.domain_id }
%>

<tr<%= %Q! class="even"! if student_counter.even? %>>
	<td>
		<%= h(student.number) %>
	</td>
	
	
	<td>
		<%= student_name %>
	</td>
	
	
	<td>
		<table border="0" cellspacing="0" cellpadding="0" class="main_part_w">
			<tr>
				<td>
					<% if resumes.size > 0 %>
						<a href="#" title="查看<%= student_name %>的简历" class="none operation_link">
							<img src="/images/students/preview_resume_icon.gif" border="0" alt="查看简历" style="margin-bottom: -1px;" />
							简历</a>

						<div class="dropdown_menu" style="font-size: 12px;">
							<ul class="dropdown_sub_menu">
								<% resumes.each do |resume| %>
									<% unless resume.hidden %>
										<% domain = ResumeDomain.find(resume.domain_id) %>
										<li>
											<a target="_blank" href="/teachers/<%= @teacher.id %>/students/<%= resume.id %>/resume">
												<%= domain[:name] %></a>
										</li>
									<% end %>
								<% end %>
							</ul>
						</div>
					<% else %>
						<span class="info">(无简历)</span>
					<% end %>
				</td>
				
				<% if @teacher.statistic %>
					<td style="width: 10px;"></td>
					
					<td>
						<a href="#" title="查看<%= student_name %>的数据统计" class="none operation_link">
							<img src="/images/teachers/statistic_icon.png" border="0" alt="数据统计" />
							统计</a>

						<div class="dropdown_menu" style="font-size: 12px;">
							<ul class="dropdown_sub_menu">
								<li>
									<a href="/teachers/<%= @teacher.id %>/statistics?student=<%= student.id %>&q=f">
										时段统计</a>
								</li>
								<li>
									<a href="/teachers/<%= @teacher.id %>/statistics/viewing_domain?student=<%= student.id %>">
										求职方向统计</a>
								</li>
							</ul>
						</div>
					</td>
				<% end %>
			</tr>
		</table>
	</td>
	
	
	<td class="grey">
		<%= college[:name] %>
	</td>
	
	
	<td class="grey">
		<%= major[:name] %>
	</td>
	
	
	<td class="grey">
		<%= edu_level[:name] %>
	</td>
	
	
	<td class="grey">
		<%= graduation_year %> 年 <%= %Q! (应届)! if graduation_year == @school.coming_graduation_year %>
	</td>
</tr>
