<%
	university = University.find(student.university_id)
	college = university && College.find(university[:id], student.college_id)
	major = college && Major.find(college[:id], student.major_id)
	
	edu_level = EduLevel.find(student.edu_level_id)
	graduation_year = student.graduation_year
	
	student_name = h(student.name)
%>

<tr<%= %Q! class="even"! if student_counter.even? %>>
	<td>
		<%= h(student.number) %>
	</td>
	
	
	<td>
		<a target="_blank" href="/teachers/<%= @teacher.id %>/students/<%= student.id %>" class="none">
			<%= student_name %></a>
	</td>
	
	
	<td>
		<table border="0" cellspacing="0" cellpadding="0" class="main_part_w">
			<tr>
				<% if @teacher.resume %>
					<td>
						<% resumes = student.resumes.select{|resume| !resume.hidden }.sort { |x, y| x.domain_id <=> y.domain_id } %>
						<% if resumes.size > 0 %>
							<a href="#" title="查看<%= student_name %>的简历" class="none operation_link">
								<img src="/images/students/preview_resume_icon.gif" border="0" alt="查看简历" style="margin-bottom: -1px;" />
								简历</a>

							<div class="dropdown_menu" style="font-size: 12px;">
								<ul class="dropdown_sub_menu">
									<% resumes.each do |resume| %>
										<% domain = ResumeDomain.find(resume.domain_id) %>
										<li>
											<a target="_blank" href="/teachers/<%= @teacher.id %>/students/<%= resume.id %>/resume">
												<%= domain[:name] %></a>
										</li>
									<% end %>
								</ul>
							</div>
						<% else %>
							<span class="info">(无简历)</span>
						<% end %>
					</td>
				<% end %>
				
				<% if @teacher.statistic %>
					<td>
						<a href="#" title="查看<%= student_name %>的数据统计" class="none operation_link">
							<img src="/images/teachers/statistic_icon.png" border="0" alt="数据统计" />
							统计</a>

						<div class="dropdown_menu" style="font-size: 12px;">
							<ul class="dropdown_sub_menu">
								<li>
									<a href="/teachers/<%= @teacher.id %>/statistics?student=<%= student.id %>&q=f">
										简历时段统计</a>
								</li>
								<li>
									<a href="/teachers/<%= @teacher.id %>/statistics/viewing_domain?student=<%= student.id %>">
										求职方向统计</a>
								</li>
							</ul>
						</div>
					</td>
				<% end %>
				
				<% if @teacher.student %>
					<td>
						<a href="#" title="管理学生数据" class="none operation_link">
							<img src="/images/teachers/admin_icon.png" border="0" alt="管理学生" class="vertical_middle" />
							管理</a>

						<div class="dropdown_menu" style="font-size: 12px;">
							<ul class="dropdown_sub_menu">
								<li>
									<a target="_blank" href="/teachers/<%= @teacher.id %>/students/<%= student.id %>/edit">
										学生帐号</a>
								</li>
								<li>
									<a target="_blank" href="/teachers/<%= @teacher.id %>/students/<%= student.id %>/edit_profile">
										学生信息</a>
								</li>
								<li>
									<a target="_blank" href="/teachers/<%= @teacher.id %>/students/<%= student.id %>/edit_intern_profile">
										学生实习信息</a>
								</li>
								<li>
									<a target="_blank" href="/teachers/<%= @teacher.id %>/students/<%= student.id %>/edit_intern_wishes">
										学生实习意愿</a>
								</li>
								<li>
									<a target="_blank" href="/teachers/<%= @teacher.id %>/students/<%= student.id %>/intern_logs">
										学生实习记录</a>
								</li>
							</ul>
						</div>
					</td>
				<% end %>
			</tr>
		</table>
	</td>
	
	
	<td class="grey">
		<%= university && university[:name] %>
	</td>
	
	
	<td class="grey">
		<%= college && college[:name] %>
	</td>
	
	
	<td class="grey">
		<%= major && major[:name] %>
	</td>
	
	
	<td class="grey">
		<%= edu_level && edu_level[:name] %>
	</td>
	
	
	<td class="grey">
		<%= graduation_year %> 年 <%= %Q! (应届)! if graduation_year == @school.coming_graduation_year %>
	</td>
</tr>
