<%
	talent_page_title("查询学生")
	
	school_abbr = @school.abbr
%>


<h2 class="page_title">查询学生</h2>


<% if flash[:success_msg] %>
	<p class="success_msg">
	    <%= flash[:success_msg] %>
	</p>
<% end %>

<div class="search_form_of_teachers">
	<div class="quick_form">
		<a href="#" title="展开/收起" id="toggle_search_form_link"></a>
		
		<% form_tag "", :method => :get do %>
			<label for="number">
				快速查询学生 (通过学号):
			</label>
			<input type="text" id="number" name="n" value="<%= h(@number) %>" class="text_input" />
			<input type="submit" value="" class="submit_button" />
		<% end %>
	</div>
	
	<div id="search_form">
		<% form_tag "", :method => :get do %>
			<div>
				<span class="field">
					<label for="name">
						姓名:
					</label>
					<input type="text" id="name" name="name" class="text_field" size="10" value="<%= h(@name) %>" />
				</span>
				
				<span class="field">
					<label for="edu_level_id">
						学历:
					</label>
					<select name="e" id="edu_level_id" class="dropdown_list">
						<option value=""<%= %Q! selected="selected"! if @edu_level_id.blank? %>>不限学历</option>
						<% @school.edu_levels.each do |level_id| %>
							<% level = EduLevel.find(level_id) %>
							<option value="<%= level[:id] %>"<%= %Q! selected="selected"! if @edu_level_id == level[:id].to_s %>><%= level[:name] %></option>
						<% end %>
					</select>
				</span>
				
				<span class="field">
					<label for="graduation_year">
						毕业时间:
					</label>
					<select name="g" id="graduation_year" class="dropdown_list">
						<option value=""<%= %Q! selected="selected"! if @graduation_year.blank? %>>不限毕业时间</option>
						<% year = @school.coming_graduation_year %>
						<% @school.graduation_years.each do |graduation_year| %>
							<option value="<%= graduation_year %>"<%= %Q! selected="selected"! if @graduation_year == graduation_year.to_s %>><%= graduation_year %> 年<%= %Q! (应届)! if graduation_year == year %></option>
						<% end %>
					</select>
				</span>
			</div>
			
			<div style="margin-top: 15px;">
				<span class="field">
					<%=
						render(
							:partial => "/students/selects/university",
							:locals => {
								:university_id => @university_id,
								:field_id => "university_id", :field_name => "u"
							}
						)
					%>
				</span>
				
				<span class="field">
					<%=
						render(
							:partial => "/students/selects/college",
							:locals => {
								:university_id => @university_id,
								:college_id => @college_id,
								:field_id => "college_id", :field_name => "c"
							}
						)
					%>
				</span>
				
				<span class="field">
					<%=
						render(
							:partial => "/students/selects/major",
							:locals => {
								:college_id => @college_id,
								:major_id => @major_id,
								:field_id => "major_id", :field_name => "m"
							}
						)
					%>
				</span>
			</div>
			
			<div class="align_r" style="margin-right: 20px;">
				<input type="submit" value="查找学生" class="button" />
			</div>
		<% end %>
	</div>
</div>

<div class="search_result_of_teachers">
	<div class="result_paging">
		<div class="float_l">
			查询到约
			<strong><%= @students.total_entries %></strong>
			名学生
		</div>

		<%= paging_buttons(@students, :class => "mini_pagination") %>
	</div>
	<table border="0" cellspacing="0" cellpadding="0" class="main_part_w result_grid">
		<thead>
			<tr>
				<td style="width: 80px;">学号</td>
				<td style="width: 50px;">姓名</td>
				<td style="width: <%= @teacher.statistic ? 100 : 45 %>px;">操作</td>
				<td class="grey">大学</td>
				<td class="grey">学院</td>
				<td class="grey">专业</td>
				<td class="grey" style="width: 30px;">学历</td>
				<td class="grey" style="width: 85px;">毕业时间</td>
			</tr>
		</thead>

		<tbody>
			<%= render :partial => "student", :collection => @students %>
		</tbody>
	</table>
	<div class="result_paging">
		<div class="float_l">
			查询到约
			<strong><%= @students.total_entries %></strong>
			名学生
		</div>

		<%= paging_buttons(@students, :class => "mini_pagination") %>
	</div>
</div>


<% content_for :scripts do %>
	<%= render :partial => "/students/selects/var" %>
	<script src="/javascripts/teachers/students.js" type="text/javascript" language="JavaScript"></script>
<% end %>
