<%
	talent_page_title("查询学生")
	
	school_abbr = @school.abbr
%>


<h2>查询学生</h2>


<% if flash[:success_msg] %>
	<p class="success_msg">
	    <%= flash[:success_msg] %>
	</p>
<% end %>

<div>
	<div>
		<% form_tag "", :method => :get do %>
			<label for="number">
				通过学号
			</label>
			<input type="text" id="number" name="n" class="text_field" size="20" value="<%= h(@number) %>" />
			<input type="submit" value="确定" class="button" />
		<% end %>
	</div>
	
	<div>
		<% form_tag "", :method => :get do %>
			<select name="c" id="college_id" class="dropdown_list">
				<option value=""<%= %Q! selected="selected"! if @college_id.blank? %>>不限学院</option>
				<% College.data[school_abbr].each do |college| %>
					<option value="<%= college[:id] %>"<%= %Q! selected="selected"! if @college_id.to_i == college[:id] %>><%= college[:name] %></option>
				<% end %>
			</select>

			<select name="m" id="major_id" class="dropdown_list">
				<option value=""<%= %Q! selected="selected"! if @major_id.blank? %>>不限专业</option>
				<% (Major.data[@college_id.to_i]|| []).each do |major| %>
					<option value="<%= major[:id] %>"<%= %Q! selected="selected"! if @major_id.to_i == major[:id] %>><%= major[:name] %></option>
				<% end %>
			</select>

			<select name="e" id="edu_level_id" class="dropdown_list">
				<option value=""<%= %Q! selected="selected"! if @edu_level_id.blank? %>>不限教育水平</option>
				<% @school.edu_levels.each do |level_id| %>
					<% level = EduLevel.find(level_id) %>
					<option value="<%= level[:id] %>"<%= %Q! selected="selected"! if @edu_level_id == level[:id].to_s %>><%= level[:name] %></option>
				<% end %>
			</select>

			<select name="g" id="graduation_year" class="dropdown_list">
				<option value=""<%= %Q! selected="selected"! if @graduation_year.blank? %>>不限毕业时间</option>
				<% year = @school.coming_graduation_year %>
				<% @school.graduation_years.each do |graduation_year| %>
					<option value="<%= graduation_year %>"<%= %Q! selected="selected"! if @graduation_year == graduation_year.to_s %>><%= graduation_year %> 年<%= %Q! (应届)! if graduation_year == year %></option>
				<% end %>
			</select>
			
			<label for="name">
				姓名
			</label>
			<input type="text" id="name" name="name" class="text_field" size="20" value="<%= h(@name) %>" />
			
			<input type="submit" value="查找学生" class="button" />
		<% end %>
	</div>
</div>

<div>
	<table border="0" cellspacing="0" cellpadding="5" class="main_part_w">
		<thead>
			<tr>
				<td style="width: 45px;"></td>
				<td style="width: 45px;"></td>
				<td style="width: 80px;">学号</td>
				<td style="width: 50px;">姓名</td>
				<td>学院</td>
				<td>专业</td>
				<td style="width: 50px;">教育水平</td>
				<td style="width: 85px;">毕业时间</td>
			</tr>
		</thead>
		
		<tbody>
			<%= render :partial => "student", :collection => @students %>
		</tbody>
	</table>
</div>


<script src="/lib/jquery/jquery.min.js" type="text/javascript" language="JavaScript"></script>
<script language="JavaScript">
	var MAJORS = {};
	<% College.data[school_abbr].each do |college| %>
		MAJORS["c_<%= college[:id] %>"] = [<%= Major.data[college[:id]].collect{|major| %Q!{id:#{major[:id]}, name:"#{major[:name]}"}!}.join(",") %>];
	<% end %>
	
	function fill_majors(college_id, major_id) {
		$("#major_id").html("");
		
		$("#major_id").append("<option value=''>不限专业</option>");

		var major_objs = MAJORS["c_" + college_id];
		if(major_objs != null && major_objs.length > 0) {
			var options = $.map(
				major_objs,
				function(major_obj, i) {
					return "<option value='" + major_obj.id + "'>" + major_obj.name + "</option>";
				}
			);

			$("#major_id").append(options.join(""));

			$("#major_id").val(major_id);
		}
	}
	
	$(document).ready(
		function() {
			$(".operation_link").click(
				function() {
					$(this).parent().find("ul.dropdown_sub_menu").slideDown("fast").show();

					$(this).parent().hover(
						function() {
						},
						function() {
							$(this).parent().find("ul.dropdown_sub_menu").slideUp("slow");
						}
					);
					
					return false;
				}
			);
			
			
			$("#college_id").change(
				function() {
					fill_majors($(this).val(), "");
				}
			);
		}
	);
</script>
