<%
	talent_page_title("查询学生")
%>


<% if @teacher.student %>
	<div class="float_r" style="margin: 12px 25px 0px;">
		<a href="/teachers/<%= @teacher.id %>/students/import" class="button" style="margin-right: 30px;">
			导入学生数据</a>
		
		<a href="/teachers/<%= @teacher.id %>/students/new" class="button">
			添加学生帐号</a>
	</div>
<% end %>
<h2 class="page_title">查询学生</h2>


<% if flash[:success_msg] %>
	<p class="success_msg">
	    <%= flash[:success_msg] %>
	</p>
<% end %>

<div class="search_form_of_teachers">
	<div class="quick_form">
		<a href="#" title="展开/收起" id="toggle_search_form_link"></a>
		
		<% form_tag "", :method => :get do %>
			<label for="number">
				快速查询学生 (通过学号):
			</label>
			<input type="text" id="number" name="n" value="<%= h(@number) %>" class="text_input" />
			<input type="submit" value="" class="submit_button" />
		<% end %>
	</div>
	
	<div id="search_form">
		<% form_tag "", :method => :get do %>
			<div>
				<span class="field">
					<label for="name">
						姓名:
					</label>
					<input type="text" id="name" name="name" class="text_field" size="10" value="<%= h(@name) %>" />
				</span>
				
				<span class="field">
					<%=
						render(
							:partial => "/students/selects/edu_level",
							:locals => {
								:edu_level_id => @edu_level_id,
								:field_id => "edu_level", :field_name => "e"
							}
						)
					%>
				</span>
				
				<span class="field">
					<%=
						render(
							:partial => "/students/selects/graduation_year",
							:locals => {
								:graduation_year => @graduation_year,
								:field_id => "graduation_year", :field_name => "g"
							}
						)
					%>
				</span>
				
				<span class="field">
					<label for="complete">
						完整:
					</label>
					<select name="co" id="complete" class="dropdown_list">
						<option value=""<%= %Q! selected="selected"! if @complete.nil? %>>不限</option>
						<option value="t"<%= %Q! selected="selected"! if @complete == true %>>是</option>
						<option value="f"<%= %Q! selected="selected"! if @complete == false %>>否</option>
					</select>
				</span>
			</div>
			
			<div style="margin: 15px 0px;">
				<span class="field">
					<%=
						render(
							:partial => "/students/selects/university",
							:locals => {
								:university_id => @university_id,
								:field_id => "university", :field_name => "u"
							}
						)
					%>
				</span>
				
				<span class="field">
					<%=
						render(
							:partial => "/students/selects/college",
							:locals => {
								:university_id => @university_id,
								:college_id => @college_id,
								:field_id => "college", :field_name => "c"
							}
						)
					%>
				</span>
				
				<span class="field">
					<%=
						render(
							:partial => "/students/selects/major",
							:locals => {
								:college_id => @college_id,
								:major_id => @major_id,
								:field_id => "major", :field_name => "m"
							}
						)
					%>
				</span>
			</div>
			
			<div>
				<span class="field">
					<label for="gender">
						性别:
					</label>
					<select name="ge" id="gender" class="dropdown_list">
						<option value=""<%= %Q! selected="selected"! if @gender.nil? %>>不限</option>
						<option value="t"<%= %Q! selected="selected"! if @gender == true %>>男</option>
						<option value="f"<%= %Q! selected="selected"! if @gender == false %>>女</option>
					</select>
				</span>
				
				<span class="field">
					<label for="created_at_from">
						入库时间:
					</label>
					<input type="text" id="created_at_from" name="created_at_from" class="text_field" size="10" value="<%= format_date(@created_at_from) %>" />
					至
					<input type="text" id="created_at_to" name="created_at_to" class="text_field" size="10" value="<%= format_date(@created_at_to) %>" />
				</span>
			</div>
			
			<div style="margin-top: 15px;">
				<label for="intern_log_statistic">
					实习记录统计:
				</label>
				<%= check_box_tag :intern_log_statistic, value = "true", @intern_log_statistic %>
			</div>
			
			<div class="align_r" style="margin-right: 20px;">
				<input type="submit" value="查找学生" class="button" style="margin: 0 30px;" />
				
				<% if @number.blank? %>
					<a id="export_csv_link" href="students?csv=true&limit=<%= @students.total_entries %>" class="button">
						导出为 CSV</a>
				<% end %>
			</div>
		<% end %>
	</div>
</div>

<div class="search_result_of_teachers">
	<div class="result_paging">
		<div class="float_l">
			查询到约
			<strong><%= @students.total_entries %></strong>
			名学生
		</div>

		<%= paging_buttons(@students, :class => "mini_pagination") %>
	</div>
	<table border="0" cellspacing="0" cellpadding="0" class="main_part_w result_grid">
		<thead>
			<tr>
				<% if @intern_log_statistic %>
					<td>姓名</td>
					<td>入库时间</td>
					<td class="grey">总数</td>
					<td class="grey">接受面试</td>
					<td class="grey">拒绝面试</td>
					<td class="grey">面试通过</td>
					<td class="grey">面试失败</td>
					<td class="grey">面试没去</td>
					<td class="grey">实习到期</td>
					<td class="grey">实习后留用</td>
					<td class="grey">实习中流动</td>
					<td class="grey">实习中劝退</td>
				<% else %>
					<td style="width: 80px;">学号</td>
					<td style="width: 50px;">姓名</td>
					<%
						n = [@teacher.resume, @teacher.statistic, @teacher.student].select{|bool|bool}.size
						width = 45 * n + 5 * (n-1)
						width += 5 if @teacher.resume
					%>
					<% if n > 0 %>
						<td style="width: <%= width %>px;">操作</td>
					<% else %>
						<td></td>
					<% end %>
					<td class="grey">大学</td>
					<td class="grey">学院</td>
					<td class="grey">专业</td>
					<td class="grey" style="width: 30px;">学历</td>
					<td class="grey" style="width: 85px;">毕业时间</td>
					<td style="width: 28px;">
						<span title="单击进行修改">完整</span>
						<img src="/images/teachers/search/loading_icon.gif" id="status_loading" border="0" title="操作中" alt="操作中" style="margin-bottom: -3px; display: none;" />
					</td>
				<% end %>
			</tr>
		</thead>

		<tbody>
			<% if @intern_log_statistic %>
				<%= render :partial => "student_intern_logs", :collection => @students %>
			<% else %>
				<%= render :partial => "student", :collection => @students %>
			<% end %>
		</tbody>
	</table>
	<div class="result_paging">
		<div class="float_l">
			查询到约
			<strong><%= @students.total_entries %></strong>
			名学生
		</div>

		<%= paging_buttons(@students, :class => "mini_pagination") %>
	</div>
</div>


<% content_for :scripts do %>
	<%= render :partial => "/students/selects/var" %>
	<script type="text/javascript">
		var	TEACHER_ID = <%= @teacher.id %>;
	</script>
	<script src="/javascripts/teachers/students.js" type="text/javascript"></script>
<% end %>
