<%
	talent_page_title("查询学生")
	
	school_abbr = @school.abbr
%>


<h2 class="page_title">查询学生</h2>


<% if flash[:success_msg] %>
	<p class="success_msg">
	    <%= flash[:success_msg] %>
	</p>
<% end %>

<div class="students_filters">
	<div class="number_form">
		<a href="#" title="展开/收起" id="toggle_search_form_link" class="float_r">
			<img src="/images/teachers/search/pack_icon.gif" border="0" alt="展开/收起" /></a>
		
		<% form_tag "", :method => :get do %>
			<label for="number">
				快速查询学生:
			</label>
			<input type="text" id="number" name="n" value="<%= h(@number) %>" />
			<input type="submit" value="搜索" class="search_button" />
		<% end %>
	</div>
	
	<div id="search_form" class="search_form">
		<% form_tag "", :method => :get do %>
			<div>
				<span class="filter">
					<label for="name">
						姓名:
					</label>
					<input type="text" id="name" name="name" class="text_field" size="10" value="<%= h(@name) %>" />
				</span>
				
				<span class="filter">
					
				</span>
				
				<span class="filter">
					<label for="edu_level_id">
						学历:
					</label>
					<select name="e" id="edu_level_id" class="dropdown_list">
						<option value=""<%= %Q! selected="selected"! if @edu_level_id.blank? %>>不限学历</option>
						<% @school.edu_levels.each do |level_id| %>
							<% level = EduLevel.find(level_id) %>
							<option value="<%= level[:id] %>"<%= %Q! selected="selected"! if @edu_level_id == level[:id].to_s %>><%= level[:name] %></option>
						<% end %>
					</select>
				</span>
				
				<span class="filter">
					<label for="graduation_year">
						毕业时间:
					</label>
					<select name="g" id="graduation_year" class="dropdown_list">
						<option value=""<%= %Q! selected="selected"! if @graduation_year.blank? %>>不限毕业时间</option>
						<% year = @school.coming_graduation_year %>
						<% @school.graduation_years.each do |graduation_year| %>
							<option value="<%= graduation_year %>"<%= %Q! selected="selected"! if @graduation_year == graduation_year.to_s %>><%= graduation_year %> 年<%= %Q! (应届)! if graduation_year == year %></option>
						<% end %>
					</select>
				</span>
			</div>
			
			<div style="margin-top: 15px;">
				<span class="filter">
					<label>
						学校:
					</label>
					<span style="color: #666666; font-weight: bold;">
						<%= @school.name %>
					</span>
				</span>
				
				<span class="filter">
					<label for="college_id">
						学院:
					</label>
					<select name="c" id="college_id" class="dropdown_list">
						<option value=""<%= %Q! selected="selected"! if @college_id.blank? %>>不限学院</option>
						<% College.data[school_abbr].each do |college| %>
							<option value="<%= college[:id] %>"<%= %Q! selected="selected"! if @college_id.to_i == college[:id] %>><%= college[:name] %></option>
						<% end %>
					</select>
				</span>
				
				<span class="filter">
					<label for="major_id">
						专业:
					</label>
					<select name="m" id="major_id" class="dropdown_list">
						<option value=""<%= %Q! selected="selected"! if @major_id.blank? %>>不限专业</option>
						<% (Major.data[@college_id.to_i]|| []).each do |major| %>
							<option value="<%= major[:id] %>"<%= %Q! selected="selected"! if @major_id.to_i == major[:id] %>><%= major[:name] %></option>
						<% end %>
					</select>
				</span>
			</div>
			
			<div class="align_r" style="margin-right: 20px;">
				<input type="submit" value="查找学生" class="button" />
			</div>
		<% end %>
	</div>
</div>

<div class="students_list_paging">
	<div class="float_l">
		查询到约
		<strong><%= @students.total_entries %></strong>
		名学生
	</div>
	
	<%= paging_buttons(@students) %>
</div>
<table border="0" cellspacing="0" cellpadding="0" class="main_part_w students_grid">
	<thead>
		<tr>
			<td style="width: 80px;" class="mark">学号</td>
			<td style="width: 50px;" class="mark">姓名</td>
			<td style="width: <%= @teacher.statistic ? 100 : 45 %>px;" class="mark">操作</td>
			<td>学院</td>
			<td>专业</td>
			<td style="width: 30px;">学历</td>
			<td style="width: 85px;">毕业时间</td>
		</tr>
	</thead>

	<tbody>
		<%= render :partial => "student", :collection => @students %>
	</tbody>
</table>
<div class="students_list_paging">
	<div class="float_l">
		查询到约
		<strong><%= @students.total_entries %></strong>
		名学生
	</div>
	
	<%= paging_buttons(@students) %>
</div>


<% content_for :scripts do %>
	<script language="JavaScript">
		var MAJORS = {};
		<% College.data[school_abbr].each do |college| %>
			MAJORS["c_<%= college[:id] %>"] = [<%= Major.data[college[:id]].collect{|major| %Q!{id:#{major[:id]}, name:"#{major[:name]}"}!}.join(",") %>];
		<% end %>
	</script>
	<script src="/javascripts/teachers/students.js" type="text/javascript" language="JavaScript"></script>
<% end %>
