<%
	student_name = h(@student.name)
	page_title = "学生 #{student_name} 的资料"
	
	talent_page_title(page_title)
%>


<div class="float_r" style="margin: 12px 25px 0px;">
	<a href="/teachers/<%= @teacher.id %>/students/<%= @student.id %>/edit">
		编辑学生资料</a>
</div>
<h2 class="page_title"><%= page_title %></h2>


<div style="margin: 5px;">
	<table border="0" cellspacing="0" cellpadding="0" class="main_part_w">
		<tr>
			<td style="width: 50%; vertical-align: top; padding-right: 5px;">
				<table border="0" cellspacing="6" cellpadding="5" class="main_part_w">
					<tr>
						<td colspan="2" class="job_form_title_section">
							学生帐号
						</td>
					</tr>
					
					<tr>
						<td style="width: 90px;">
							学号:
						</td>

						<td>
							<%= h(@student.number) %>
						</td>
					</tr>

					<tr>
						<td>
							姓名:
						</td>

						<td>
							<%= student_name %>
						</td>
					</tr>
					
					<% university = University.find(@student.university_id) %>
					<% if university %>
						<tr>
							<td>
								大学:
							</td>

							<td>
							
								<%= university[:name] %>
							</td>
						</tr>
					<% end %>
					
					<% college = university && College.find(university[:id], @student.college_id) %>
					<% if college %>
						<tr>
							<td>
								学院:
							</td>

							<td>
								<%= college[:name] %>
							</td>
						</tr>
					<% end %>
					
					<% major = college && Major.find(college[:id], @student.major_id) %>
					<% if major %>
						<tr>
							<td>
								专业:
							</td>

							<td>
								<%= major[:name] %>
							</td>
						</tr>
					<% end %>
					
					<% edu_level = EduLevel.find(@student.edu_level_id) %>
					<% if edu_level %>
						<tr>
							<td>
								学历:
							</td>

							<td>
								<%= edu_level[:name] %>
							</td>
						</tr>
					<% end %>
					
					<% if @student.graduation_year %>
						<tr>
							<td>
								毕业时间:
							</td>

							<td>
								<%= @student.graduation_year %> 年
								<%=
									year = @school.coming_graduation_year
									if @student.graduation_year == year
										"(应届毕业)"
									elsif @student.graduation_year > year
										"(在读学生)"
									else
										"(已经毕业)"
									end
								%>
							</td>
						</tr>
					<% end %>


					<tr>
						<td colspan="2" class="job_form_title_section">
							学生信息
						</td>
					</tr>
					
					<tr>
						<td>
							电话:
						</td>

						<td>
							<%= h(@profile.phone) %>
						</td>
					</tr>

					<tr>
						<td>
							电子邮件:
						</td>

						<td>
							<%= h(@profile.email) %>
						</td>
					</tr>

					<% unless @profile.address.blank? %>
						<tr>
							<td>
								地址:
							</td>

							<td>
								<%= h(@profile.address) %>
							</td>
						</tr>
					<% end %>

					<% unless @profile.zip.blank? %>
						<tr>
							<td>
								邮编:
							</td>

							<td>
								<%= h(@profile.zip) %>
							</td>
						</tr>
					<% end %>

					<% unless @profile.gender.nil? %>
						<tr>
							<td>
								性别:
							</td>

							<td>
								<%= @profile.gender ? "男" : "女" %>
							</td>
						</tr>
					<% end %>

					<% political_status = PoliticalStatus.find(@profile.political_status_id) %>
					<% if political_status %>
						<tr>
							<td>
								政治面貌 :
							</td>

							<td>
								<%= political_status[:name] %>
							</td>
						</tr>
					<% end %>
					
					
					<tbody style="background-color: #FFFDCF;">
						<tr>
							<td colspan="2" class="job_form_title_section">
								实习意愿
							</td>
						</tr>
						
						<% if @corporation_wishes.size > 0 %>
							<%
								render_corporation_wish = Proc.new { |wish|
									corporation = wish.corporation
									%Q!
										<a href="/teachers/#{@teacher.id}/corporations/#{corporation.id}" class="none">
											[#{corporation.id}]
											#{h(corporation.get_name)}</a>
									!
								}
							%>
							<tr>
								<td rowspan="<%= @corporation_wishes.size %>">
									公司名称:
								</td>

								<td>
									<%= render_corporation_wish.call(@corporation_wishes.first) %>
								</td>
							</tr>
							<% @corporation_wishes[1..-1].each do |wish| %>
								<td>
									<%= render_corporation_wish.call(wish) %>
								</td>
							<% end %>
						<% end %>
						
						<% if @job_wishes.size > 0 %>
							<%
								render_job_wish = Proc.new { |wish|
									job = wish.job
									%Q!
										<a href="/teachers/#{@teacher.id}/corporations/#{job.corporation_id}/jobs/#{job.id}" class="none">
											[#{job.id}]
											#{h(job.get_name)}</a>
									!
								}
							%>
							<tr>
								<td rowspan="<%= @job_wishes.size %>">
									岗位名称:
								</td>

								<td>
									<%= render_job_wish.call(@job_wishes.first) %>
								</td>
							</tr>
							<% @job_wishes[1..-1].each do |wish| %>
								<td>
									<%= render_job_wish.call(wish) %>
								</td>
							<% end %>
						<% end %>
						
						<% if @industry_wishes.size > 0 %>
							<%
								render_industry_wish = Proc.new { |wish|
									industry_category = IndustryCategory.find(wish.industry_category_id)
									industry = Industry.find(wish.industry_category_id, wish.industry_id)
									%Q!
										#{industry_category && industry_category[:name]}
										»
										#{industry && industry[:name]}
									!
								}
							%>
							<tr>
								<td rowspan="<%= @industry_wishes.size %>">
									行业类别:
								</td>

								<td>
									<%= render_industry_wish.call(@industry_wishes.first) %>
								</td>
							</tr>
							<% @industry_wishes[1..-1].each do |wish| %>
								<td>
									<%= render_industry_wish.call(wish) %>
								</td>
							<% end %>
						<% end %>
						
						<% if @job_category_wishes.size > 0 %>
							<%
								render_job_category_wish = Proc.new { |wish|
									job_category_class = JobCategoryClass.find(wish.job_category_class_id)
									job_category = JobCategory.find(wish.job_category_class_id, wish.job_category_id)
									%Q!
										#{job_category_class && job_category_class[:name]}
										»
										#{job_category && job_category[:name]}
									!
								}
							%>
							<tr>
								<td rowspan="<%= @job_category_wishes.size %>">
									岗位类别:
								</td>

								<td>
									<%= render_job_category_wish.call(@job_category_wishes.first) %>
								</td>
							</tr>
							<% @job_category_wishes[1..-1].each do |wish| %>
								<td>
									<%= render_job_category_wish.call(wish) %>
								</td>
							<% end %>
						<% end %>
						
						<% if @job_district_wishes.size > 0 %>
							<%
								render_job_district_wish = Proc.new { |wish|
									job_district = JobDistrict.find(wish.job_district_id)
									job_district && job_district[:name]
								}
							%>
							<tr>
								<td rowspan="<%= @job_district_wishes.size %>">
									工作区域:
								</td>

								<td>
									<%= render_job_district_wish.call(@job_district_wishes.first) %>
								</td>
							</tr>
							<% @job_district_wishes[1..-1].each do |wish| %>
								<td>
									<%= render_job_district_wish.call(wish) %>
								</td>
							<% end %>
						<% end %>
						
						<% if @corp_nature_wishes.size > 0 %>
							<%
								render_corp_nature_wish = Proc.new { |wish|
									corp_nature = CorporationNature.find(wish.nature_id)
									corp_nature && corp_nature[:name]
								}
							%>
							<tr>
								<td rowspan="<%= @corp_nature_wishes.size %>">
									企业性质:
								</td>

								<td>
									<%= render_corp_nature_wish.call(@corp_nature_wishes.first) %>
								</td>
							</tr>
							<% @corp_nature_wishes[1..-1].each do |wish| %>
								<td>
									<%= render_corp_nature_wish.call(wish) %>
								</td>
							<% end %>
						<% end %>
					
						<tr>
							<td>
								实习意向:
							</td>

							<td>
								<%= simple_format(h(@inter_profile.intention)) %>
							</td>
						</tr>
					</tbody>
					
					
					<tr>
						<td colspan="2" class="job_form_title_section">
							实习信息
						</td>
					</tr>
					
					<tr>
						<td>
							上岗时间:
						</td>

						<td>
							<%= format_date(@inter_profile.begin_at) %>
						</td>
					</tr>
					
					<tr>
						<td>
							工作期限:
						</td>

						<td>
							<% job_period = JobPeriod.find(@inter_profile.period_id) %>
							<%= job_period && job_period[:name] %>
						</td>
					</tr>
					
					<tr>
						<td>
							每周工作时间:
						</td>

						<td>
							<% job_workday = JobWorkday.find(@inter_profile.workday_id) %>
							<%= job_workday && job_workday[:name] %>
						</td>
					</tr>
					
					<tr>
						<td>
							相关专业:
						</td>

						<td>
							<% job_major = JobMajor.find(@inter_profile.major_id) %>
							<%= job_major && job_major[:name] %>
						</td>
					</tr>
					
					<tr>
						<td>
							最低薪酬:
						</td>

						<td>
							<%= h(@inter_profile.salary || 0) %>
							元/天
						</td>
					</tr>
					
					<tr>
						<td>
							籍贯:
						</td>

						<td>
							<%= h(@inter_profile.birthplace) %>
						</td>
					</tr>
					
					<tr>
						<td>
							出生年月:
						</td>

						<td>
							<%= h(@inter_profile.birthmonth) %>
						</td>
					</tr>
					
					<tr>
						<td>
							技能证书:
						</td>

						<td>
							<%= simple_format(h(@inter_profile.skill)) %>
						</td>
					</tr>
					
					<tr>
						<td>
							以往工作/实习经历 :
						</td>

						<td>
							<%= simple_format(h(@inter_profile.experience)) %>
						</td>
					</tr>
					
					<tr>
						<td>
							其它信息:
						</td>

						<td>
							<%= simple_format(h(@inter_profile.desc)) %>
						</td>
					</tr>
				</table>
			</td>
			
			<td style="width: 50%; vertical-align: top; padding: 15px 0px 15px 10px; border-left: 1px dashed #CCCCCC;">
				<%=
					render(
						:partial => "/teacher_notes/notes",
						:locals => {
							:notes => @notes,
							:target_type => @target_type,
							:target => @student
						}
					)
				%>
			</td>
		</tr>
	</table>
</div>
