<%
	domain = ResumeDomain.find(resume.domain_id)
	
	student = resume.student
	student_name = h(student.name)
	university = University.find(student.university_id)
	college = university && College.find(university[:id], student.college_id)
	major = college && Major.find(college[:id], student.major_id)
	edu_level = EduLevel.find(student.edu_level_id)
	graduation_year = student.graduation_year
	
	photo = student.job_photo
	photo_w = JobPhoto::Normal_W
	photo_h = JobPhoto::Normal_H
	
	tags = ((resume_tags || {})[resume.id]) || []
%>

<div class="corp_resume">
	
	<table border="0" cellspacing="0" cellpadding="0" class="main_part_w">
		<tr>
			<td align="center" valign="top" style="width: <%= photo_w + 8 %>px;">
				<div style="width: <%= photo_w %>px; height: <%= photo_h %>px;">
					<% if photo %>
						<a title="查看<%= student_name %>的简历" target="_blank" href="/corporations/<%= @corporation.id %>/resumes/<%= resume.id %>">
							<img class="job_photo" src="<%= photo.image.url(:normal) %>" alt="<%= student_name %>" border="0" width="<%= photo_w %>" height="<%= photo_h %>" /></a>
					<% end %>
				</div>
			</td>
			
			<td valign="top" class="info_list">
				<dl>
					<dt>姓名:</dt>
					<dd>
						<a href="/corporations/<%= @corporation.id %>/resumes/<%= resume.id %>" title="查看<%= student_name %>的简历" target="_blank" class="none info_title">
							<%= student_name %></a>
							
						(<%= edu_level[:name] %>)
					</dd>
					
					<dt>资料:</dt>
					<dd>
						<div><%= university[:name] %></div>
						<div>
							<%= college && college[:name] %>
							<span style="margin: 0px 6px;">›</span>
							<%= major && major[:name] %>
						</div>
					</dd>
					
					<dt>毕业:</dt>
					<dd>
						<%= graduation_year %>年
						<%= %Q! (应届)! if graduation_year == @school.coming_graduation_year %>
					</dd>
					
					<dt>方向:</dt>
					<dd>
						<%= domain[:name] %>
					</dd>
					
					<dt>标签:</dt>
					<dd>
						<span id="save_resume_field_<%= resume.id %>">
							<%= render :partial => "/corp_saved_resumes/save_resume_field", :locals => {:resume_id => resume.id, :tags => tags} %>
						</span>
					</dd>
				</dl>
			</td>
			
			<td valign="top" class="actions">
				<a href="#" id="edit_resume_tags_link_<%= resume.id %>">
					<%= tags.size > 0 ? "修改标签" : "添加标签" %></a>
			</td>
		</tr>
	</table>
	
</div>
