<%
	domains = @school.resume_domains.collect { |domain_id| ResumeDomain.find(domain_id) }
	
	domain_category_mapping = domains.group_by do |domain|
		domain[:category_id]
	end
	
	categories = domain_category_mapping.keys.sort.collect do |category_id|
		ResumeDomainCategory.find(category_id)
	end
	
	init_domain = ResumeDomain.find(@query.domain_id)
	init_category_id = (init_domain && init_domain[:category_id]) || categories[0][:id]
%>
<% talent_page_title("查询简历") %>


<h2 class="page_title">查询简历</h2>

<% if flash[:error_msg] %>
	<p class="error_msg">
	    <%= flash[:error_msg] %>
	</p>
<% end %>

<% form_tag "/corporations/#{@corporation.id}/resumes/create_query", :method => :post, :id => "query_resume_form" do %>
	<div id="domain_field">
		<%= required_mark(false) %>
		
		<label for="domain">请选择求职方向:</label>
		
		<select id="domain_category" class="dropdown_list">
			<% categories.each do |category| %>
				<option value="<%= category[:id] %>"<%= %Q! selected="selected"! if category[:id] == init_category_id %>><%= category[:name] %></option>
			<% end %>
		</select>
		
		<select name="domain" id="domain" class="dropdown_list">
			<% domain_category_mapping[init_category_id].each do |domain| %>
				<option value="<%= domain[:id] %>"<%= %Q! selected="selected"! if domain[:id] == @query.domain_id %>><%= domain[:name] %></option>
			<% end %>
		</select>
	</div>


	<div id="form_body">
		<div class="form_section">
			<a href="#" title="展开/收起" class="none form_section_title">学生信息</a>
			
			<div class="form_section_body">
				<div class="field_row">
					<span class="field">
						<%=
							render(
								:partial => "/students/selects/university",
								:locals => {
									:university_id => @query.university_id,
									:field_id => "university", :field_name => "university"
								}
							)
						%>
					</span>

					<span class="field">
						<%=
							render(
								:partial => "/students/selects/college",
								:locals => {
									:university_id => @query.university_id,
									:college_id => @query.college_id,
									:field_id => "college", :field_name => "college"
								}
							)
						%>
					</span>

					<span class="field">
						<%=
							render(
								:partial => "/students/selects/major",
								:locals => {
									:college_id => @query.college_id,
									:major_id => @query.major_id,
									:field_id => "major", :field_name => "major"
								}
							)
						%>
					</span>
				</div>
				
				<div class="field_row">
					<span class="field">
						<label for="edu_level">学历:</label>
						<select name="edu_level" id="edu_level" class="dropdown_list">
							<option value=""<%= %Q! selected="selected"! if @query.edu_level_id.blank? %>>不限学历</option>
							<% @school.edu_levels.each do |level_id| %>
								<% level = EduLevel.find(level_id) %>
								<option value="<%= level[:id] %>"<%= %Q! selected="selected"! if @query.edu_level_id == level[:id] %>><%= level[:name] %></option>
							<% end %>
						</select>
					</span>
					
					<span class="field">
						<label for="graduation_year">毕业时间:</label>
						<select name="graduation_year" id="graduation_year" class="dropdown_list">
							<option value=""<%= %Q! selected="selected"! if @query.graduation_year.blank? %>>不限毕业时间</option>
							<% year = @school.coming_graduation_year %>
							<% @school.graduation_years.each do |graduation_year| %>
								<option value="<%= graduation_year %>"<%= %Q! selected="selected"! if @query.graduation_year == graduation_year %>><%= graduation_year %> 年<%= %Q! (应届)! if graduation_year == year %></option>
							<% end %>
						</select>
					</span>
				</div>
			</div>
		</div>
		
		<div class="form_section">
			<a href="#" title="展开/收起" class="none form_section_title">简历信息</a>
			
			<div class="form_section_body">
				<% domains.each do |domain| %>
					<% tags = ResumeExpTag.find_group(domain[:id]) %>
					<% if tags.size > 0 %>
						<div id="tags_<%= domain[:id] %>" class="field_row"<%= %Q! style="display: none;"! unless domain[:id] == @query.domain_id %>>
							经历标签:
							<% tags.each do |tag| %>
								<span class="query_tag">
									<%= check_box_tag "tag_#{tag[:id]}", value = "true", @query_tags.include?(tag[:id]) %>
									<label for="tag_<%= tag[:id] %>"><%= tag[:name] %></label>
								</span>
							<% end %>
						</div>
					<% end %>
				<% end %>
				
				<div class="field_row">
					<div class="field">
						<label for="skill_list">技能和证书:</label>
						<select id="skill_list" class="dropdown_list">
							<% Skill.data.each do |skill| %>
								<option value="<%= skill[:id] %>" id="skill_<%= skill[:id] %>"><%= skill[:name] %></option>
							<% end %>
						</select>

						<a href="#" id="add_skill_link" style="margin-left: 6px;">
							添加</a>
							
						<img src="/images/loading_icon.gif" class="loading_icon" border="0" title="操作中" alt="操作中" style="margin: 0px 0px -3px 10px; display: none;" />
					</div>

					<div id="skills" class="query_skills">
						<%= render :partial => "query_skill", :collection => @query_skills %>
					</div>
				</div>
			</div>
		</div>


		<div class="align_r" style="margin: 15px 100px 5px 5px;">
			<div class="float_l field">
				<label for="keyword_input">关键词:</label>
				<input type="text" id="keyword_input" name="keyword_input" class="text_field" size="30" value="<%= h(@query.keyword) %>" />
				<input type="hidden" id="keyword" name="keyword" />
			</div>
			
			<a href="#" id="save_query_link" style="margin-right: 20px;">
				保存此查询条件</a>
				
			<%= submit_tag "搜索", :class => "button", :disabled => !@account_active %>
		</div>
	</div>
<% end %>



<% if @resumes %>
	<div style="width: 550px; margin-top: 30px;">
		<div class="corp_resumes_paging">
			<div class="float_l">
				搜索到约
				<strong><%= @resumes.total_entries %></strong>
				份简历
			</div>

			<%= paging_buttons(@resumes, :class => "mini_pagination") %>
		</div>
		
		<%= render :partial => "resume", :collection => @resumes, :locals => {:resume_tags => @resume_tags} %>
		
		<% unless @resumes.blank? %>
			<div class="corp_resumes_paging" style="border-bottom: 0px none;">
				<div class="float_l">
					搜索到约
					<strong><%= @resumes.total_entries %></strong>
					份简历
				</div>

				<%= paging_buttons(@resumes, :class => "mini_pagination") %>
			</div>
		<% end %>
	</div>
<% end %>



<% content_for :scripts do %>
	<%= render :partial => "/students/selects/var" %>
	<script language="JavaScript">
		var CORPORATION_ID = <%= @corporation.id %>;
	
		var ALL_DOMAINS = [<%= domains.collect{|domain| domain[:id] }.join(",") %>];
	
		var DOMAINS = {};
		<% categories.each do |category| %>
			DOMAINS["c_<%= category[:id] %>"] = [<%= domain_category_mapping[category[:id]].collect{|domain| %Q!{id:#{domain[:id]}, name:"#{domain[:name]}"}!}.join(",") %>];
		<% end %>
	
		var required_mark = '<%= required_mark(false).strip %>';
	</script>
	<script src="/javascripts/corp_resumes/query.js" type="text/javascript" language="JavaScript"></script>
	<script src="/javascripts/corp_resumes/save_resume.js" type="text/javascript" language="JavaScript"></script>
	<link href="/lib/dialog/css/dialog.css" rel="stylesheet" type="text/css" />
	<script src="/lib/dialog/dialog.js" type="text/javascript" language="JavaScript"></script>
<% end %>
