<%
	school_abbr = @school.abbr
	
	domains = @school.resume_domains.collect { |domain_id| ResumeDomain.find(domain_id) }
	
	domain_category_mapping = domains.group_by do |domain|
		domain[:category_id]
	end
	
	categories = domain_category_mapping.keys.sort.collect do |category_id|
		ResumeDomainCategory.find(category_id)
	end
	
	init_domain = ResumeDomain.find(@query.domain_id)
	init_category_id = (init_domain && init_domain[:category_id]) || categories[0][:id]
%>
<% talent_page_title("查询简历") %>


<h2 class="page_title">查询简历</h2>

<% if flash[:error_msg] %>
	<p class="error_msg">
	    <%= flash[:error_msg] %>
	</p>
<% end %>

<% form_tag "/corporations/#{@corporation.id}/resumes/create_query", :method => :post, :id => "query_form" do %>
	<div>
		学校:
		<span>
			<%= @school.name %>
		</span>
	</div>
	
	
	<div>
		<label for="college">学院:</label>
		<select name="college" id="college" class="dropdown_list">
			<option value=""<%= %Q! selected="selected"! if @query.college_id.blank? %>>不限学院</option>
			<% College.data[school_abbr].each do |college| %>
				<option value="<%= college[:id] %>"<%= %Q! selected="selected"! if @query.college_id == college[:id] %>><%= college[:name] %></option>
			<% end %>
		</select>
	
		<label for="major">专业:</label>
		<select name="major" id="major" class="dropdown_list">
			<option value=""<%= %Q! selected="selected"! if @query.college_id.blank? %>>不限专业</option>
			<% (Major.data[@query.college_id]|| []).each do |major| %>
				<option value="<%= major[:id] %>"<%= %Q! selected="selected"! if @query.major_id == major[:id] %>><%= major[:name] %></option>
			<% end %>
		</select>
	
		<label for="edu_level">学历:</label>
		<select name="edu_level" id="edu_level" class="dropdown_list">
			<option value=""<%= %Q! selected="selected"! if @query.edu_level_id.blank? %>>不限学历</option>
			<% @school.edu_levels.each do |level_id| %>
				<% level = EduLevel.find(level_id) %>
				<option value="<%= level[:id] %>"<%= %Q! selected="selected"! if @query.edu_level_id == level[:id] %>><%= level[:name] %></option>
			<% end %>
		</select>
	
		<label for="graduation_year">毕业时间:</label>
		<select name="graduation_year" id="graduation_year" class="dropdown_list">
			<option value=""<%= %Q! selected="selected"! if @query.graduation_year.blank? %>>不限毕业时间</option>
			<% year = @school.coming_graduation_year %>
			<% @school.graduation_years.each do |graduation_year| %>
				<option value="<%= graduation_year %>"<%= %Q! selected="selected"! if @query.graduation_year == graduation_year %>><%= graduation_year %> 年<%= %Q! (应届)! if graduation_year == year %></option>
			<% end %>
		</select>
	</div>


	<div>
		<label for="keyword_input">关键词:</label>
		<input type="text" id="keyword_input" name="keyword_input" class="text_field" size="30" value="<%= h(@query.keyword) %>" />
		<input type="hidden" id="keyword" name="keyword" />
	</div>


	<div>
		<label for="domain">求职方向:</label>
		
		<select id="domain_category" class="dropdown_list">
			<% categories.each do |category| %>
				<option value="<%= category[:id] %>"<%= %Q! selected="selected"! if category[:id] == init_category_id %>><%= category[:name] %></option>
			<% end %>
		</select>
		
		<select name="domain" id="domain" class="dropdown_list">
			<% domain_category_mapping[init_category_id].each do |domain| %>
				<option value="<%= domain[:id] %>"<%= %Q! selected="selected"! if domain[:id] == @query.domain_id %>><%= domain[:name] %></option>
			<% end %>
		</select>
	</div>


	<div>
		<% domains.each do |domain| %>
			<% tags = ResumeExpTag.data[domain[:id]] || [] %>
			<% if tags.size > 0 %>
				<div id="tags_<%= domain[:id] %>"<%= %Q! style="display: none;"! unless domain[:id] == @query.domain_id %>>
					需要具备的经历标签:
					<% tags.each do |tag| %>
						<span class="query_tag">
							<%= check_box_tag "tag_#{tag[:id]}", value = "true", @query_tags.include?(tag[:id]) %>
							<label for="tag_<%= tag[:id] %>"><%= tag[:name] %></label>
						</span>
					<% end %>
				</div>
			<% end %>
		<% end %>
	</div>


	<div>
		<div>
			<label for="skill_list">需要具备的技能和证书:</label>
			<select id="skill_list" class="dropdown_list">
				<% Skill.data.each do |skill| %>
					<option value="<%= skill[:id] %>" id="skill_<%= skill[:id] %>"><%= skill[:name] %></option>
				<% end %>
			</select>

			<a href="#" id="add_skill_link">
				添加</a>
		</div>
	
		<div id="skills" class="query_skills">
			<%= render :partial => "query_skill", :collection => @query_skills %>
		</div>
	</div>
	
	
	<div class="align_c">
		<%= submit_tag "查询", :class => "button", :disabled => !@account_active %>
		
		<a href="#" id="save_query_link" style="margin-left: 20px;">
			保存此查询条件</a>
	</div>
<% end %>



<% if @resumes %>
	<div style="width: 550px; margin-top: 20px;">
		<div class="corp_resumes_paging">
			<div class="float_l">
				搜索到约
				<strong><%= @resumes.total_entries %></strong>
				份简历
			</div>

			<%= paging_buttons(@resumes, :class => "mini_pagination") %>
		</div>
		
		<%= render :partial => "resume", :collection => @resumes, :locals => {:resume_tags => @resume_tags} %>
		
		<div class="corp_resumes_paging" style="border-bottom: 0px none;">
			<div class="float_l">
				搜索到约
				<strong><%= @resumes.total_entries %></strong>
				份简历
			</div>

			<%= paging_buttons(@resumes, :class => "mini_pagination") %>
		</div>
	</div>
<% end %>



<% content_for :scripts do %>
	<script language="JavaScript">
		var CORPORATION_ID = <%= @corporation.id %>;
	
		var MAJORS = {};
		<% College.data[school_abbr].each do |college| %>
			MAJORS["c_<%= college[:id] %>"] = [<%= Major.data[college[:id]].collect{|major| %Q!{id:#{major[:id]}, name:"#{major[:name]}"}!}.join(",") %>];
		<% end %>
	
		var ALL_DOMAINS = [<%= domains.collect{|domain| domain[:id] }.join(",") %>];
	
		var DOMAINS = {};
		<% categories.each do |category| %>
			DOMAINS["c_<%= category[:id] %>"] = [<%= domain_category_mapping[category[:id]].collect{|domain| %Q!{id:#{domain[:id]}, name:"#{domain[:name]}"}!}.join(",") %>];
		<% end %>
	
		var required_mark = '<%= required_mark(false).strip %>';
	</script>
	<script src="/javascripts/corp_resumes/query.js" type="text/javascript" language="JavaScript"></script>
	<script src="/javascripts/corp_resumes/save_resume.js" type="text/javascript" language="JavaScript"></script>
	<link href="/lib/dialog/css/dialog.css" rel="stylesheet" type="text/css" />
	<script src="/lib/dialog/dialog.js" type="text/javascript" language="JavaScript"></script>
<% end %>
