<%
	student = @resume.student
	student_name = h(student.name)
	
	talent_page_title("查看 #{student_name} 的简历")
%>


<h2>查看 <%= student_name %> 的简历</h2>


<% unless @available %>

	<div class="warn_msg">
		<div style="margin-left: 15px;">
			<%= student_name %> 的简历目前处于不可用状态
			<br />
			The resume is now unavailable
		</div>
	</div>
	
<% else %>

	<div class="align_r" style="margin: 0px 50px 10px 0px;">
		<input type="hidden" id="corp_resume_tags_<%= @resume.id %>" value="<%= @tags.join(" ") %>" />
		
		<% if @tags.size > 0 %>
		
		<% else %>
			<a href="#" id="save_resume_link_<%= @resume.id %>">
				收藏这份简历</a>
		<% end %>
	</div>
	
	<div>
		<%= render :partial => "/resumes/resume", :object => @resume, :locals => {:protective => true} %>
	</div>
	
	
	<script src="/lib/jquery/jquery.min.js" type="text/javascript" language="JavaScript"></script>
	<script src="/javascripts/corp_resumes/save_resume.js" type="text/javascript" language="JavaScript"></script>
	<script language="JavaScript">
		var CORPORATION_ID = <%= @corporation.id %>;
		
		$(document).ready(
			function() {
				$("a[id^='save_resume_link_']").click(
					function() {
						save_resume($(this).attr("id").substr("save_resume_link_".length));
						
						return false;
					}
				);
			}
		);
	</script>
	<link href="/lib/dialog/css/dialog.css" rel="stylesheet" type="text/css" />
	<script src="/lib/dialog/dialog.js" type="text/javascript" language="JavaScript"></script>
	
<% end %>
