<%
	field_name ||= nil
	hide_label &&= true
	empty_label ||= "不限相关专业专业"
	required &&= true
%>


<% unless hide_label %>
	<label for="<%= field_id %>">
		相关专业:
	</label>
<% end %>
<select class="dropdown_list" id="<%= field_id %>"<%= %Q! name="#{field_name}"! if field_name %>>
	<% unless required %>
		<option value=""<%= %Q! selected="selected"! if job_major_id.blank? %>><%= empty_label %></option>
	<% end %>
	<% JobMajor.data.each do |major| %>
		<option value="<%= major[:id] %>"<%= %Q! selected="selected"! if job_major_id.to_i == major[:id] %>><%= major[:name] %></option>
	<% end %>
</select>
