<%
	domain = ResumeDomain.find(added_resume.domain_id)[:name]
%>

<tr<%= %Q! class="odd"! if added_resume_counter.even? %>>
	<td>
		<a href="/students/<%= @student.id %>/resumes/<%= added_resume.id %>" class="none">
			<%= domain %></a>
	</td>


	<td align="center">
		<% if added_resume.online %>
			<img src="/images/students/online_status_icon.gif" border="0" alt="已上线" title="已上线" />
		<% else %>
			<img src="/images/students/offline_status_icon.gif" border="0" alt="下线中" title="下线中" />
		<% end %>
	</td>
	
	
	<td>
		<a href="/students/<%= @student.id %>/resumes/<%= added_resume.id %>/edit_job_intention" title="编辑简历" class="none edit_link">
			<img src="/images/students/edit_icon.gif" border="0" alt="编辑简历" />
			编辑</a>
		
		<div class="dropdown_menu" style="font-size: 12px;">
			<ul class="dropdown_sub_menu">
				<% Resume.edit_parts.each do |part| %>
					<li>
						<a href="/students/<%= @student.id %>/resumes/<%= added_resume.id %>/<%= part[0] %>">
							<%= part[1] %></a>
					</li>
				<% end %>
			</ul>
		</div>
	</td>
</tr>
