<% talent_page_title("技能和证书") %>


<h2 class="page_title">简历基本信息 - 技能和证书</h2>

<%= render :partial => "edit_nav", :locals => {:current_link => "edit_skills"} %>

<% if flash[:success_msg] %>
	<p class="success_msg">
	    <%= flash[:success_msg] %>
	</p>
<% end %>
<% if flash[:error_msg] %>
	<p class="error_msg">
	    <%= flash[:error_msg] %>
	</p>
<% end %>

<div class="float_r">
	<%= render :partial => "skill_pool", :locals => {:selected_ids => @selected_skill_ids} %>
</div>

<div style="margin-right: 280px;">
	<div class="info_with_icon" style="margin-left: 15px;">
		从右侧列表中选择添加你要填写的技能和证书
	</div>
	
	<div class="align_r" style="height: 20px; padding-right: 30px;">
		<span id="loading" style="display: none;">
			<img src="/images/loading_icon.gif" border="0" style="margin: 0px 2px -3px 0px;" />
			操作中 ... 
		</span>
	</div>
	
	<% form_tag "/students/#{@student.id}/update_skills", :method => :post, :id => "update_skill_form" do %>

		<table border="0" cellspacing="10" cellpadding="5" class="main_part_w" style="font-size: 14px;">
			<tbody id="skill_rows">
				<%= render :partial => "student_skill", :collection => @student_skills %>

				<tr>
					<td>

					</td>

					<td colspan="2">
						<input type="hidden" id="modified_skills" name="modified_skills" />
						<%= submit_tag "保存", :class => "button", :disabled => !@account_active %>
					</td>
				</tr>
			</tbody>
		</table>

	<% end %>
</div>

<div class="clear_r"></div>


<% content_for :scripts do %>
	<script language="JavaScript">
		var STUDENT_ID = <%= @student.id %>;
		var MODIFIED_SKILLS = [];
	</script>
	<script src="/javascripts/students/skill_pool.js" type="text/javascript" language="JavaScript"></script>
<% end %>
