<%
	no_photo = @photo.new_record?
	
	token = Time.now.to_i
	
	talent_page_title("编辑求职照")
%>


<h2 class="page_title">简历基本信息 - 求职照</h2>

<%= render :partial => "edit_nav", :locals => {:current_link => "edit_job_photo"} %>

<% if flash[:success_msg] %>
	<p class="success_msg">
	    <%= flash[:success_msg] %>
	</p>
<% end %>
<% if flash[:error_msg] %>
	<p class="error_msg">
	    <%= flash[:error_msg] %>
	</p>
<% end %>
<% if @photo.errors.size > 0 %>
	<p class="error_msg">
		<%= list_model_validate_errors(@photo) %>
	</p>
<% end %>

<div style="margin: 20px;">
	<% unless no_photo %>
		<img src="<%= @photo.image.url(:normal) %>?token=<%= token %>" class="float_l" style="margin-right: 25px;" border="0" />
	
		<div style="margin-bottom: 10px;">
			<% form_tag "/students/#{@student.id}/destroy_job_photo", :method => :post, :id => "del_photo_form" do %>
			<% end %>
			<a href="#" class="none" onclick="if(confirm('确定要删除求职照么 ?')) { document.getElementById('del_photo_form').submit(); }; return false;">
				删除求职照
				<img src="/images/teachers/delete_icon.gif" border="0" alt="删除" /></a>
		</div>
	<% end %>

	<% form_tag "/students/#{@student.id}/update_job_photo", :method => :post, :multipart => true do %>
		<div>
			<label for="image_file" style="margin-right: 15px; font-size: 13px;">上传求职照:</label>
			<input type="file" name="image_file" id="image_file" />
		</div>
		
		<div style="margin: 8px 0px;">
			<span class="info_with_icon">
				文件大小不超过 3M
			</span>
		</div>
		<div style="margin-bottom: 30px;">
			<%= submit_tag "上传求职照", :class => "button", :disabled => !@account_active %>
		</div>
	<% end %>
</div>

<% unless no_photo %>
	<table border="0" cellspacing="18" cellpadding="0" class="main_part_w">
		<tr>
			<td valign="top">
				<img src="<%= @photo.image.url(:large) %>?token=<%= token %>" id="crop_img" border="0" />
			</td>
			
			<td valign="top">
				<div style="width: <%= JobPhoto::Normal_W %>px; height: <%= JobPhoto::Normal_H %>px; overflow: hidden;">
					<img src="<%= @photo.image.url(:large) %>?token=<%= token %>" border="0" id="preview_img" />
				</div>
			</td>
			
			<td valign="top">
				<div class="info_with_icon" style="margin-bottom: 50px; background-position: left 1px;">
					拖拽或缩放大图中的虚线方格, 小图即为保存后的求职照
				</div>
				
				<% form_tag "/students/#{@student.id}/update_job_photo", :method => :post do %>
					<input type="hidden" id="crop_x" name="crop_x" />
					<input type="hidden" id="crop_y" name="crop_y" />
					<input type="hidden" id="crop_w" name="crop_w" />
					<input type="hidden" id="crop_h" name="crop_h" />

					<%= submit_tag "保存求职照", :class => "button", :disabled => !@account_active %>
				<% end %>
			</td>
		</tr>
	</table>
	
	
	<% content_for :scripts do %>
		<link href="/lib/Jcrop/css/jquery.Jcrop.css" rel="stylesheet" type="text/css" />
		<script src="/lib/Jcrop/js/jquery.Jcrop.min.js" type="text/javascript"></script>
		<script type="text/javascript">
			function update_preview(coords) {
				var rx = <%= JobPhoto::Normal_W %> / coords.w;
				var ry = <%= JobPhoto::Normal_H %> / coords.h;
				<% large_geometry = @photo.image_geometry(:large) %>
				var ratio = <%= @photo.image_geometry(:original).width %> / <%= large_geometry.width %>;

				$("#preview_img").css(
					{
						width: Math.round(rx * <%= large_geometry.width.to_i %>) + "px",
						height: Math.round(ry * <%= large_geometry.height.to_i %>) + "px",
						marginLeft: "-" + Math.round(rx * coords.x) + "px",
						marginTop: "-" + Math.round(ry * coords.y) + "px"
					}
				);
				$("#crop_x").val(Math.round(coords.x * ratio));
				$("#crop_y").val(Math.round(coords.y * ratio));
				$("#crop_w").val(Math.round(coords.w * ratio));
				$("#crop_h").val(Math.round(coords.h * ratio));
			}

			$(
				function() {
					$("#crop_img").Jcrop(
						{
							onSelect: update_preview,
							onChange: update_preview,
							setSelect: [0, 0, 90*6, 110*6],
							aspectRatio: <%= JobPhoto::Normal_W %>/<%= JobPhoto::Normal_H %>
						}
					);
				}
			);
		</script>
	<% end %>
<% end %>
