<% talent_page_title("修改学生密码 - 我的设置") %>


<h2>我的设置 - 修改密码</h2>

<%= render :partial => "setting_nav", :locals => {:current_link => "edit"} %>

<% if flash[:success_msg] %>
	<p class="success_msg">
	    <%= flash[:success_msg] %>
	</p>
<% end %>
<% if flash[:error_msg] %>
	<p class="error_msg">
	    <%= flash[:error_msg] %>
	</p>
<% end %>
<% if @student.errors.size > 0 %>
	<p class="error_msg">
		<%= list_model_validate_errors(@student) %>
	</p>
<% end %>

<% form_tag "/students/#{@student.id}", :method => :put do %>

	<table border="0" cellspacing="10" cellpadding="5" style="font-size: 14px;">
		<tr>
			<td style="width: 100px;">
				学号
			</td>
			
			<td>
				<%= @student.number %>
			</td>
		</tr>
		
		<tr>
			<td>
				<label for="current_password">
					当前密码<%= required_mark %>
				</label>
			</td>
			
			<td>
				<input type="password" id="current_password" name="current_password" class="text_field" size="30" />
			</td>
		</tr>
		
		<tr>
			<td>
				<label for="password">
					新密码<%= required_mark %>
				</label>
			</td>
			
			<td>
				<input type="password" id="password" name="password" class="text_field" size="30" />
			</td>
		</tr>
		
		<tr>
			<td>
				<label for="password_confirmation">
					确认密码<%= required_mark %>
				</label>
			</td>
			
			<td>
				<input type="password" id="password_confirmation" name="password_confirmation" class="text_field" size="30" />
			</td>
		</tr>
		
		<tr>
			<td>
				
			</td>
			
			<td>
				<%= submit_tag "修改密码", :class => "button", :disabled => !@account_active %>
			</td>
		</tr>
	</table>
	
<% end %>
