<% talent_page_title("企业黑名单") %>


<h2 class="page_title">企业黑名单</h2>

<div class="blocked_corps_title">
	<a class="float_r none" href="/students/<%= @student.id %>/blocked_corps">
		返回当前企业黑名单</a>
		
	添加企业到黑名单:
</div>

<div class="blocked_corps_search_form">
	<% form_tag "", :method => :get do %>
		<div>
			<span class="field">
				<label for="nature_id">
					性质:
				</label>
				<select name="n" id="nature_id" class="dropdown_list">
					<option value=""<%= %Q! selected="selected"! if @nature_id.blank? %>>不限性质</option>
					<% CorporationNature.data.each do |nature| %>
						<option value="<%= nature[:id] %>"<%= %Q! selected="selected"! if @nature_id == nature[:id].to_s %>><%= nature[:name] %></option>
					<% end %>
				</select>
			</span>
			
			<span class="field">
				<label for="size_id">
					规模:
				</label>
				<select name="s" id="size_id" class="dropdown_list">
					<option value=""<%= %Q! selected="selected"! if @size_id.blank? %>>不限规模</option>
					<% CorporationSize.data.each do |size| %>
						<option value="<%= size[:id] %>"<%= %Q! selected="selected"! if @size_id == size[:id].to_s %>><%= size[:name] %></option>
					<% end %>
				</select>
			</span>
			
			<span class="field">
				<label for="industry_id">
					行业:
				</label>
				<select name="i" id="industry_id" class="dropdown_list">
					<option value=""<%= %Q! selected="selected"! if @industry_id.blank? %>>不限行业</option>
					<% CorporationIndustry.data.each do |industry| %>
						<option value="<%= industry[:id] %>"<%= %Q! selected="selected"! if @industry_id == industry[:id].to_s %>><%= industry[:name] %></option>
					<% end %>
				</select>
			</span>
			
			<% if false %>
			<span class="field">
				<label for="province_id">
					所在地:
				</label>
				<select name="p" id="province_id" class="dropdown_list">
					<option value=""<%= %Q! selected="selected"! if @province_id.blank? %>>不限所在地</option>
					<% Province.data.each do |province| %>
						<option value="<%= province[:id] %>"<%= %Q! selected="selected"! if @province_id == province[:id].to_s %>><%= province[:name] %></option>
					<% end %>
				</select>
			</span>
			<% end %>
		</div>

		<div style="margin-top: 15px;">
			<span class="field">
				<label for="keyword">
					关键词:
				</label>
				<input type="text" id="keyword" name="k" class="text_field" size="25" value="<%= h(@keyword) %>" />
			</span>
		</div>
		
		<div class="align_r" style="margin-right: 50px;">
			<input type="submit" value="查找企业" class="button" />
		</div>
	<% end %>
</div>

<div>
	<% form_tag "/students/#{@student.id}/create_blocked_corp", :method => :post, :id => "create_blocked_corp_form" do %>
		<input type="hidden" id="corporation_id" name="corporation_id" />
	<% end %>
	
	<script language="JavaScript">
		function create_blocked_corp(corp_id, corp_name) {
			if(confirm("确定要将企业 " + corp_name + " 添加到黑名单么 ?")) {
				document.getElementById("corporation_id").value = corp_id;
				document.getElementById("create_blocked_corp_form").submit();
			}
		}
	</script>
	
	<table border="0" cellspacing="0" cellpadding="0" class="main_part_w list" style="font-size: 14px;">
		<thead>
			<tr>
				<td>企业名称</td>
				<td style="width: 120px;">操作</td>
			</tr>
		</thead>

		<tbody>
			<%= render :partial => "corporation", :collection => @corporations %>
		</tbody>
	</table>

	<%= paging_buttons(@corporations) %>
</div>
