<%
	views ||= []
	views_style ||= {}
	hide ||= []
	hide_dataset = hide.include?(:dataset)
	hide_order = hide.include?(:order)
	hide_limit = hide.include?(:limit)
	hide_views = hide.include?(:views)
	
	hide_student = hide.include?(:student)
	hide_tag = hide.include?(:tag)
	hide_skill = hide.include?(:skill)
	
	period = %Q!#{@from.strftime("%Y%m%d")}#{TeacherStatisticsController::Date_Range_Splitter}#{@to.strftime("%Y%m%d")}!
	compare = @compared_from && @compared_from.strftime("%Y%m%d")
	graduation = h(@graduation)
	
	if @skill
		skill = @skill[:id].to_s
		skill += @skill_value.to_s if @skill_value
	end
	
	keyword = h(@keyword)
%>


<% form_tag "", :method => :get, :id => "refresh_form" do %>
	<input type="hidden" id="period" name="period" value="<%= period %>" />
	<input type="hidden" id="compare" name="compare" value="<%= compare %>" />
	
	<% unless hide_dataset %>
		<input type="hidden" id="q" name="q" value="<%= "f" unless @q %>" />
		<input type="hidden" id="v" name="v" value="<%= "f" unless @v %>" />
	<% end %>
	
	<input type="hidden" id="view" name="view" value="<%= @view %>" />
	
	<input type="hidden" id="level" name="level" value="<%= @level && @level[:id] %>" />
	<input type="hidden" id="graduation" name="graduation" value="<%= graduation %>" />
	<input type="hidden" id="college" name="college" value="<%= @college && @college[:id] %>" />
	<input type="hidden" id="major" name="major" value="<%= @major && @major[:id] %>" />
	<% unless hide_student %>
		<input type="hidden" id="student" name="student" value="<%= @student && @student.id %>" />
	<% end %>
	
	<input type="hidden" id="corp" name="corp" value="<%= @corp && @corp.id %>" />
	<input type="hidden" id="domain" name="domain" value="<%= @domain && @domain[:id] %>" />
	<% unless hide_tag %>
		<input type="hidden" id="tag" name="tag" value="<%= @tag && @tag[:id] %>" />
	<% end %>
	<% unless hide_skill %>
		<input type="hidden" id="skill" name="skill" value="<%= skill %>" />
	<% end %>
	<input type="hidden" id="keyword" name="keyword" value="<%= keyword %>" />
	
	<% unless hide_order %>
		<input type="hidden" id="order" name="order" value="<%= @order %>" />
	<% end %>
	<% unless hide_limit %>
		<input type="hidden" id="limit" name="limit" value="<%= @limit %>" />
	<% end %>
<% end %>


<div>
	<table border="0" cellspacing="0" cellpadding="0" class="main_part_w">
		<tr>
			<td style="width: 35px;">时段:</td>
			<td style="width: 250px; height: 30px;">
				<input type="text" id="date_range" class="text_field" style="width: 180px;" />
			</td>

			<td>
				<a href="#" class="none" title="与其他时段进行对比" id="compare_link">
					<img alt="对比" src="/images/teachers/compare_icon.gif" border="0" style="margin: 0px 2px -3px 0px;" />
					对比时段</a>
				<% if @compared_from %>
					<span style="color: #333333; margin-right: 1px;">
						:
						<%= @compared_from.strftime("%y年%m月%d日") %>
					</span>
					<a href="#" title="清除对比" id="remove_compare_link">
						<img alt="清除" src="/images/teachers/delete_icon.gif" border="0" /></a>
				<% end %>
			</td>
			
			<% unless hide_dataset %>
				<td style="width: 35px;" align="right">数据:</td>
				<td style="width: 90px;" align="right">
					<a href="#" class="none" onclick="change_dataset('q', '<%= "f" if @q %>'); return false;" title="<%= @q ? "隐藏" : "显示" %> <%= @query_dataset_name %>">
						<img alt="<%= @q ? "隐藏" : "显示" %>" src="/images/teachers/<%= "un" unless @q %>checked_icon.gif" border="0" style="margin-bottom: -2px;" />
						<span style="color: <%= @query_dataset_color %>">
							<%= @query_dataset_name %>
						</span>
					</a>
				</td>
				<td style="width: 90px;" align="right">
					<a href="#" class="none" onclick="change_dataset('v', '<%= "f" if @v %>'); return false;" title="<%= @v ? "隐藏" : "显示" %> <%= @view_dataset_name %>">
						<img alt="<%= @v ? "隐藏" : "显示" %>" src="/images/teachers/<%= "un" unless @v %>checked_icon.gif" border="0" style="margin-bottom: -2px;" />
						<span style="color: <%= @view_dataset_color %>">
							<%= @view_dataset_name %>
						</span>
					</a>
				</td>
				<td style="width: 30px;"></td>
			<% end %>
		</tr>
	</table>
</div>


<div style="margin: 8px 0px;">
	<%
		filters = [
			["corp", "企业"],
			
			["level", "教育水平"],
			["graduation", "毕业时间"],
			
			["college", "学院"],
			["major", "专业"],
			["student", "学生"],
			
			["domain", "求职方向"],
			["tag", "经历标签"],
			
			["skill", "技能和证书"]
		]
	%>
	<table border="0" cellspacing="0" cellpadding="0" class="main_part_w">
		<tr>
			<td style="width: 75px;" valign="top">
				<a href="#" id="filters_link" class="none">
					<img alt="过滤" src="/images/teachers/filter_icon.gif" border="0" style="margin-bottom: -2px;" />
					过滤数据:</a>
					
				<div class="dropdown_menu" style="font-size: 12px;">
					<ul class="dropdown_sub_menu">
						<%
							filters_in_menu = filters
							filters_in_menu = filters_in_menu[0..4] + filters_in_menu[6..-1] if @q
							filters_in_menu = filters_in_menu[0..-3] if @v
						%>
						<% filters_in_menu.each do |filter| %>
							<% unless hide.include?(filter[0].to_sym) %>
								<%# record = self.instance_variable_get("@#{filter[0]}") %>
								<%# if record.blank? %>
									<li>
										<a href="#" class="<%= filter[0] %>_filter_link">
											<%= filter[1] %></a>
									</li>
								<%# end %>
							<% end %>
						<% end %>
					</ul>
				</div>
			</td>

			<td>
				<% no_filter = true %>
				<% filters[0..-2].each do |filter| %>
					<% record = self.instance_variable_get("@#{filter[0]}") %>
					<% unless record.blank? %>
						<%
							record_name = if record.kind_of?(String)
								record
							elsif record.respond_to?(:name)
								if record.respond_to?(:uid)
									h(record.get_name)
								else
									h(record.name)
								end
							else
								record[:name]
							end
						%>
						
						<% unless no_filter %>
							<span class="info" style="margin: 0px 5px;">|</span>
						<% end %>
						<% no_filter = false %>
						
						<a href="#" class="none <%= filter[0] %>_filter_link" title="过滤<%= filter[1] %>">
							<%= filter[1] %></a>
						<span title="<%= record_name %>" style="color: #333333; margin-right: 1px;">
							:
							<%= truncate(record_name, :length => 20) %>
						</span>
						<a href="#" title="清除过滤<%= filter[1] %>" id="remove_<%= filter[0] %>_filter_link">
							<img alt="清除" src="/images/teachers/delete_icon.gif" border="0" /></a>
					<% end %>
				<% end %>
				
				
				<% unless @skill.blank? %>
					<%
						skill_data_array = @skill[:data].collect { |data|
							data_id = "#{@skill[:id]}#{data[:value]}"
							data_name = data[:label].blank? ? "不限" : data[:label]
							%Q!{id:#{data_id}, name:'#{data_name}'}!
						}.join(",")
						
						if @skill_value
							clear_skill_value_item = "{id:#{@skill[:id]}, name:'取消过滤 #{@skill[:name]}'}"
							clear_skill_value_item += "," unless skill_data_array.blank?
							skill_data_array = clear_skill_value_item + skill_data_array
						end
					%>
					
					<% unless no_filter %>
						<span class="info" style="margin: 0px 5px;">|</span>
					<% end %>
					<% no_filter = false %>

					<a href="#" class="none skill_filter_link" title="过滤技能和证书">
						技能和证书</a>
					<span title="<%= @skill[:name] %>" style="color: #333333; margin-right: 1px;">
						:
						<a href="#" class="none" onclick="show_static_filter_dialog('skill', [<%= skill_data_array %>], '过滤<%= @skill[:name] %>'); return false;">
							<%= truncate(@skill[:name], :length => 20) %></a>
							
						<% if @skill_value %>
							<% skill_value_label = SkillValueTypes.get_type(@skill[:value_type]).render_label(@skill[:data], @skill_value) %>
							-
							<%= skill_value_label.blank? ? "不限" : skill_value_label %>
						<% end %>
					</span>
					<a href="#" title="清除过滤技能和证书" id="remove_skill_filter_link">
						<img alt="清除" src="/images/teachers/delete_icon.gif" border="0" /></a>
				<% end %>
				
				
				<% unless @keyword.blank? %>
					<% unless no_filter %>
						<span class="info" style="margin: 0px 5px;">|</span>
					<% end %>
					<% no_filter = false %>
					
					<span title="<%= keyword %>" style="color: #333333; margin-right: 1px;">
						关键词:
						<%= truncate(keyword, :length => 20) %>
					</span>
					<a href="#" title="清除过滤关键词" id="remove_keyword_filter_link">
						<img alt="清除" src="/images/teachers/delete_icon.gif" border="0" /></a>
				<% end %>
				
				
				<% if no_filter %>
					<div class="info">
						(无)
					</div>
				<% end %>
			</td>
		</tr>
	</table>
</div>


<div style="margin-bottom: 8px;">
	<table border="0" cellspacing="0" cellpadding="0" class="main_part_w">
		<tr>
			<td style="height: 21px;">&nbsp;</td>
			
			<% unless hide_limit %>
				<td style="width: 35px;">行数:</td>
				<td style="width: 30px;">
					<div id="limit_slider_label"></div>
				</td>
				<td style="width: 200px;">
					<div id="limit_slider"></div>
				</td>
				<td style="width: 30px;"></td>
			<% end %>
			
			<% unless hide_order %>
				<% asc = (@order == "asc") %>
				<td style="width: 35px;">排序:</td>
				<td style="width: 85px;">
					<% if asc %>
						<a href="#" title="改为从多到少" class="none" onclick="change_order('desc'); return false;">
							从少到多
							<img alt="升序" src="/images/teachers/asc_icon.gif" border="0" style="margin-bottom: -1px;" />
						</a>
					<% else %>
						<a href="#" title="改为从少到多" class="none" onclick="change_order('asc'); return false;">
							从多到少
							<img alt="降序" src="/images/teachers/desc_icon.gif" border="0" style="margin-bottom: -1px;" />
						</a>
					<% end %>
				</td>
			<% end %>
			
			<% unless hide_views %>
				<td style="width: 35px;">视图:</td>
				<% views.each do |view| %>
					<td style="width: <%= views_style[:width] || "25" %>px;">
						<a href="#" title="<%= view[1] %>" id="view_link_<%= view[0] %>" class="view_link">
							<img alt="<%= view[1] %>" src="/images/teachers/view_icons/<%= view[0] %>_view<%= "_selected" if view[0] == @view %>_icon.gif" border="0" /></a>
					</td>
				<% end %>
		
				<td style="width: <%= views_style[:right] || "50" %>px;"></td>
			<% end %>
		</tr>
	</table>
</div>
