<%
	corporation = viewed_resume.corporation
	resume = viewed_resume.resume
	student = resume.student
%>

<tr<%= %Q! class="odd"! if viewed_resume_counter.odd? %>>
	<td class="datetime">
		<%= format_datetime(viewed_resume.updated_at) %>
	</td>
	
	<td>
		<a href="#" title="查看企业的数据统计" class="none operation_link">
			<%= h(corporation.get_name) %></a>
			
		<div class="dropdown_menu" style="font-size: 12px;">
			<ul class="dropdown_sub_menu">
				<% TeacherStatisticsHelper.corp_filter_menus.each do |menu| %>
					<li>
						<a target="_blank" href="/teachers/<%= @teacher.id %>/statistics<%= menu[0] %>?corp=<%= viewed_resume.corporation_id %>">
							<%= menu[1] %></a>
					</li>
				<% end %>
			</ul>
		</div>
	</td>
	
	<td>
		<%= h(student.name) %>
	</td>
	
	<td>
		<%=
			domain = ResumeDomain.find(resume.domain_id)
			domain && domain[:name]
		%>
	</td>
	
	<td>
		<% if student.college_id.blank? %>
			<span class="info">不限学院</span>
		<% else %>
			<% college = College.find(@school.abbr, student.college_id) %>
			<%= college && college[:name] %>
		<% end %>
	</td>
	
	<td>
		<% if student.college_id.blank? || student.major_id.blank? %>
			<span class="info">不限专业</span>
		<% else %>
			<% major = Major.find(student.college_id, student.major_id) %>
			<%= major && major[:name] %>
		<% end %>
	</td>
	
	<td>
		<% if student.edu_level_id.blank? %>
			<span class="info">不限</span>
		<% else %>
			<% edu_level = EduLevel.find(student.edu_level_id) %>
			<%= edu_level && edu_level[:name] %>
		<% end %>
	</td>
	
	<td>
		<% if student.graduation_year.blank? %>
			<span class="info">不限</span>
		<% else %>
			<%= student.graduation_year %> 年
		<% end %>
	</td>
	
	<td>
		<a title="查看这份简历" target="_blank" href="/teachers/<%= @teacher.id %>/students/<%= resume.id %>/resume" class="none">
			<img src="/images/students/preview_resume_icon.gif" border="0" alt="查看简历" /></a>
	</td>
</tr>
