<% talent_page_title("学院统计") %>


<h2>学院统计</h2>

<%=
	render(
		:partial => "filters",
		:locals => {
			:views => [["bar", "查看柱图"], ["pie", "查看饼图"]],
			:views_style => {:width => 21, :right => 8},
			:hide => [:dataset]
		}
	)
%>

<div>
	<% graph_width = 350 %>
	<table border="0" cellspacing="0" cellpadding="0" class="main_part_w grid">
		<thead>
			<tr>
				<td style="width: 25px;"></td>
				<td>学院</td>
				<td>查看简历数</td>
				<td style="width: <%= graph_width %>px;"></td>
			</tr>
		</thead>
		
		<tbody>
			<%
				no = 0
				percent_format = "%.1f"
			%>
			<% @counts.each_with_groupby_and_count do |record, group, count| %>
				<tr>
					<%
						no += 1
						college = College.find(@school.abbr, group)
					%>

					<td align="center"><%= no %></td>

					<td>
						<%= college[:name] %>
					</td>

					<td align="right" style="font-weight: bold;">
						<%= count %>
					</td>

					<td>
						<% 
							width = (graph_width-50) * (count.to_f/@max)
						%>
						<div class="graph_bar" style="background-color: #FF6600; width: <%= width.round %>px;"></div>
						<%= percent_format % ((count.to_f/@total_count)*100) %>%
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<div>
	<%#= render(
		:partial => "ofc",
		:locals => {
			:chart_id => "time_chart",
			:height => 200,
			:data => @chart_data
		}
	) %>
</div>


<%= render :partial => "scripts", :locals => {:slider => true} %>
