<%
	talent_page_title("时段统计")
	
	current_date_range = @period.split(
		TeacherStatisticsController::Date_Range_Splitter,
		2
	).collect { |date|
		"#{date[2,2]}年#{date[4,2].to_i}月#{date[6,2].to_i}日"
	}.join(" #{TeacherStatisticsController::Date_Range_Splitter} ")
%>


<h2>时段统计</h2>

<% form_tag "", :method => :get, :id => "counts_form" do %>
	<input type="hidden" id="view" name="view" value="<%= h(@view) %>" />
	<input type="hidden" id="period" name="period" value="<%= h(@period) %>" />
<% end %>

<div class="align_r">
	<table border="0" cellspacing="0" cellpadding="0" class="main_part_w">
		<tr>
			<td style="width: 60px;" align="left">选择时段:</td>
			<td style="height: 30px;" align="left">
				<input type="text" id="date_range" class="text_field" value="<%= current_date_range %>" />
			</td>
		
			<td style="width: 80px;" align="right">选择视图:</td>
			<td style="width: 10px;"></td>
			<% [["day", "天"], ["week", "周"], ["month", "月"]].each do |view| %>
				<td style="width: 25px;">
					<a href="#" title="按每<%= view[1] %>查看" class="view_link_<%= view[0] %>">
						<img alt="按每<%= view[1] %>查看" src="/images/teachers/view_icons/<%= view[0] %>_view<%= "_selected" if view[0] == @view %>_icon.gif" border="0" /></a>
				</td>
			<% end %>
		
			<td style="width: 50px;"></td>
		</tr>
	</table>
</div>

<div style="margin: 20px 0px 30px;">
	<%= render(
		:partial => "ofc",
		:locals => {
			:chart_id => "counts_chart",
			:height => 200,
			:data => @chart_data
		}
	) %>
</div>

<div>
	<table border="0" cellspacing="0" cellpadding="0" class="main_part_w grid">
		<thead>
			<tr>
				<td style="width: 250px;">时间</td>
				<td>企业搜索数</td>
				<td>查看简历数</td>
			</tr>
		</thead>
		
		<tbody>
			<% @dots.each_index do |i| %>
				<%
					first, last = @dots[i]
					query_value = @query_values[i][:value]
					view_value = @view_values[i][:value]
				%>
				<tr<%= %Q! class="odd"! if i.odd? %>>
					<td align="center">
						<%= first.strftime("%Y年%m月%d日") %>
						<% unless first == last %>
							<span style="margin: 0px 5px;">-</span>
							<%= last.strftime("%Y年%m月%d日") %>
						<% end %>
					</td>
					
					<td align="right">
						<span<%= %Q! class="info"! unless query_value > 0 %>>
							<%= query_value %>
						</span>
					</td>
					
					<td align="right">
						<span<%= %Q! class="info"! unless view_value > 0 %>>
							<%= view_value %>
						</span>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>


<link href="/lib/jquery/css/cupertino/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="/lib/jquery/jquery.min.js" type="text/javascript" language="JavaScript"></script>
<script src="/lib/jquery/ui/jquery-ui.datepicker.min.js" type="text/javascript" language="JavaScript"></script>
<link href="/lib/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
<script src="/lib/daterangepicker/daterangepicker.js" type="text/javascript" language="JavaScript"></script>
<script language="JavaScript">
	var TEACHER_ID = <%= @teacher.id %>;
	
	var VIEW = "<%= @view %>";
</script>
<script src="/javascripts/teachers/counts.js" type="text/javascript" language="JavaScript"></script>
<link href="/lib/dialog/css/dialog.css" rel="stylesheet" type="text/css" />
<script src="/lib/dialog/dialog.js" type="text/javascript" language="JavaScript"></script>
