<%
	talent_page_title("查询数目统计")
	
	comparing = !@compare.blank?
%>


<h2>查询数目统计</h2>

<% form_tag "", :method => :get, :id => "refresh_form" do %>
	<input type="hidden" id="view" name="view" value="<%= h(@view) %>" />
	<input type="hidden" id="period" name="period" value="<%= h(@period) %>" />
	<input type="hidden" id="q" name="q" value="<%= "f" unless @q %>" />
	<input type="hidden" id="v" name="v" value="<%= "f" unless @v %>" />
	<input type="hidden" id="compare" name="compare" value="<%= h(@compare) %>" />
	<input type="hidden" id="corp" name="corp" value="<%= h(@corp) %>" />
<% end %>

<div>
	<table border="0" cellspacing="0" cellpadding="0" class="main_part_w">
		<tr>
			<td style="width: 35px;">时段:</td>
			<td style="width: 250px; height: 30px;">
				<input type="text" id="date_range" class="text_field" style="width: 180px;" />
			</td>
			
			<td style="width: 180px;">
				<a href="#" class="none" title="与其他时段进行对比" id="compare_link">
					<img alt="对比" src="/images/teachers/compare_icon.png" border="0" style="margin: 0px 1px -1px 0px;" />
					对比</a>
				
				<% if comparing %>
					<span style="color: #555555; margin-right: 1px;">
						:
						<%= "#{@compare[2, 2]}年#{@compare[4, 2].to_i}月#{@compare[6, 2].to_i}日" %>
					</span>
					<a href="#" title="清除对比" id="remove_compare_link">
						<img alt="清除" src="/images/teachers/delete_icon.gif" border="0" /></a>
				<% end %>
			</td>
			
			<td align="right">
				<a href="#" class="none" title="过滤企业" id="filter_corp_link">
					<img alt="过滤" src="/images/teachers/filter_icon.gif" border="0" style="margin: 0px 1px -1px 0px;" />
					过滤</a>
			</td>
		</tr>
	</table>
</div>

<div>
	<table border="0" cellspacing="0" cellpadding="0" class="main_part_w">
		<tr>
			<td align="right">
				<a href="#" class="none" onclick="change_line('q', '<%= "f" if @q %>'); return false;" title="<%= @q ? "隐藏" : "显示" %> <%= @query_line_name %>" style="color: <%= @query_line_color %>">
					<img alt="<%= @q ? "隐藏" : "显示" %>" src="/images/teachers/<%= "un" unless @q %>checked_icon.gif" border="0" style="margin-bottom: -2px;" />
					<%= @query_line_name %></a>
			</td>
			<td style="width: 100px;" align="right">
				<a href="#" class="none" onclick="change_line('v', '<%= "f" if @v %>'); return false;" title="<%= @v ? "隐藏" : "显示" %> <%= @view_line_name %>" style="color: <%= @view_line_color %>">
					<img alt="<%= @v ? "隐藏" : "显示" %>" src="/images/teachers/<%= "un" unless @v %>checked_icon.gif" border="0" style="margin-bottom: -2px;" />
					<%= @view_line_name %></a>
			</td>
			
			<td style="width: 60px;" align="right">视图:</td>
			<td style="width: 10px;"></td>
			<% [["day", "天"], ["week", "周"], ["month", "月"]].each do |view| %>
				<td style="width: 25px;">
					<a href="#" title="按每<%= view[1] %>查看" class="view_link_<%= view[0] %>">
						<img alt="按每<%= view[1] %>查看" src="/images/teachers/view_icons/<%= view[0] %>_view<%= "_selected" if view[0] == @view %>_icon.gif" border="0" /></a>
				</td>
			<% end %>
		
			<td style="width: 50px;"></td>
		</tr>
	</table>
</div>

<% if !(@q || @v) %>
	<br />
<% end %>

<div>
	<%= render(
		:partial => "ofc",
		:locals => {
			:chart_id => "counts_chart",
			:height => 200,
			:data => @chart_data
		}
	) %>
</div>

<div style="margin-top: 30px;">
	<table border="0" cellspacing="0" cellpadding="0" class="main_part_w grid">
		<thead>
			<tr>
				<td style="width: 120px;">时间</td>
				<% if @q %>
					<td style="color: <%= @query_line_color %>">
						<%= @query_line_name %>
					</td>
					
					<% if comparing %>
						<td style="color: <%= @query_line_color %>">
							对比数
						</td>
						<td style="color: <%= @query_line_color %>">
							变化率
						</td>
					<% end %>
				<% end %>
				<% if @v %>
					<td style="color: <%= @view_line_color %>">
						<%= @view_line_name %>
					</td>
					
					<% if comparing %>
						<td style="color: <%= @view_line_color %>">
							对比数
						</td>
						<td style="color: <%= @view_line_color %>">
							变化率
						</td>
					<% end %>
				<% end %>
				<% if comparing %>
					<td style="width: 120px;">对比时间</td>
				<% end %>
			</tr>
		</thead>
		
		<tbody>
			<% @dots.each_index do |i| %>
				<tr<%= %Q! class="odd"! if i.odd? %>>
					<td align="center">
						<% first, last = @dots[i] %>
						
						<%= first.strftime("%y.%m.%d") %>
						<% unless first == last %>
							-
							<%= last.strftime("%y.%m.%d") %>
						<% end %>
					</td>
					
					<% if @q %>
						<td align="right" style="color: <%= @query_line_color %>; font-weight: bold;">
							<% query_value = @query_values[i][:value] %>
							<span<%= %Q! class="info"! unless query_value > 0 %>>
								<%= query_value %>
							</span>
						</td>
						
						<% if comparing %>
							<td align="right" style="color: <%= @query_line_color %>; font-weight: bold;">
								<% compared_query_value = @compared_query_values[i][:value] %>
								<span<%= %Q! class="info"! unless compared_query_value > 0 %>>
									<%= compared_query_value %>
								</span>
							</td>
							
							<td align="right" style="color: <%= @query_line_color %>;">
								<%= @query_diffs[i] %>
							</td>
						<% end %>
					<% end %>
					
					<% if @v %>
						<td align="right" style="color: <%= @view_line_color %>; font-weight: bold;">
							<% view_value = @view_values[i][:value] %>
							<span<%= %Q! class="info"! unless view_value > 0 %>>
								<%= view_value %>
							</span>
						</td>
						
						<% if comparing %>
							<td align="right" style="color: <%= @view_line_color %>; font-weight: bold;">
								<% compared_view_value = @compared_view_values[i][:value] %>
								<span<%= %Q! class="info"! unless compared_view_value > 0 %>>
									<%= compared_view_value %>
								</span>
							</td>
							
							<td align="right" style="color: <%= @view_line_color %>;">
								<%= @view_diffs[i] %>
							</td>
						<% end %>
					<% end %>
					
					<% if comparing %>
						<td align="center">
							<% compared_first, compared_last = @compared_dots[i] %>

							<%= compared_first.strftime("%y.%m.%d") %>
							<% unless compared_first == compared_last %>
								-
								<%= compared_last.strftime("%y.%m.%d") %>
							<% end %>
						</td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>


<link href="/lib/jquery/css/cupertino/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="/lib/jquery/jquery.min.js" type="text/javascript" language="JavaScript"></script>
<script src="/lib/jquery/ui/jquery-ui.datepicker.min.js" type="text/javascript" language="JavaScript"></script>
<link href="/lib/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
<script src="/lib/daterangepicker/daterangepicker.js" type="text/javascript" language="JavaScript"></script>
<script language="JavaScript">
	var TEACHER_ID = <%= @teacher.id %>;
</script>
<script src="/javascripts/teachers/statistics.js" type="text/javascript" language="JavaScript"></script>
<link href="/lib/dialog/css/dialog.css" rel="stylesheet" type="text/css" />
<script src="/lib/dialog/dialog.js" type="text/javascript" language="JavaScript"></script>
