<% talent_page_title("查询数目统计") %>


<h2>查询数目统计</h2>

<% form_tag "", :method => :get, :id => "refresh_form" do %>
	<input type="hidden" id="view" name="view" value="<%= h(@view) %>" />
	<input type="hidden" id="period" name="period" value="<%= h(@period) %>" />
	<input type="hidden" id="q" name="q" value="<%= "f" unless @q %>" />
	<input type="hidden" id="v" name="v" value="<%= "f" unless @v %>" />
<% end %>

<div>
	<table border="0" cellspacing="0" cellpadding="0" class="main_part_w">
		<tr>
			<td style="width: 35px;">时段:</td>
			<td style="width: 180px; height: 30px;">
				<input type="text" id="date_range" class="text_field" style="width: 180px;" />
			</td>
			
			<td style="width: 100px;" align="center">
				对比
			</td>
			
			<td>对比时段</td>
		</tr>
	</table>
</div>

<div>
	<table border="0" cellspacing="0" cellpadding="0" class="main_part_w">
		<tr>
			<td align="right">
				<a href="#" class="none" onclick="change_line('q', '<%= "f" if @q %>'); return false;" title="<%= @q ? "隐藏" : "显示" %> <%= @query_line_name %>" style="color: <%= @query_line_color %>">
					<img alt="<%= @q ? "隐藏" : "显示" %>" src="/images/teachers/<%= "un" unless @q %>checked_icon.gif" border="0" style="margin-bottom: -2px;" />
					<%= @query_line_name %></a>
			</td>
			<td style="width: 100px;" align="right">
				<a href="#" class="none" onclick="change_line('v', '<%= "f" if @v %>'); return false;" title="<%= @v ? "隐藏" : "显示" %> <%= @view_line_name %>" style="color: <%= @view_line_color %>">
					<img alt="<%= @v ? "隐藏" : "显示" %>" src="/images/teachers/<%= "un" unless @v %>checked_icon.gif" border="0" style="margin-bottom: -2px;" />
					<%= @view_line_name %></a>
			</td>
			
			<td style="width: 60px;" align="right">视图:</td>
			<td style="width: 10px;"></td>
			<% [["day", "天"], ["week", "周"], ["month", "月"]].each do |view| %>
				<td style="width: 25px;">
					<a href="#" title="按每<%= view[1] %>查看" class="view_link_<%= view[0] %>">
						<img alt="按每<%= view[1] %>查看" src="/images/teachers/view_icons/<%= view[0] %>_view<%= "_selected" if view[0] == @view %>_icon.gif" border="0" /></a>
				</td>
			<% end %>
		
			<td style="width: 50px;"></td>
		</tr>
	</table>
</div>

<% if !(@q || @v) %>
	<br />
<% end %>

<div>
	<%= render(
		:partial => "ofc",
		:locals => {
			:chart_id => "counts_chart",
			:height => 200,
			:data => @chart_data
		}
	) %>
</div>

<div style="margin-top: 30px;">
	<table border="0" cellspacing="0" cellpadding="0" class="main_part_w grid">
		<thead>
			<tr>
				<td style="width: 250px;">时间</td>
				<% if @q %>
					<td><%= @query_line_name %></td>
				<% end %>
				<% if @v %>
					<td><%= @view_line_name %></td>
				<% end %>
			</tr>
		</thead>
		
		<tbody>
			<% @dots.each_index do |i| %>
				<% first, last = @dots[i] %>
				<tr<%= %Q! class="odd"! if i.odd? %>>
					<td align="center">
						<%= first.strftime("%Y年%m月%d日") %>
						<% unless first == last %>
							<span style="margin: 0px 5px;">-</span>
							<%= last.strftime("%Y年%m月%d日") %>
						<% end %>
					</td>
					
					<% if @q %>
						<td align="right">
							<% query_value = @query_values[i][:value] %>
							<span<%= %Q! class="info"! unless query_value > 0 %>>
								<%= query_value %>
							</span>
						</td>
					<% end %>
					
					<% if @v %>
						<td align="right">
							<% view_value = @view_values[i][:value] %>
							<span<%= %Q! class="info"! unless view_value > 0 %>>
								<%= view_value %>
							</span>
						</td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>


<link href="/lib/jquery/css/cupertino/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="/lib/jquery/jquery.min.js" type="text/javascript" language="JavaScript"></script>
<script src="/lib/jquery/ui/jquery-ui.datepicker.min.js" type="text/javascript" language="JavaScript"></script>
<link href="/lib/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
<script src="/lib/daterangepicker/daterangepicker.js" type="text/javascript" language="JavaScript"></script>
<script language="JavaScript">
	var TEACHER_ID = <%= @teacher.id %>;
	
	var PERIOD = "<%= @period %>";
	var VIEW = "<%= @view %>";
</script>
<script src="/javascripts/teachers/statistics.js" type="text/javascript" language="JavaScript"></script>
<link href="/lib/dialog/css/dialog.css" rel="stylesheet" type="text/css" />
<script src="/lib/dialog/dialog.js" type="text/javascript" language="JavaScript"></script>
