<% talent_page_title("时段统计") %>


<h2 class="page_title">时段统计</h2>

<%=
	render(
		:partial => "filters",
		:locals => {
			:views => [["day", "按每天查看"], ["week", "按每周查看"], ["month", "按每月查看"]],
			:views_style => {:width => 25, :right => 50},
			:hide => [:order, :limit]
		}
	)
%>

<div>
	<%= render(
		:partial => "ofc",
		:locals => {
			:chart_id => "time_chart",
			:height => 200,
			:data => @chart_data
		}
	) %>
</div>

<div style="margin-top: 30px;">
	<table id="chart_data_list" border="0" cellspacing="0" cellpadding="0" class="main_part_w grid">
		<thead>
			<tr>
				<td style="width: 120px;">时间</td>
				<% if @q %>
					<td style="color: <%= @query_dataset_color %>">
						<%= @query_dataset_name %>
					</td>
					
					<% if @compared_from %>
						<td style="color: <%= @query_dataset_color %>">
							对比数
						</td>
						<td style="color: <%= @query_dataset_color %>">
							变化率
						</td>
					<% end %>
				<% end %>
				<% if @v %>
					<td style="color: <%= @view_dataset_color %>">
						<%= @view_dataset_name %>
					</td>
					
					<% if @compared_from %>
						<td style="color: <%= @view_dataset_color %>">
							对比数
						</td>
						<td style="color: <%= @view_dataset_color %>">
							变化率
						</td>
					<% end %>
				<% end %>
				<% if @compared_from %>
					<td style="width: 120px;">对比时间</td>
				<% end %>
			</tr>
		</thead>
		
		<tbody>
			<% @dots.each_with_index do |dot, i| %>
				<tr<%= %Q! class="odd"! if i.odd? %>>
					<td align="center">
						<% first, last = dot %>
						
						<%= first.strftime("%y.%m.%d") %>
						<% unless first == last %>
							-
							<%= last.strftime("%y.%m.%d") %>
						<% end %>
						
						<input type="hidden" id="dot_<%= i %>" value="<%= %Q!#{first.strftime("%Y%m%d")}#{TeacherStatisticsController::Date_Range_Splitter}#{last.strftime("%Y%m%d")}! %>" />
					</td>
					
					<% if @q %>
						<td align="right" style="font-weight: bold;">
							<% query_value = @query_values[i][:value] %>
							
							<% if query_value > 0 %>
								<a href="#" onclick="query_dot_detail(<%= i %>); return false;" class="none" style="color: <%= @query_dataset_color %>;">
									<%= query_value %></a>
							<% else %>
								<span class="info"><%= query_value %></span>
							<% end %>
						</td>
						
						<% if @compared_from %>
							<td align="right" style="font-weight: bold;">
								<% compared_query_value = @compared_query_values[i][:value] %>
								
								<% if compared_query_value > 0 %>
									<a href="#" onclick="compared_query_dot_detail(<%= i %>); return false;" class="none" style="color: <%= @query_dataset_color %>;">
										<%= compared_query_value %></a>
								<% else %>
									<span class="info"><%= compared_query_value %></span>
								<% end %>
							</td>
							
							<td align="right" style="color: <%= @query_dataset_color %>;">
								<%= @query_diffs[i] %>
							</td>
						<% end %>
					<% end %>
					
					<% if @v %>
						<td align="right" style="font-weight: bold;">
							<% view_value = @view_values[i][:value] %>
							
							<% if view_value > 0 %>
								<a href="#" onclick="view_dot_detail(<%= i %>); return false;" class="none" style="color: <%= @view_dataset_color %>;">
									<%= view_value %></a>
							<% else %>
								<span class="info"><%= view_value %></span>
							<% end %>
						</td>
						
						<% if @compared_from %>
							<td align="right" style="font-weight: bold;">
								<% compared_view_value = @compared_view_values[i][:value] %>
								
								<% if compared_view_value > 0 %>
									<a href="#" onclick="compared_view_dot_detail(<%= i %>); return false;" class="none" style="color: <%= @view_dataset_color %>;">
										<%= compared_view_value %></a>
								<% else %>
									<span class="info"><%= compared_view_value %></span>
								<% end %>
							</td>
							
							<td align="right" style="color: <%= @view_dataset_color %>;">
								<%= @view_diffs[i] %>
							</td>
						<% end %>
					<% end %>
					
					<% if @compared_from %>
						<td align="center">
							<% compared_first, compared_last = @compared_dots[i] %>

							<%= compared_first.strftime("%y.%m.%d") %>
							<% unless compared_first == compared_last %>
								-
								<%= compared_last.strftime("%y.%m.%d") %>
							<% end %>
							
							<input type="hidden" id="compared_dot_<%= i %>" value="<%= %Q!#{compared_first.strftime("%Y%m%d")}#{TeacherStatisticsController::Date_Range_Splitter}#{compared_last.strftime("%Y%m%d")}! %>" />
						</td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>


<%= render :partial => "scripts" %>
