<%
	page_title = "#{@page_title_prefix} - #{@groups_name}统计"

	talent_page_title(page_title)
	
	pie_view = (@view == "pie")
%>


<h2><%= page_title %></h2>

<% if @nav %>
	<div style="margin-bottom: 10px;">
		<%= render(:partial => @nav) %>
	</div>
<% end %>

<%=
	render(
		:partial => "filters",
		:locals => {
			:views => [["bar", "查看柱图"], ["pie", "查看饼图"]],
			:views_style => {:width => 21, :right => 8},
			:hide => [:dataset] + (@hide_filters || [])
		}
	)
%>

<div>
	<input type="hidden" id="dataset_field" value="<%= @nav && @nav.first %>" />
	<input type="hidden" id="group_by_field" value="<%= get_group_by_field(@group_by) %>" />
	<% if @compared_from %>
		<input type="hidden" id="compared_period" value="<%= %Q!#{@compared_from.strftime("%Y%m%d")}#{TeacherStatisticsController::Date_Range_Splitter}#{get_compared_to(@from, @to, @compared_from).strftime("%Y%m%d")}! %>" />
	<% end %>
	
	<%
		graph_width = 310
		
		compared_label_color = "#666666"
		compared_bar_color = "#AAAAAA"
	%>
	<table border="0" cellspacing="0" cellpadding="0" class="main_part_w grid">
		<thead>
			<tr>
				<td style="width: 25px;"></td>
				<td><%= @groups_name %></td>
				<td colspan="2"><%= @dataset_name %></td>
				<% if @compared_from %>
					<td colspan="2">对比数</td>
					<td>变化率</td>
				<% end %>
				<td style="width: <%= graph_width %>px;">
					总计: <%= @total_count %>
					<% if @compared_from %>
						<span style="margin: 0px 8px;">-</span>
						对比总计: <%= @compared_total_count %>
					<% end %>
				</td>
			</tr>
		</thead>
		
		<tbody>
			<%
				lack_h = 0
				graph_rowspan = @counts.size
				if pie_view
					row_h = 30
					chart_h = graph_width * (@compared_from ? 2 : 1)
					lack_h = chart_h - (@counts.size * row_h) if @counts.size > 0
					graph_rowspan += 1 if lack_h > 0
				end
			%>
			<% @counts.each_index do |i| %>
				<tr<%= %Q! class="odd"! if i.odd? %>>
					<%
						group = @counts[i][1]["@groupby"]
						count = @counts[i][1]["@count"]
						percent_label = Utils.percent(count, @total_count, 1)
						
						color = get_pie_chart_color(i)
						
						if @compared_from
							compared_count = @compared_counts[group] || 0
							compared_percent_label = Utils.percent(compared_count, @compared_total_count, 1)
						end
					%>

					<td align="center"><%= i+1 %></td>

					<td>
						<% if pie_view %>
							<div class="graph_legend" style="background-color: <%= color %>;"></div>
						<% end %>
						
						<div>
							<% drill_down_action = @drill && @drill[(@drill.index(action_name) || @drill.size) + 1] %>
							
							<% if drill_down_action %>
								<a href="#" class="none" id="drill_down_link_<%= i %>_to_<%= drill_down_action %>">
							<% end %>
									<%= h(@group_titles[group]) %>
							<% if drill_down_action %>
								</a>
							<% end %>
								
							<a href="#" title="查看详细时段统计" target="_blank" id="period_detail_link_<%= i %>">
								<img alt="线图" src="/images/teachers/line_chart_icon.gif" border="0" style="margin: 0px 0px -2px 2px;" /></a>
						</div>
						
						<input type="hidden" id="group_value_<%= i %>" value="<%= group %>" />
					</td>
					
					<td align="right" style="font-weight: bold;">
						<a href="#" onclick="<%= @detail_function %>(<%= i %>); return false;" class="none">
							<%= count %></a>
					</td>
					<td align="right">
						<%= percent_label %>
					</td>
					
					<% if @compared_from %>
						<td align="right" style="font-weight: bold;">
							<a href="#" onclick="compared_<%= @detail_function %>(<%= i %>); return false;" class="none">
								<%= compared_count %></a>
						</td>
						<td align="right" style="color: <%= compared_label_color %>;">
							<%= compared_percent_label %>
						</td>
						
						<td align="right" style="color: <%= compared_label_color %>;">
							<%= Utils.growth(count, compared_count, 1) %>
						</td>
					<% end %>

					<% unless pie_view %>
						<td>
							<%
								width = (graph_width-50) * (count.to_f/@max)
								bar_title = "#{count} / #{@total_count} = #{percent_label}"
							%>

							<div class="graph_bar" title="<%= bar_title %>" style="background-color: <%= @dataset_color %>; width: <%= width.round %>px;" onclick="<%= @detail_function %>(<%= i %>);"></div>
							<%= count %>
							
							
							<% if @compared_from %>
								<div class="clear_l"></div>
								
								<%
									compared_width = (graph_width-50) * (compared_count.to_f/@max)
									compared_bar_title = "#{compared_count} / #{@compared_total_count} = #{compared_percent_label}"
								%>

								<div class="graph_bar" title="<%= compared_bar_title %>" style="background-color: <%= compared_bar_color %>; width: <%= compared_width.round %>px;" onclick="compared_<%= @detail_function %>(<%= i %>);"></div>
								<%= compared_count %>
							<% end %>
						</td>
					<% else %>
						<% unless i > 0 %>
							<td rowspan="<%= graph_rowspan %>" valign="top">
								<div>
									<%= render(
										:partial => "ofc",
										:locals => {
											:chart_id => "pie_chart",
											:height => graph_width,
											:data => @chart_data
										}
									) %>
								</div>
								
								<% if @compared_from %>
									<div>
										<%= render(
											:partial => "ofc",
											:locals => {
												:chart_id => "compared_pie_chart",
												:height => graph_width,
												:data => @compared_chart_data
											}
										) %>
									</div>
								<% end %>
							</td>
						<% end %>
					<% end %>
				</tr>
			<% end %>
			
			<% if lack_h > 0 %>
				<tr><td colspan="<%= @compared_from ? 7 : 4 %>" style="height: <%= lack_h %>px;"></td></tr>
			<% end %>
		</tbody>
	</table>
</div>


<%= render :partial => "scripts", :locals => {:slider => true} %>
