<%
	classes = []
	classes << "odd" if job_counter.even?
	classes << "info" if Time.now > job.recruit_end_at
%>

<tr<%= %Q! class="#{classes.join(" ")}"! if classes.size > 0 %>>
	<td>
		<a href="/teachers/<%= @teacher.id %>/corporations/<%= @corporation.id %>/jobs/<%= job.id %>" class="none" target="_blank">
			<%= h(job.name) %></a>
	</td>
	
	<td><%= job.number %></td>
	
	<td><%= job.interview_number %></td>
	
	<td></td>
	
	<td>
		<a href="/teachers/<%= @teacher.id %>/corporations/<%= @corporation.id %>/jobs/<%= job.id %>/edit" class="none">
			编辑</a>

		<a href="/teachers/<%= @teacher.id %>/corporations/<%= @corporation.id %>/jobs/<%= job.id %>" class="none" target="_blank" style="margin: 0px 8px;">
			查看</a>

		<a href="/teachers/<%= @teacher.id %>/corporations/<%= @corporation.id %>/jobs/<%= job.id %>/match" class="none" target="_blank">
			匹配</a>
	</td>
</tr>
