<%
	marked_teacher_id = student.get_calling_mark
	current_status = intern_log ? intern_log.determine_status : InternLog::Status[:unemployed]
%>

<td valign="top">
	<div class="intern_status">
		<div class="student_name">
			<%= current_status %>
		</div>
		
		<div class="calling_mark">
			<% if marked_teacher_id %>
				与
				<% if @teacher.id == marked_teacher_id %>
					自己
				<% else %>
					其他老师
				<% end %>
				通话中
			<% end %>
		</div>
		
		<div class="intern_log">
			<% if intern_log %>
				<div title="最近的实习记录 › 发生时间: <%= format_datetime(intern_log.occur_at) %>">
					<%= h(intern_log.job.corporation.get_name)%>
					<br />
					<%= h(intern_log.job.name)%>
					<br />
					<%
						event = InternLogEvent.find(intern_log.event_id)
						result = event && InternLogEventResult.find(event[:id], intern_log.result_id)
					%>
					<%= event && event[:name] %>
					›
					<%= result && result[:name] %>
				</div>
			<% else %>
				(无实习记录)
			<% end %>
		</div>
	</div>
</td>

<td valign="top" class="actions">
	<input type="hidden" value="<%= student.id %>" />
	
	<% if marked_teacher_id %>
		<% if @teacher.id == marked_teacher_id %>
			<a href="#" class="clear_calling_mark_link">清除标记</a>
		<% else %>
			<div class="info">标记通话</div>
		<% end %>
	<% else %>
		<a href="#" class="mark_calling_link">标记通话</a>
	<% end %>
	
	<% if InternLog::Status[:unemployed] == current_status %>
		<a href="#" class="add_inform_interview_log_link">通知面试</a>
	<% else %>
		<div class="info">通知面试</div>
	<% end %>
	
	<a href="#" class="refresh_status_link">刷新状态</a>
</td>
