<%
	university = University.find(student.university_id)
	college = university && College.find(university[:id], student.college_id)
	major = college && Major.find(college[:id], student.major_id)
	edu_level = EduLevel.find(student.edu_level_id)
	
	profile = student.profile
	
	# weight = match[:weight]
	attributes = match[:attributes]
	
	matched_wishes = []
	matched_wishes << "公司名称" if attributes["intern_wish_corporation_id"].include?(@job.corporation_id)
	matched_wishes << "岗位名称" if attributes["intern_wish_job_id"].include?(@job.id)
	matched_wishes << "岗位大类" if attributes["intern_wish_job_category_class_id"].include?(@job.category_class_id)
	matched_wishes << "岗位细分" if attributes["intern_wish_job_category_id"].include?(@job.category_id)
	matched_wishes << "行业细分" if attributes["intern_wish_industry_id"].include?(@profile.industry_id)
	matched_wishes << "工作区域" if attributes["intern_wish_job_district_id"].include?(@job.district_id)
	matched_wishes << "行业大类" if attributes["intern_wish_industry_category_id"].include?(@profile.industry_category_id)
	matched_wishes << "企业性质" if attributes["intern_wish_nature_id"].include?(@profile.nature_id)
%>

<tr id="matched_student_<%= student.id %>" class="matched_student<%= " odd" if counter.even? %>">
	<td valign="top">
		<div>
			<span class="student_name"><%= h(student.get_name) %></span>
			<a href="/teachers/<%= @teacher.id %>/students/<%= student.id %>" target="_blank" class="none">
				<%= h(student.number) %></a>
		</div>
		
		<div class="profile">
			<% if profile %>
				<%= h(profile.phone) %>
				<br />
				<%= h(profile.email) %>
				<br />
			<% end %>
			
			<%= university && university[:name] %>
			
			<br />
			
			<% if college %>
				<%= college[:name] %>
			<% end %>
			<% if major %>
				›
				<%= major[:name] %>
			<% end %>
		</div>
	</td>
	
	<td valign="top">
		<div class="intern_profile">
			<%= format_date(Time.at(attributes["intern_begin_at"])) unless attributes["intern_begin_at"].blank? %>
			<% workday = JobWorkday.find(attributes["intern_workday_id"]) %>
			<% if workday %>
				›
				<%= workday[:name] %>
			<% end %>
		
			<br />
		
			<% period = JobPeriod.find(attributes["intern_period_id"]) %>
			<% if period %>
				<%= period[:name] %>
				›
			<% end %>
			<% unless attributes["intern_salary"].blank? %>
				<%= attributes["intern_salary"] %> 元/天
			<% end %>
			
			<br />
			
			<% if edu_level %>
				<%= edu_level[:name] %>
				›
			<% end %>
			<% if student.graduation_year %>
				<%= student.graduation_year %> 年毕业
				<%=
					year = @school.coming_graduation_year
					if student.graduation_year == year
						"(应届毕业)"
					elsif student.graduation_year > year
						"(在读学生)"
					else
						"(已经毕业)"
					end
				%>
			<% end %>
			
			<br />
			
			<% job_major = JobMajor.find(attributes["intern_major_id"]) %>
			<% if job_major %>
				<%= job_major[:name] %>
			<% end %>
		</div>
	</td>
	
	<td valign="top" class="intern_wish">
		<% if matched_wishes.size > 0 %>
			<% matched_wishes.each do |wish| %>
				<div title="满足其对 <%= wish %> 的实习意愿" class="matched_wish">
					<%= wish %>
				</div>
			<% end %>
		<% else %>
			<div class="no_matched_wish">
				(无匹配的意愿)
			</div>
		<% end %>
	</td>
	
	<%=
		render(
			:partial => "matched_student_status",
			:locals => {
				:intern_log => intern_log,
				:student => student
			}
		)
	%>
</tr>
