<%
	page_title = "企业 #{h(@corporation.get_name)} 的岗位"

	talent_page_title(page_title)
%>


<div class="float_r" style="margin: 12px 25px 0px;">
	<a href="/teachers/<%= @teacher.id %>/corporations/<%= @corporation.id %>/jobs/new" class="button">
		添加企业岗位</a>
</div>
<h2 class="page_title"><%= page_title %></h2>


<% if flash[:success_msg] %>
	<p class="success_msg">
	    <%= flash[:success_msg] %>
	</p>
<% end %>


<div>
	<table border="0" cellspacing="0" cellpadding="0" class="main_part_w grid">
		<thead>
			<tr>
				<td>岗位名称</td>
				<td>岗位分类</td>
				<td>工作地址</td>
				<td>薪酬</td>
				<td>人数</td>
				<td style="width: 100px;">操作</td>
			</tr>
		</thead>
		
		<tbody>
			<%= render :partial => "job", :collection => @jobs %>
		</tbody>
	</table>
	
	<%= paging_buttons(@jobs) %>
</div>
