<%
	page_title = "企业 #{h(@corporation.get_name)} 的岗位"

	talent_page_title(page_title)
%>


<div class="float_r" style="margin: 12px 25px 0px;">
	<a href="/teachers/<%= @teacher.id %>/corporations/<%= @corporation.id %>/jobs/new" class="button">
		添加企业岗位</a>
</div>
<h2 class="page_title"><%= page_title %></h2>


<% if flash[:success_msg] %>
	<p class="success_msg">
	    <%= flash[:success_msg] %>
	</p>
<% end %>


<%= render :partial => "intern_log_count_form", :locals => {:counts => @counts} %>


<table border="0" cellspacing="0" cellpadding="0" class="main_part_w grid">
	<thead>
		<tr>
			<td>编号</td>
			<td>岗位名称</td>
			<td>实习状态</td>
			<td>招聘人数</td>
			<td>提供面试</td>
			<td style="width: 65px;">招聘终止</td>
			
			<% @counts.each_title do |key, value| %>
				<% if @counts.send(key) %>
					<td><%= value %></td>
				<% end %>
			<% end %>
			
			<td style="width: 75px;">操作</td>
		</tr>
	</thead>
	
	<tbody>
		<% @jobs.each_with_index do |job, i| %>
			<tr<%= %Q! class="odd"! if i.odd? %>>
				<td><%= job.id %></td>
				<td>
					<a href="/teachers/<%= @teacher.id %>/corporations/<%= @corporation.id %>/jobs/<%= job.id %>" class="none" target="_blank">
						<%= h(job.get_name) %></a>
				</td>
				<td>
					<% intern_status = job.intern_status_id && JobInternStatus.find(job.intern_status_id) %>
					<%= intern_status && intern_status[:label] %>
				</td>
				<td align="right"><%= job.number %></td>
				<td align="right"><%= job.interview_number %></td>
				<td class="datetime">
					<%= format_date(job.recruit_end_at) %>
				</td>

				<% @counts.each_filter do |key, value| %>
					<% if @counts.send(key) %>
						<td align="right" style="font-weight: bold;">
							<a target="_blank" href="/teachers/<%= @teacher.id %>/corporations/<%= @corporation.id %>/jobs/<%= job.id %>/intern_logs?event=<%= value[:event_id] %>&result=<%= value[:result_id] %>" class="none">
								<%= @counts.get_counts(key)[job.id] || 0 %></a>
						</td>
					<% end %>
				<% end %>

				<td>
					<a href="/teachers/<%= @teacher.id %>/corporations/<%= @corporation.id %>/jobs/<%= job.id %>/edit" class="none">
						编辑</a>

					<span style="margin: 0px 5px; color: #888888;">|</span>

					<a href="/teachers/<%= @teacher.id %>/corporations/<%= @corporation.id %>/jobs/<%= job.id %>/match" class="none" target="_blank">
						匹配</a>
				</td>
			</tr>
			
		<% end %>
	</tbody>
</table>

<%= paging_buttons(@jobs) %>
