<%
	job_name = h(@job.name)
	page_title = "匹配岗位 #{job_name}"

	talent_page_title(page_title)
%>


<div class="float_r" style="margin: 12px 25px 0px;">
	<% if @naive %>
		<a href="/teachers/<%= @teacher.id %>/corporations/<%= @corporation.id %>/jobs/<%= @job.id %>/search" class="none">
			完整搜索模式</a>
	<% else %>
		<a href="/teachers/<%= @teacher.id %>/corporations/<%= @corporation.id %>/jobs/<%= @job.id %>/match" class="none">
			岗位匹配模式</a>
	<% end %>
</div>
<h2 class="page_title"><%= page_title %></h2>

<% form_tag "", :method => :get, :id => "match_job_form" do %>
	<div id="form_body">
		<div class="form_section">
			<a href="#" title="展开/收起" class="none form_section_title">公司信息</a>
			<a title="查看完整公司信息" href="/teachers/<%= @teacher.id %>/corporations/<%= @corporation.id %>" class="none" target="_blank">
				<%= h(@corporation.get_name) %></a>
			
			<div class="form_section_body">
				<div class="field_row">
					<span class="field">
						<% if @naive %>
							<label>行业大类:</label>
							<% industry_category = IndustryCategory.find(@profile.industry_category_id) %>
							<%= industry_category && industry_category[:name] %>
							<input type="hidden" name="ic" value="<%= industry_category && industry_category[:id] %>" />
						<% else %>
							<%=
								render(
									:partial => "/corporations/selects/industry_category",
									:locals => {
										:industry_category_id => @profile.industry_category_id,
										:field_id => "industry_category", :field_name => "ic"
									}
								)
							%>
						<% end %>
					</span>
					
					<span class="field">
						<% if @naive %>
							<label>行业细分:</label>
							<% industry = industry_category && Industry.find(industry_category[:id], @profile.industry_id) %>
							<%= industry && industry[:name] %>
							<input type="hidden" name="i" value="<%= industry && industry[:id] %>" />
						<% else %>
							<%=
								render(
									:partial => "/corporations/selects/industry",
									:locals => {
										:industry_category_id => @profile.industry_category_id,
										:industry_id => @profile.industry_id,
										:field_id => "industry", :field_name => "i"
									}
								)
							%>
						<% end %>
					</span>
				</div>
				
				<div class="field_row">
					<span class="field">
						<% if @naive %>
							<label>企业性质:</label>
							<% nature = @profile.nature_id && CorporationNature.find(@profile.nature_id) %>
							<%= nature && nature[:name] %>
							<input type="hidden" name="n" value="<%= nature && nature[:id] %>" />
						<% else %>
							<%=
								render(
									:partial => "/corporations/selects/nature",
									:locals => {
										:nature_id => @profile.nature_id,
										:field_id => "nature", :field_name => "n"
									}
								)
							%>
						<% end %>
					</span>
				</div>
			</div>
		</div>
		
		
		<div class="form_section">
			<a href="#" title="展开/收起" class="none form_section_title">岗位信息</a>
			<a title="查看完整岗位信息" href="/teachers/<%= @teacher.id %>/corporations/<%= @corporation.id %>/jobs/<%= @job.id %>" class="none" target="_blank">
				<%= job_name %></a>
			
			<div class="form_section_body">
				<div class="field_row">
					<span class="field">
						<% if @naive %>
							<label>岗位大类:</label>
							<% job_category_class = JobCategoryClass.find(@job.category_class_id) %>
							<%= job_category_class && job_category_class[:name] %>
							<input type="hidden" name="jcc" value="<%= job_category_class && job_category_class[:id] %>" />
						<% else %>
							<%=
								render(
									:partial => "/teacher_corporation_jobs/selects/job_category_class",
									:locals => {
										:job_category_class_id => @job.category_class_id,
										:field_id => "job_category_class", :field_name => "jcc"
									}
								)
							%>
						<% end %>
					</span>
					
					<span class="field">
						<% if @naive %>
							<label>岗位细分:</label>
							<% job_category = job_category_class && JobCategory.find(job_category_class[:id], @job.category_id) %>
							<%= job_category && job_category[:name] %>
							<input type="hidden" name="jc" value="<%= job_category && job_category[:id] %>" />
						<% else %>
							<%=
								render(
									:partial => "/teacher_corporation_jobs/selects/job_category",
									:locals => {
										:job_category_class_id => @job.category_class_id,
										:job_category_id => @job.category_id,
										:field_id => "job_category", :field_name => "jc"
									}
								)
							%>
						<% end %>
					</span>
				</div>
				
				<div class="field_row">
					<span class="field">
						<% if @naive %>
							<label>工作区域:</label>
							<% district = @job.district_id && JobDistrict.find(@job.district_id) %>
							<%= district && district[:name] %>
							<input type="hidden" name="d" value="<%= district && district[:id] %>" />
						<% else %>
							<%=
								render(
									:partial => "/teacher_corporation_jobs/selects/job_district",
									:locals => {
										:job_district_id => @job.district_id,
										:field_id => "district", :field_name => "d"
									}
								)
							%>
						<% end %>
					</span>
				</div>
			</div>
		</div>
		
		
		<div class="form_section">
			<a href="#" title="展开/收起" class="none form_section_title" id="job_requirements_link">岗位要求</a>
			
			<div class="form_section_body">
				<div class="field_row">
					<span class="field">
						<%=
							render(
								:partial => "/teacher_corporation_jobs/selects/job_period",
								:locals => {
									:job_period_id => @job.period_id,
									:field_id => "job_period", :field_name => "jp"
								}
							)
						%>
					</span>
					
					<span class="field">
						<%=
							render(
								:partial => "/teacher_corporation_jobs/selects/job_workday",
								:locals => {
									:job_workday_id => @job.workday_id,
									:field_id => "job_workday", :field_name => "jw"
								}
							)
						%>
					</span>
					
					<span class="field">
						<label for="salary">薪酬:</label>
						<input type="text" id="salary" name="s" class="text_field" size="3" value="<%= h(@job.salary) %>" />
						元/天
					</span>
				</div>
				
				<div class="field_row">
					<span class="field">
						<label for="edu_level">最低学历:</label>
						<%=
							render(
								:partial => "/students/selects/edu_level",
								:locals => {
									:edu_level_id => @job.edu_level_id,
									:field_id => "edu_level", :field_name => "el",
									:hide_label => true
								}
							)
						%>
					</span>
					
					<span class="field">
						<%=
							render(
								:partial => "/teacher_corporation_jobs/selects/job_major",
								:locals => {
									:job_major_id => @job.major_id,
									:field_id => "job_major", :field_name => "jm"
								}
							)
						%>
					</span>
				</div>
				
				<div class="field_row">
					<span class="field">
						<label for="begin_at">上岗时间:</label>
						<input type="text" id="begin_at" name="ba" class="text_field" size="15" value="<%= format_date(@job.begin_at) %>" />
					</span>
					
					<span class="field">
						<%=
							render(
								:partial => "/teacher_corporation_jobs/selects/job_graduation",
								:locals => {
									:job_graduation_id => @job.graduation_id,
									:field_id => "job_graduation", :field_name => "jg"
								}
							)
						%>
					</span>
				</div>
			</div>
		</div>
		
		
		<div class="align_r" style="margin: 15px 100px 5px 5px;">
			<input type="submit" value="搜索" class="button" />
		</div>
	</div>
<% end %>



<div style="margin-top: 30px;">
	<table border="0" cellspacing="0" cellpadding="0" class="main_part_w list">
		<thead>
			<tr>
				<td style="width: 200px;">
					搜索到约
					<b><%= @students.total_entries %></b>
					名学生
				</td>
				<td style="width: 200px;">
					实习信息
				</td>
				<td colspan="2" align="right">
					<%=
						paging_buttons(
							@students, :class => "mini_pagination",
							:previous_label => "«", :next_label => "»"
						)
					%>
				</td>
			</tr>
		</thead>
		
		<tbody>
			<% @students.each_with_match do |student, match, counter| %>
				<%=
					render(
						:partial => "student",
						:locals => {
							:student => student,
							:match => match,
							:counter => counter,
							:intern_log => @intern_logs[student.id]
						}
					)
				%>
			<% end %>
		</tbody>
	</table>
	
	<% if @page < @students.total_pages %>
		<div class="matched_students_more">
			<input type="hidden" id="current_page" value="<%= @page %>" />
			<input type="hidden" id="total_page" value="<%= @students.total_pages %>" />
			
			<a href="#">更多搜索结果</a>
			<span>正在搜索学生 ...</span>
		</div>
	<% end %>
</div>



<% content_for :scripts do %>
	<%= render :partial => "/corporations/selects/var" %>
	<%= render :partial => "/teacher_corporation_jobs/selects/var" %>
	<script src="/javascripts/jobs/search.js" type="text/javascript" language="JavaScript"></script>
<% end %>
