<% talent_page_title("学校用户") %>


<div style="margin: 40px 225px 8px;">
	<div class="align_c" style="margin-bottom: 30px;">
		<%= render_school_view("/common/logo", @school.abbr) %>
	</div>
	
	
	<% if flash[:error_msg] %>
		<p class="error_msg">
		    <%= flash[:error_msg] %>
		</p>
	<% end %>
	
	<div class="float_r">
		<span>
			<a href="/index/login" class="none" style="font-size: 12px; color: #555555;">
				返回</a>
		</span>
	</div>
	
	<div>
		<span style="margin-right: 30px;">
			<a href="/index/corporation" class="none" style="font-size: 14px;">
				<img src="/images/index/corporation_login_icon.jpg" border="0" alt="企业用户登录" style="margin: 0px 3px -1px 0px;" />
				企业用户登录</a>
		</span>
		
		<span>
			<a href="/index/student" class="none" style="font-size: 14px;">
				<img src="/images/index/student_login_icon.jpg" border="0" alt="学生用户登录" style="margin: 0px 3px -1px 0px;" />
				学生用户登录</a>
		</span>
	</div>

	<div class="clear_r"></div>
</div>

<div style="height: 350px; background: transparent url(/images/index/school_bg.jpg) no-repeat scroll bottom center; overflow: hidden;">
	<% form_tag "", :method => :post do %>

		<table border="0" cellspacing="10" cellpadding="0" style="font-size: 14px; color: #FFFFFF; margin: 132px 0px 0px 281px;">
			<tr>
				<td colspan="2" align="right" style="font-size: 13px; padding-right: 5px;">
					<input type="radio" value="teacher" name="user_type" id="user_type_teacher"<%= %Q! checked="checked"! if @user_type == "teacher" %> />
					<label for="user_type_teacher" style="margin-right: 20px;">
						学校老师
					</label>
					
					<input type="radio" value="school" name="user_type" id="user_type_school"<%= %Q! checked="checked"! if @user_type == "school" %> />
					<label for="user_type_school">
						管理员
					</label>
				</td>
			</tr>

			<tr>
				<td style="width: 50px;">
					<label for="username">
						<strong>用户名</strong>
					</label>
				</td>

				<td>
					<input type="text" id="username" name="username" class="text_field" value="<%= h(@uid) %>" style="width: 150px;" />
				</td>
			</tr>

			<tr>
				<td>
					<label for="password">
						<strong>密码</strong>
					</label>
				</td>

				<td>
					<input type="password" id="password" name="password" class="text_field" style="width: 150px;" />
				</td>
			</tr>

			<tr>
				<td>

				</td>

				<td>
					<%= check_box_tag :save_username, value = "true", @save_username.nil? ? true : @save_username %>
					<label for="save_username" style="font-size: 12px;">记住用户名</label>
				</td>
			</tr>

			<tr>
				<td>

				</td>

				<td align="right">
					<%= submit_tag "登录", :class => "button", :style=> "background-color: #078D53; border-color: #B8D4E8 #666666 #666666 #B8D4E8;" %>
				</td>
			</tr>
		</table>

	<% end %>
</div>
