<label for="<%= field_id %>">
	学院:
</label>
<select class="dropdown_list" id="<%= field_id %>"<%= %Q! name="#{field_name}"! if field_name %>>
	<option value=""<%= %Q! selected="selected"! if college_id.blank? %>>不限学院</option>
	<% (College.data[university_id.to_i]|| []).each do |college| %>
		<option value="<%= college[:id] %>"<%= %Q! selected="selected"! if college_id.to_i == college[:id] %>><%= college[:name] %></option>
	<% end %>
</select>
