<%
	job = log.job
	corporation = job.corporation
%>

<tr id="log_<%= log.id %>"<%= %Q! class="odd"! if log_counter.even? %>>
	<td>
		<a href="/teachers/<%= @teacher.id %>/corporations/<%= corporation.id %>" class="none">
			<%= h(corporation.get_name) %></a>
	</td>
	
	<td>
		<a href="/teachers/<%= @teacher.id %>/corporations/<%= corporation.id %>/jobs/<%= job.id %>" class="none">
			<%= job.id %></a>
	</td>
	
	<td>
		<a href="/teachers/<%= @teacher.id %>/corporations/<%= corporation.id %>/jobs/<%= job.id %>" class="none">
			<%= h(job.get_name) %></a>
	</td>
	
	<td>
		<% event = InternLogEvent.find(log.event_id) %>
		<%= event && event[:name] %>
	</td>
	
	<td>
		<% result = event && InternLogEventResult.find(event[:id], log.result_id) %>
		<%= result && result[:name] %>
	</td>
	
	<td>
		<%= format_datetime(log.occur_at) %>
	</td>

	<td>
		<%= h(log.teacher.get_name) %>
	</td>
	
	<td>
		<input type="hidden" value="<%= log.id %>" />
		
		<a href="#" class="none delete_link">删除</a>
		
		<span class="info" style="margin: 0px 10px;">|</span>
		
		<a href="#" class="none edit_link">编辑</a>
	</td>
</tr>
