<%
	student_name = h(@student.get_name)
	page_title = "学生 #{student_name} 的实习记录"

	talent_page_title(page_title)
%>


<div class="float_r" style="word-spacing: 20px; margin: 12px 25px 0px;">
	<a href="/teachers/<%= @teacher.id %>/students/<%= @student.id %>">
		查看学生资料</a>
</div>
<h2 class="page_title"><%= page_title %></h2>

<%= render :partial => "/teacher_students/edit_nav", :locals => {:current_link => "intern_logs"} %>


<div>
	<table border="0" cellspacing="0" cellpadding="0" class="main_part_w" style="margin-bottom: 20px;">
		<tr>
			<td valign="top" style="padding-left: 30px;">
				<div id="calling_mark">
					<%= render :partial => "calling_mark", :locals => {:teacher => @marked_teacher} %>
				</div>
			</td>
			
			<td valign="top" align="right" style="width: 200px; padding-right: 30px;">
				<a href="#" id="new_log_link" class="button">
					添加实习记录</a>
			</td>
		</tr>
	</table>
	
	<table border="0" cellspacing="0" cellpadding="0" class="main_part_w list" id="log_list">
		<thead>
			<tr>
				<td>企业名称</td>
				<td>岗位编号</td>
				<td>岗位名称</td>
				<td>记录事件</td>
				<td>事件结果</td>
				<td>发生时间</td>
				<td style="width: 100px;">
					操作
					<img id="operating" src="/images/loading_icon.gif" border="0" title="操作中" alt="操作中" style="margin: 0px 8px -3px; display: none;" />
				</td>
			</tr>
		</thead>
		
		<tbody>
			<%= render :partial => "log", :collection => @logs %>
		</tbody>
	</table>
</div>


<% content_for :scripts do %>
	<%= render :partial => "/teacher_student_intern_logs/selects/var" %>
	<script type="text/javascript">
		var TEACHER_ID = <%= @teacher.id %>;
		var STUDENT_ID = <%= @student.id %>;
	</script>
	<link href="/lib/dialog/css/dialog.css" rel="stylesheet" type="text/css" />
	<script src="/lib/dialog/dialog.js" type="text/javascript"></script>
	<script src="/javascripts/teachers/intern_logs.js" type="text/javascript"></script>
	<% unless @job_id.blank? %>
		<script type="text/javascript">
			$(document).ready(
				function() {
					new_log("<%= @job_id %>");
				}
			);
		</script>
	<% end %>
<% end %>
