<input type="hidden" id="corp_resume_tags_<%= resume_id %>" value="<%= tags.join(" ") %>" />
<% if tags.size > 0 %>
	已收藏至:
	<%= tags.join(" ") %>
	<a href="#" id="save_resume_link_<%= resume_id %>">修改</a>
	<a href="#">删除</a>
<% else %>
	<a href="#" id="save_resume_link_<%= resume_id %>">收藏这份简历</a>
<% end %>
