<div>
	<label for="corp_resume_tags_input_<%= @resume_id %>">
		<%= required_mark(false) %>
		收藏简历到如下标签
		<span class="info">
			(多个标签用空格分隔)
		</span>
		:
	</label>
</div>

<div style="margin: 5px 5px 6px 10px;">
	<input type="text" id="corp_resume_tags_input_<%= @resume_id %>" value="<%= h(@current_tags.join(" ")) %>" class="text_field" size="50" style="font-size: 13px;" />
</div>

<div style="margin: 0px 10px;">
	<table border="0" cellspacing="0" cellpadding="0" class="main_part_w">
		<tr>
			<td valign="top" style="width: 70px; color: #666666;">用过的标签:</td>

			<td>
				<div id="corp_tags_<%= @resume_id %>" style="line-height: 25px;">
					<% @corp_tags.each do |tag| %>
						<a href="#" class="corp_tag"><%= h(tag) %></a>
					<% end %>
					
					<% unless @corp_tags.size > 0 %>
						<a href="#" class="corp_tag">未分类</a>
					<% end %>
				</div>
			</td>
		</tr>
	</table>
</div>
