<%
	accounts ||= {}
	sent &&= true
	page ||= false
	
	type = Request::Type.find(request.type_id)
	
	account_id = self.instance_variable_get("@#{@account_type.singularize}").id
%>

<div class="request" style="background-image: url(/images/notifications/requests/<%= type[:icon] %>)">
	<%=
		render(
			:partial => "/requests/types/#{type[:name]}",
			:locals => {
				:request => request,
				:accounts => accounts,
				:sent => sent
			}
		)
	%>
	
	
	<%
		form_tag(
			"/#{@account_type}/#{account_id}/notifications/requests/#{request.id}/accept",
			:method => :post,
			:id => "accept_request_form_#{request.id}"
		) do
	%>
		<% if page %>
			<input type="hidden" name="page" value="<%= page %>" />
		<% end %>
	<% end %>
	
	<%
		form_tag(
			"/#{@account_type}/#{account_id}/notifications/requests/#{request.id}",
			:method => :delete,
			:id => "del_request_form_#{request.id}"
		) do
	%>
		<% if page %>
			<input type="hidden" name="page" value="<%= page %>" />
		<% end %>
	<% end %>
	
	
	<div class="request_actions clear_r">
		<% if sent %>
			<a href="#" onclick="document.getElementById('del_request_form_<%= request.id %>').submit(); return false;">
				删除这个请求</a>
		<% else %>
			<button class="button" onclick="document.getElementById('accept_request_form_<%= request.id %>').submit();">
				<%= type[:accept_label] %>
			</button>
			
			<button class="button" onclick="document.getElementById('del_request_form_<%= request.id %>').submit();">
				忽略
			</button>
		<% end %>
		
		<span class="request_time"><%= format_datetime(request.updated_at) %></span>
	</div>
</div>
