<%
	accounts ||= {}
	sent &&= true
	current_page ||= false
	current_type ||= false
	
	type = Request::Type.find(request.type_id)
	
	account_id = self.instance_variable_get("@#{@account_type.singularize}").id
%>

<div class="request" style="background-image: url(/images/notifications/requests/<%= type[:icon] %>)">
	<%
		form_tag(
			"/#{@account_type}/#{account_id}/notifications/requests/#{request.id}/accept",
			:method => :post,
			:id => "accept_request_form_#{request.id}"
		) do
	%>
		<% if current_page %>
			<input type="hidden" name="current_page" value="<%= current_page %>" />
		<% end %>
		<% if current_type %>
			<input type="hidden" name="current_type" value="<%= current_type %>" />
		<% end %>
	<% end %>
	
	<%
		form_tag(
			"/#{@account_type}/#{account_id}/notifications/requests/#{request.id}",
			:method => :delete,
			:id => "del_request_form_#{request.id}"
		) do
	%>
		<% if current_page %>
			<input type="hidden" name="current_page" value="<%= current_page %>" />
		<% end %>
		<% if current_type %>
			<input type="hidden" name="current_type" value="<%= current_type %>" />
		<% end %>
	<% end %>
	
	
	<div class="request_actions">
		<% if sent %>
			<a href="#" onclick="if(confirm('确定要删除这个请求么 ?')) { document.getElementById('del_request_form_<%= request.id %>').submit(); } return false;">
				删除这个请求</a>
		<% else %>
			<button class="button" onclick="document.getElementById('accept_request_form_<%= request.id %>').submit();">
				<%= type[:accept_label] %>
			</button>
			
			<a href="#" onclick="if(confirm('确定要忽略这个请求么 ?')) { document.getElementById('del_request_form_<%= request.id %>').submit(); } return false;">
				忽略</a>
		<% end %>
		
		<span class="request_time">
			<%= format_short_datetime(request.updated_at) %>
		</span>
	</div>
	
	<%=
		render(
			:partial => "/requests/types/#{type[:name]}",
			:locals => {
				:request => request,
				:accounts => accounts,
				:sent => sent
			}
		)
	%>
</div>
