<% talent_page_title("收到的等待处理的请求") %>


<h2>收到的等待处理的请求</h2>


<div class="float_r" style="width: 150px;">
	<% type = Request::Type.find(10) %>
	<img class="request_icon" src="/images/notifications/requests/<%= type[:icon] %>" border="0" title="<%= type[:label] %>" alt="<%= type[:label] %>" />
	2个修改简历的请求
</div>


<div class="overflow_hidden" style="margin-right: 180px;">
	<% unless @requests.size > 0 %>
		<div class="info_with_icon">
			没有等待处理的请求
		</div>
	<% else %>
		<%= render :partial => "request", :collection => @requests %>

		<div>
			<%= paging_buttons(@requests) %>
		</div>
	<% end %>
</div>
