<%
	page_title = %Q!#{@sent ? "发出" : "收到"}的等待处理的请求!
	
	talent_page_title(page_title)
%>


<h2 class="page_title"><%= page_title %><%= %Q! - #{@type[:label]}! if @type %></h2>


<div class="horizontal_nav">
	<a href="/<%= @account_type %>/<%= @account_id %>/notifications/requests"<%= %Q! class="selected_link"! unless @sent %>>
		收到的请求</a>
		
	<a href="/<%= @account_type %>/<%= @account_id %>/notifications/requests/sent"<%= %Q! class="selected_link"! if @sent %>>
		发出的请求</a>
</div>


<table border="0" cellspacing="0" cellpadding="0" class="main_part_w">
	<tr>
		<td valign="top" style="padding-right: 20px;">
			<% unless @requests.size > 0 %>
				<div class="info_with_icon">
					没有等待处理的<%= @type && @type[:label]+"的" %>请求
				</div>
			<% else %>
				<%=
					render(
						:partial => "request",
						:collection => @requests,
						:locals => {
							:accounts => @accounts,
							:sent => @sent,
							:current_page => @page,
							:current_type => @type && @type[:name]
						}
					)
				%>

				<%= paging_buttons(@requests) %>
			<% end %>
		</td>
		
		<td valign="top" style="width: 180px;">
			<div class="vertical_nav">
				<a href="/<%= @account_type %>/<%= @account_id %>/notifications/requests<%= "/sent" if @sent %>"<%= %Q! class="selected_link"! unless @type %>>
					全部请求</a>
				<% @counts.each do |type_id, count| %>
					<% type = Request::Type.find(type_id) %>
					<a href="/<%= @account_type %>/<%= @account_id %>/notifications/requests<%= "/sent" if @sent %>?type=<%= type[:name] %>"<%= %Q! class="selected_link"! if @type && @type[:id] == type[:id] %>>
						<img class="notification_icon" src="/images/notifications/requests/<%= type[:icon] %>" border="0" title="<%= type[:label] %>" alt="<%= type[:label] %>" />
						<strong><%= count %></strong>
						个<%= type[:label] %>的请求</a>
				<% end %>
			</div>
		</td>
	</tr>
</table>
