<%
	page_title = %Q!#{@sent ? "发出" : "收到"}的等待处理的请求!
	
	talent_page_title(page_title)
%>


<h2><%= page_title %></h2>


<div class="horizontal_nav">
	<a href="/<%= @account_type %>/<%= self.instance_variable_get("@#{@account_type.singularize}").id %>/notifications/requests"<%= %Q! class="selected_link"! unless @sent %>>
		收到的请求</a>
		
	<a href="/<%= @account_type %>/<%= self.instance_variable_get("@#{@account_type.singularize}").id %>/notifications/requests/sent"<%= %Q! class="selected_link"! if @sent %>>
		发出的请求</a>
</div>


<table border="0" cellspacing="0" cellpadding="0" class="main_part_w">
	<tr>
		<td valign="top" style="padding-right: 30px;">
			<% unless @requests.size > 0 %>
				<div class="info_with_icon">
					没有等待处理的请求
				</div>
			<% else %>
				<%=
					render(
						:partial => "request",
						:collection => @requests,
						:locals => {
							:accounts => @accounts,
							:sent => @sent,
							:page => @page
						}
					)
				%>

				<div>
					<%= paging_buttons(@requests) %>
				</div>
			<% end %>
		</td>
		
		<td valign="top" style="width: 150px;">
			<% type = Request::Type.find(10) %>
			<img class="notification_icon" src="/images/notifications/requests/<%= type[:icon] %>" border="0" title="<%= type[:label] %>" alt="<%= type[:label] %>" />
			2个修改简历的请求
		</td>
	</tr>
</table>
