<%
	hide_label &&= true
	empty_label ||= "不限行业大类"
%>


<% unless hide_label %>
	<label for="<%= field_id %>">
		行业大类:
	</label>
<% end %>
<select class="dropdown_list" id="<%= field_id %>"<%= %Q! name="#{field_name}"! if field_name %>>
	<option value=""<%= %Q! selected="selected"! if industry_category_id.blank? %>><%= empty_label %></option>
	<% IndustryCategory.data.each do |category| %>
		<option value="<%= category[:id] %>"<%= %Q! selected="selected"! if industry_category_id.to_i == category[:id] %>><%= category[:name] %></option>
	<% end %>
</select>
