<%
	field_name ||= nil
	hide_label &&= true
	empty_label ||= "不限行业细分"
%>


<% unless hide_label %>
	<label for="<%= field_id %>">
		行业细分:
	</label>
<% end %>
<select class="dropdown_list" id="<%= field_id %>"<%= %Q! name="#{field_name}"! if field_name %>>
	<option value=""<%= %Q! selected="selected"! if industry_id.blank? %>><%= empty_label %></option>
	<% Industry.find_group(industry_category_id.to_i).each do |industry| %>
		<option value="<%= industry[:id] %>"<%= %Q! selected="selected"! if industry_id.to_i == industry[:id] %>><%= industry[:name] %></option>
	<% end %>
</select>
