<tr onmouseover="this.style.backgroundColor='#F8F8F8';" onmouseout="this.style.backgroundColor='#FFFFFF';">
	<td>
		<%= h(corporation.uid) %>
	</td>
	
	<td>
		<%= h(corporation.name) %>
	</td>
	
	<td align="center">
		<%= render :partial => "allow_query_field", :locals => {:corporation => corporation} %>
	</td>
	
	<td align="right">
		<a target="_blank" href="/teachers/<%= @teacher.id %>/corporations/<%= corporation.id %>" class="none">
			<img src="/images/teachers/corporation_icon.gif" border="0" />
			查看企业信息</a>
	</td>
</tr>
