<tr onmouseover="this.style.backgroundColor='#F8F8F8';" onmouseout="this.style.backgroundColor='#FFFFFF';">
	<td>
		<a target="_blank" href="/teachers/<%= @teacher.id %>/corporations/<%= corporation.id %>" class="none">
			<%= h(corporation.uid) %></a>
	</td>
	
	<td>
		<a target="_blank" href="/teachers/<%= @teacher.id %>/corporations/<%= corporation.id %>" class="none">
			<%= h(corporation.name) %></a>
	</td>
	
	<td align="center">
		<%= render :partial => "allow_query_field", :locals => {:corporation => corporation} %>
	</td>
	
	<td align="right">
		
	</td>
</tr>
