<% talent_page_title(@title) %>


<h2><%= @title %></h2>


<% if flash[:success_msg] %>
	<p class="success_msg">
	    <%= flash[:success_msg] %>
	</p>
<% end %>

<div>
	<a href="/teachers/<%= @teacher.id %>/new_corporation">添加企业帐号</a>
</div>

<div class="align_r" style="word-spacing: 20px;">
	<% unless action_name == "allowed_corporations" %>
		<a href="/teachers/<%= @teacher.id %>/allowed_corporations">允许查询简历的企业帐号</a>
	<% end %>
	
	<% unless action_name == "inhibitive_corporations" %>
		<a href="/teachers/<%= @teacher.id %>/inhibitive_corporations">禁止查询简历的企业帐号</a>
	<% end %>
	
	<% unless action_name == "corporations" %>
		<a href="/teachers/<%= @teacher.id %>/corporations">全部企业帐号</a>
	<% end %>
</div>

<div>
	<% form_tag "/teachers/#{@teacher.id}/allow_corporation", :method => :post, :id => "allow_corp_form" do %>
		<input type="hidden" id="allow_corp_id" name="corporation_id" />
	<% end %>
	<% form_tag "/teachers/#{@teacher.id}/inhibit_corporation", :method => :post, :id => "inhibit_corp_form" do %>
		<input type="hidden" id="inhibit_corp_id" name="corporation_id" />
	<% end %>
	<script language="JavaScript">
		function allow_corporation(corporation_id, corporation_uid) {
			if(confirm("确定要允许企业帐号 " + corporation_uid + " 查询学生简历么 ?")) {
				document.getElementById("allow_corp_id").value = corporation_id;
				document.getElementById("allow_corp_form").submit();
			}
		}
		
		function inhibit_corporation(corporation_id, corporation_uid) {
			if(confirm("确定要禁止企业帐号 " + corporation_uid + " 查询学生简历么 ?")) {
				document.getElementById("inhibit_corp_id").value = corporation_id;
				document.getElementById("inhibit_corp_form").submit();
			}
		}
	</script>
	
	<table border="0" cellspacing="0" cellpadding="10" class="main_part_w">
		<thead>
			<tr>
				<td>用户名</td>
				<td>名称</td>
				<td style="width: 60px;">查询简历</td>
				<td style="width: 150px;"></td>
			</tr>
		</thead>
		
		<tbody>
			<%= render :partial => "corporation", :collection => @corporations %>
		</tbody>
	</table>
	
	<div>
		<%= paging_buttons(@corporations) %>
	</div>
</div>
