<% talent_page_title("查询企业") %>

<link href="/stylesheets/dropdown_menu.css" rel="stylesheet" type="text/css" />


<h2>查询企业</h2>


<% if flash[:success_msg] %>
	<p class="success_msg">
	    <%= flash[:success_msg] %>
	</p>
<% end %>

<div>
	<a href="/teachers/<%= @teacher.id %>/new_corporation">添加企业帐号</a>
</div>

<div>
	<div>
		<% form_tag "", :method => :get do %>
			<label for="uid">
				通过用户名
			</label>
			<input type="text" id="uid" name="u" class="text_field" size="20" value="<%= h(@uid) %>" />
			<input type="submit" value="确定" class="button" />
		<% end %>
	</div>
	
	<div>
		<% form_tag "", :method => :get do %>
			<div>
				<select name="n" id="nature_id" class="dropdown_list">
					<option value=""<%= %Q! selected="selected"! if @nature_id.blank? %>>不限企业性质</option>
					<% CorporationNature.data.each do |nature| %>
						<option value="<%= nature[:id] %>"<%= %Q! selected="selected"! if @nature_id == nature[:id].to_s %>><%= nature[:name] %></option>
					<% end %>
				</select>

				<select name="s" id="size_id" class="dropdown_list">
					<option value=""<%= %Q! selected="selected"! if @size_id.blank? %>>不限企业规模</option>
					<% CorporationSize.data.each do |size| %>
						<option value="<%= size[:id] %>"<%= %Q! selected="selected"! if @size_id == size[:id].to_s %>><%= size[:name] %></option>
					<% end %>
				</select>

				<select name="i" id="industry_id" class="dropdown_list">
					<option value=""<%= %Q! selected="selected"! if @industry_id.blank? %>>不限企业所属行业</option>
					<% CorporationIndustry.data.each do |industry| %>
						<option value="<%= industry[:id] %>"<%= %Q! selected="selected"! if @industry_id == industry[:id].to_s %>><%= industry[:name] %></option>
					<% end %>
				</select>

				<select name="p" id="province_id" class="dropdown_list">
					<option value=""<%= %Q! selected="selected"! if @province_id.blank? %>>不限企业所在地</option>
					<% Province.data.each do |province| %>
						<option value="<%= province[:id] %>"<%= %Q! selected="selected"! if @province_id == province[:id].to_s %>><%= province[:name] %></option>
					<% end %>
				</select>
			</div>
			
			<div>
				<label for="keyword">
					关键词
				</label>
				<input type="text" id="keyword" name="k" class="text_field" size="20" value="<%= h(@keyword) %>" />
				
				<select name="aq" id="allow_query" class="dropdown_list">
					<option value=""<%= %Q! selected="selected"! if @allow_query.nil? %>>不限查询权限</option>
					<option value="t"<%= %Q! selected="selected"! if @allow_query == true %>>允许查询简历</option>
					<option value="f"<%= %Q! selected="selected"! if @allow_query == false %>>禁止查询简历</option>
				</select>
				
				<input type="submit" value="查找企业" class="button" />
			</div>
		<% end %>
	</div>
</div>

<div>
	<table border="0" cellspacing="0" cellpadding="10" class="main_part_w" style="font-size: 14px;">
		<thead>
			<tr>
				<td>用户名</td>
				<td>名称</td>
				<td align="center" style="width: 85px;">
					查询简历
					<img src="/images/loading_icon.gif" id="query_loading" border="0" title="操作中" alt="操作中" style="margin-bottom: -3px; visibility: hidden" />
				</td>
				<td style="width: 85px;"></td>
				
				<% # the following td is used to avoid dropdown menu being out of page %>
				<td style="width: 20px;"></td>
			</tr>
		</thead>
		
		<tbody>
			<%= render :partial => "corporation", :collection => @corporations %>
		</tbody>
	</table>
	
	<div>
		<%= paging_buttons(@corporations) %>
	</div>
</div>


<script src="/lib/jquery/jquery.min.js" type="text/javascript" language="JavaScript"></script>
<script language="JavaScript">
	var	TEACHER_ID = <%= @teacher.id %>;
</script>
<script src="/javascripts/teachers/corporations.js" type="text/javascript" language="JavaScript"></script>
