<tr<%= %Q! class="even"! if corporation_counter.even? %>>
	<td>
		<a target="_blank" href="/teachers/<%= @teacher.id %>/corporations/<%= corporation.id %>" class="none">
			<%= h(corporation.uid) %></a>
	</td>
	
	<td>
		<% if corporation.name? %>
			<a target="_blank" href="/teachers/<%= @teacher.id %>/corporations/<%= corporation.id %>" class="none">
				<%= h(corporation.name) %></a>
		<% else %>
			&nbsp;
		<% end %>
	</td>
	
	<% if @teacher.statistic %>
		<td>
			<a href="#" title="查看企业的数据统计" class="none statistics_link">
				<img src="/images/teachers/statistic_icon.png" border="0" alt="数据统计" />
				统计</a>
			
			<div class="dropdown_menu" style="font-size: 12px;">
				<ul class="dropdown_sub_menu">
					<li>
						<a href="/teachers/<%= @teacher.id %>/statistics?corp=<%= corporation.id %>">
							时段统计</a>
					</li>
					<li>
						<a href="/teachers/<%= @teacher.id %>/statistics/college?corp=<%= corporation.id %>">
							简历查看统计</a>
					</li>
					<li>
						<a href="/teachers/<%= @teacher.id %>/statistics/querying_domain?corp=<%= corporation.id %>">
							求职方向</a>
					</li>
					<li>
						<a href="/teachers/<%= @teacher.id %>/statistics/skill?corp=<%= corporation.id %>">
							技能和证书</a>
					</li>
					<li>
						<a href="/teachers/<%= @teacher.id %>/statistics/keyword?corp=<%= corporation.id %>">
							关键词</a>
					</li>
				</ul>
			</div>
		</td>
	<% end %>
	
	<td>
		<a href="#" title="管理企业数据" class="none admin_link">
			<img src="/images/teachers/admin_icon.png" border="0" alt="管理企业" class="vertical_middle" />
			管理</a>
		
		<div class="dropdown_menu" style="font-size: 12px;">
			<ul class="dropdown_sub_menu">
				<li>
					<a target="_blank" href="/teachers/<%= @teacher.id %>/corporations/<%= corporation.id %>/edit">
						企业资料</a>
				</li>
				<li>
					<a target="_blank" href="/teachers/<%= @teacher.id %>/corporations/<%= corporation.id %>/jobs">
						企业岗位信息</a>
				</li>
			</ul>
		</div>
	</td>
	
	<td>
		<%
			["query"].each do |field|
		%>
			<%= render :partial => "permission_field", :locals => {:corporation => corporation, :field => field} %>
		<% end %>
	</td>
</tr>
