<div style="margin: 6px;">
	<div style="color: #888888;">
		<span class="float_r">
			<a title="删除记录" href="#" onclick="delete_record(<%= record.id %>); return false;" class="none">
				删除</a>
			
			<a title="修改记录" href="/teachers/<%= @teacher.id %>/corporations/<%= @corporation.id %>/records/<%= record.id %>/edit" class="none" style="margin: 0px 10px;">
				修改</a>
		</span>
		
		<%= format_datetime(record.created_at) %>
		的记录:
	</div>
	
	<div style="padding: 0px 15px;">
		<%=
			simple_format(
				auto_link(
					h(record.notes),
					:urls,
					:target => "_blank"
				)
			)
		%>
	</div>
		
	<div style="margin: 0px 30px; border-bottom: 1px solid #EEEEEE;"></div>
</div>
