<%
	corp_name = h(@corporation.name)
	
	talent_page_title("企业 #{corp_name} 的资料")
%>


<div class="float_r" style="margin: 12px 25px 0px;">
	<a href="/teachers/<%= @teacher.id %>/corporations/<%= @corporation.id %>/jobs" style="margin-right: 30px;">
		企业的岗位</a>
		
	<a href="/teachers/<%= @teacher.id %>/corporations/<%= @corporation.id %>/edit">
		编辑企业资料</a>
</div>
<h2 class="page_title">企业 <%= corp_name %> 的信息</h2>


<div style="margin: 5px;">
	<% form_tag "/teachers/#{@teacher.id}/corporations/#{@corporation.id}/adjust_permission", :method => :post, :id => "adjust_allow_query_form" do %>
		<input type="hidden" name="permission" value="query" />
		<input type="hidden" name="allow" value="<%= !@corporation.allow_query %>" />
	<% end %>
	
	<table border="0" cellspacing="0" cellpadding="0" class="main_part_w">
		<tr>
			<td style="width: 50%; vertical-align: top; padding-right: 5px;">
				<table border="0" cellspacing="6" cellpadding="5" class="main_part_w">
					<tr>
						<td colspan="2" class="job_form_title_section">
							企业帐号
						</td>
					</tr>
					
					<tr>
						<td style="width: 80px;">
							负责老师:
						</td>

						<td>
							<%= h(@corporation.teacher && @corporation.teacher.get_name) %>
						</td>
					</tr>
					
					<tr>
						<td>
							岗位状态:
						</td>

						<td>
							<% intern_status = CorporationInternStatus.find(@corporation.intern_status_id) %>
							<%= intern_status && intern_status[:label] %>
						</td>
					</tr>
					
					<tr>
						<td>
							企业用户名:
						</td>

						<td>
							<%= h(@corporation.uid) %>
						</td>
					</tr>

					<tr>
						<td>
							企业名称:
						</td>

						<td>
							<%= corp_name %>
						</td>
					</tr>

					<tr>
						<td>
							查询简历:
						</td>

						<td>
							<% if @corporation.allow_query %>
								<img src="/images/teachers/yes_icon.gif" border="0" alt="允许" />
								<font color="green">允许查询简历</font>
							<% else %>
								<img src="/images/teachers/no_icon.gif" border="0" alt="禁止" style="vertical-align: -3px;" />
								<font color="red">禁止查询简历</font>
							<% end %>

							&nbsp;&nbsp;&nbsp;

							(
								<a href="#" class="none" onclick="$('#adjust_allow_query_form').submit(); return false;">
									<% if @corporation.allow_query %>
										禁止
									<% else %>
										允许
									<% end %>
								</a>
							)
						</td>
					</tr>


					<tr>
						<td colspan="2" class="job_form_title_section">
							企业资料
						</td>
					</tr>
					
					<tr>
						<td>
							邮箱:
						</td>

						<td>
							<%= h(@profile.email) %>
						</td>
					</tr>

					<tr>
						<td>
							联系电话:
						</td>

						<td>
							<%= h(@profile.phone) %>
						</td>
					</tr>

					<tr>
						<td>
							联系人:
						</td>

						<td>
							<%= h(@profile.contact) %>
							<%= @profile.contact_gender ? "先生" : "女士" unless @profile.contact_gender.nil? %>
							<%= %Q!, (职位: #{@profile.contact_title})! unless @profile.contact_title.blank? %>
						</td>
					</tr>

					<tr>
						<td>
							经营范围:
						</td>

						<td>
							<%= h(@profile.business_scope) %>
						</td>
					</tr>

					<tr>
						<td>
							地址:
						</td>

						<td>
							<%= h(@profile.address) %>
						</td>
					</tr>

					<tr>
						<td>
							邮编:
						</td>

						<td>
							<%= h(@profile.zip) %>
						</td>
					</tr>

					<tr>
						<td>
							企业网站:
						</td>

						<td>
							<%= h(@profile.website) %>
						</td>
					</tr>


					<tr>
						<td>
							企业性质:
						</td>

						<td>
							<% nature = @profile.nature_id && CorporationNature.find(@profile.nature_id) %>
							<%= nature && nature[:name] %>
						</td>
					</tr>

					<tr>
						<td>
							企业规模:
						</td>

						<td>
							<% size = @profile.size_id && CorporationSize.find(@profile.size_id) %>
							<%= size && size[:name] %>
						</td>
					</tr>

					<tr>
						<td>
							行业大类:
						</td>

						<td>
							<% industry_category = IndustryCategory.find(@profile.industry_category_id) %>
							<%= industry_category && industry_category[:name] %>
						</td>
					</tr>

					<tr>
						<td>
							行业细分:
						</td>

						<td>
							<% industry = industry_category && Industry.find(industry_category[:id], @profile.industry_id) %>
							<%= industry && industry[:name] %>
						</td>
					</tr>

					<tr>
						<td>
							企业所在地:
						</td>

						<td>
							<% province = @profile.province_id && Province.find(@profile.province_id) %>
							<%= province && province[:name] %>
						</td>
					</tr>


					<tr>
						<td>
							企业简介:
						</td>

						<td>
							<%= simple_format(h(@profile.desc)) %>
						</td>
					</tr>
				</table>
			</td>
			
			<td style="width: 50%; vertical-align: top; padding: 15px 0px 15px 10px; border-left: 1px dashed #CCCCCC;">
				<%=
					render(
						:partial => "/teacher_notes/notes",
						:locals => {
							:notes => @notes,
							:target_type => @target_type,
							:target => @corporation
						}
					)
				%>
			</td>
		</tr>
	</table>
</div>
