<%
	allow = teacher.send(field)
	
	name = {
		"resume" => "查询简历",
		"revision" => "修改简历",
		"statistic" => "查看统计",
		"admin" => "管理企业"
	}[field]
%>

<span class="permission_field" id="<%= field %>_field_<%= teacher.id %>">
	<a href="#" title="调整<%= name %>的权限" onclick="adjust_permission(<%= teacher.id %>, '<%= field %>', '<%= !allow %>'); return false;" class="none">
		<img src="/images/teachers/<%= allow ? "yes" : "no" %>_icon.gif" border="0" alt="<%= allow ? "允许" : "禁止" %>" />
		<font color="<%= allow ? "green" : "red" %>"><%= name %></font>
	</a>
</span>
