<tr<%= %Q! class="odd"! if teacher_counter.even? %>>
	<% uid = h(teacher.uid) %>
	
	<td>
		<%= uid %>
	</td>
	
	<td>
		<%= h(teacher.name) %>
	</td>
	
	<td>
		<%= render :partial => "resume_field", :locals => {:teacher => teacher} %>
	</td>
	
	<td>
		<%= render :partial => "revision_field", :locals => {:teacher => teacher} %>
	</td>
	
	<td>
		<%= render :partial => "statistic_field", :locals => {:teacher => teacher} %>
	</td>
	
	<td>
		<%= render :partial => "admin_field", :locals => {:teacher => teacher} %>
	</td>
	
	
	<td></td>
</tr>
	