<% talent_page_title("添加老师") %>


<h2>添加老师</h2>

<% if flash[:error_msg] %>
	<p class="error_msg">
	    <%= flash[:error_msg] %>
	</p>
<% end %>
<% if @teacher.errors.size > 0 %>
	<p class="error_msg">
		<%= list_model_validate_errors(@teacher) %>
	</p>
<% end %>

<% form_tag "/schools/#{@school_id}/create_teacher", :method => :post do %>

	<table border="0" cellspacing="10" cellpadding="5">
		<tr>
			<td style="width: 150px;">
				<label for="uid">
					用户名<%= required_mark %>
				</label>
			</td>
			
			<td>
				<input type="text" id="uid" name="uid" class="text_field" size="30" value="<%= h(@teacher.uid) %>" />
			</td>
		</tr>
		
		<tr>
			<td>
				<label for="admin">
					允许老师管理企业帐号
				</label>
			</td>
			
			<td>
				<%= check_box_tag :admin, value = "true", @teacher.admin %>
			</td>
		</tr>
		
		<tr>
			<td>
				
			</td>
			
			<td>
				<%= submit_tag "添加", :class => "button", :disabled => !@account_active %>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="/schools/<%= @school_id %>/teachers">
					返回老师列表</a>
			</td>
		</tr>
	</table>
	
<% end %>
