<% talent_page_title("查询老师") %>


<h2 class="page_title">查询老师</h2>


<% if flash[:success_msg] %>
	<p class="success_msg">
	    <%= flash[:success_msg] %>
	</p>
<% end %>

<div class="align_r" style="margin-right: 30px;">
	<a href="/schools/<%= @school_id %>/new_teacher" class="button">
		添加新的老师</a>
</div>

<div>
	<table border="0" cellspacing="0" cellpadding="0" class="main_part_w list" style="font-size: 14px;">
		<thead>
			<tr>
				<td>名称</td>
				<td>
					权限
					<img src="/images/loading_icon.gif" id="permission_loading" border="0" title="操作中" alt="操作中" style="margin-bottom: -3px; display: none;" />
				</td>
			</tr>
		</thead>
		
		<tbody>
			<%= render :partial => "teacher", :collection => @teachers %>
		</tbody>
	</table>
	
	<%= paging_buttons(@teachers) %>
</div>


<% content_for :scripts do %>
	<script language="JavaScript">
		var	SCHOOL_ID = <%= @school_id %>;
	</script>
	<script src="/javascripts/schools/teachers.js" type="text/javascript" language="JavaScript"></script>
<% end %>
