<% talent_page_title("查询老师") %>

<link href="/stylesheets/dropdown_menu.css" rel="stylesheet" type="text/css" />


<h2>查询老师</h2>


<% if flash[:success_msg] %>
	<p class="success_msg">
	    <%= flash[:success_msg] %>
	</p>
<% end %>

<div>
	<a href="/schools/<%= @school_id %>/new_teacher">
		添加新的老师</a>
</div>

<div>
	<table border="0" cellspacing="0" cellpadding="10" class="main_part_w" style="font-size: 14px;">
		<thead>
			<tr>
				<td>用户名</td>
				<td>名称</td>
				<td align="center" style="width: 100px;">
					管理企业
					<img src="/images/loading_icon.gif" id="admin_loading" border="0" title="操作中" alt="操作中" style="margin-bottom: -3px; visibility: hidden" />
				</td>
				<td align="center" style="width: 60px;">
					<img src="/images/loading_icon.gif" id="destroy_loading" border="0" title="操作中" alt="操作中" style="visibility: hidden" />
				</td>
			</tr>
		</thead>
		
		<tbody>
			<%= render :partial => "teacher", :collection => @teachers %>
		</tbody>
	</table>
	
	<div>
		<%= paging_buttons(@teachers) %>
	</div>
</div>


<script src="/lib/jquery/jquery.min.js" type="text/javascript" language="JavaScript"></script>
<script language="JavaScript">
	var	SCHOOL_ID = <%= @school_id %>;
</script>
<script src="/javascripts/schools/teachers.js" type="text/javascript" language="JavaScript"></script>
