<%
	students ||= {}
	teachers ||= {}

	part_type = ResumePartType.find(comment.part_type_id)

	target_part = "#{part_type && part_type[:name]}_#{comment.part_id}"
	
	account_type_info = ResumeComment::Account_Types.detect{|a| a[:id] == comment.account_type} || {}
	account = (eval(account_type_info[:name]) || {})[comment.account_id]
%>

<div id="comment_<%= comment.id %>" class="resume_comment <%= target_part %>">
	<input type="hidden" value="<%= target_part %>" />
	
	<table border="0" cellspacing="0" cellpadding="0" class="main_part_w resume_revision_title">
		<tr>
			<td>
				<%= h(account && account.get_name) %>
				(<%= account_type_info[:label] %>)

				<span class="datetime">
					<%= format_datetime(comment.created_at) %>
				</span>
			</td>
			
			<td align="right">
				<% if @account_type == account_type_info[:name] && self.instance_variable_get("@#{@account_type.singularize}").id == comment.account_id %>
					<a href="#" class="delete_comment_link none" style="margin: 0px 20px; font-weight: normal;">
						删除</a>
				<% end %>
				
				<a href="#" title="展开/收起 评注内容" class="toggle_revision_link">
					<img src="/images/corporations/collapse_icon.gif" border="0" alt="展开/收起 评注内容" style="margin-bottom: -2px;" /></a>
			</td>
		</tr>
	</table>
	
	
	<div class="resume_revision_content">
		<div class="target_part_title">
			目标段落:
			<span></span>
		</div>
		
		
		<div>
			<%= h(comment.content) %>
		</div>
	</div>
</div>
