<%
	teachers ||= {}

	part_type = ResumePartType.find(revision.part_type_id) || {}
	revision_action = ResumeRevision::Actions.detect{|a| a[:id] == revision.action} || {}

	target_part = "#{part_type[:name]}_#{revision.part_id}"
%>

<div id="revision_<%= revision.id %>" class="resume_revision <%= target_part %><%= %Q! resume_revision_unapplied! unless revision.applied %>">
	<input type="hidden" value="<%= target_part %>" />
	
	<table border="0" cellspacing="0" cellpadding="0" class="main_part_w resume_revision_head">
		<tr>
			<td>
				<% action_icon, action_label = case revision_action[:name]
					when "update"
						"ui-icon-pencil"
					when "delete"
						"ui-icon-trash"
					when "add"
						"ui-icon-circle-plus"
					else
						""
					end
				%>
				<span class="ui-icon <%= action_icon %> float_l" style="margin-right: 5px;"></span>
				<%= revision_action[:label] %>
				<%= part_type[:label] %>
			</td>
			
			<td align="right">
				<%= h(teachers[revision.teacher_id].get_name) %>

				<span class="datetime">
					<%= format_datetime(revision.created_at) %>
				</span>

				<a href="#" title="展开/收起 修改建议" class="toggle_revision_link">
					<img src="/images/corporations/<%= revision.applied ? "expand" : "collapse" %>_icon.gif" border="0" alt="展开/收起 修改建议" style="margin-bottom: -2px;" /></a>
			</td>
		</tr>
	</table>
	
	
	<div class="resume_revision_body"<%= %Q! style="display: none;"! if revision.applied %>>
		<div class="target_part_title">
			<img src="/images/revise_resumes/target_icon.gif" border="0" alt="目标" style="margin-bottom: -3px;" />
			目标段落:
			<span></span>
		</div>
		
		
		<div class="resume_revision_content ui-widget-content ui-corner-all">
			<div class="resume_revision_data">
				<%= render :partial => "/revise_resumes/revision_data", :locals => {:revision => revision} %>
			</div>
		</div>
		
		
		
		<div class="resume_revision_actions">
			<% if @teacher && @teacher.id == revision.teacher_id %>
				<div class="align_r">
					<a href="#" class="delete_revision_link">
						删除</a>
				</div>
			<% end %>
			
			<% if @student && @student.id == @resume.student_id %>
				<table border="0" cellspacing="0" cellpadding="0" class="main_part_w">
					<tr>
						<td align="right">
							&nbsp;
							<% unless revision.applied %>
								<img src="/images/revise_resumes/unapplied_icon.gif" class="unapplied_icon" border="0" alt="尚未应用" />
							<% end %>
						</td>
						
						<td style="width: 45px;">
							<a href="#" class="dropdown_menu_link">
								标记为</a>

							<div class="dropdown_menu">
								<ul class="dropdown_sub_menu">
									<li>
										<a href="#" class="update_applied_link"></a>
									</li>
								</ul>
							</div>
						</td>
						
						<td align="center" style="width: 10px;" class="info">|</td>
						
						<td style="width: 200px;">
							<button class="preview_revision_btn">预览</button>

							<button class="diff_revision_btn">对比</button>

							<button class="apply_revision_btn">应用</button>
						</td>
					</tr>
				</table>
			<% end %>
		</div>
	</div>
</div>
