<%
	domain = ResumeDomain.find(@resume.domain_id)[:name]
	
	page_title = "修改"
	if @teacher
		page_title += " "
		page_title += h(@resume.student.name)
	end
	page_title += " #{domain} 的简历"
	
	talent_page_title(page_title)
%>


<h2><%= page_title %></h2>


<div class="align_r" style="margin: 0px 50px 0px 0px; font-size: 14px;">
	<% if @student %>
		<a href="/students/<%= @student.id %>/resumes/<%= @resume.id %>" class="none">
			<img src="/images/revise_resumes/return_icon.gif" border="0" alt="返回" style="margin-bottom: -2px;" />
			返回预览简历</a>
	<% end %>
	
	<% if @teacher %>
		<a href="/teachers/<%= @teacher.id %>/students/<%= @resume.id %>/resume" class="none">
			<img src="/images/revise_resumes/return_icon.gif" border="0" alt="返回" style="margin-bottom: -2px;" />
			返回查看简历</a>
	<% end %>
</div>


<% if @taggers.size > 0 %>
	<div class="resume_exp_tags_bar">
		<table border="0" cellspacing="0" cellpadding="0" class="main_part_w">
			<tr>
				<td valign="top" style="width: 70px; color: #888888;">
					经历标签:
				</td>
				
				<td>
					<% @taggers.each do |tagger| %>
						<% tag = ResumeExpTag.find_by_id(tagger.tag_id) %>
						<span><%= tag[:name] %></span>
					<% end %>
				</td>
			</tr>
		</table>
	</div>
<% end %>


<div>
	<%= render :partial => "/resumes/resume", :object => @resume, :locals => {:protective => false} %>
</div>


<div class="resume_wrap overflow_hidden" style="margin-top: 50px;">
	<div class="tabs" style="display: none;">
		<ul>
			<li>
				<a href="#all_revisions">全部修改建议</a>
			</li>
			<li>
				<a href="#all_comments">全部简历评注</a>
			</li>
			
			<li style="margin-left: 30px;">
				<a href="#new_comment">添加整份简历的评注</a>
			</li>
		</ul>
		
		<div id="all_revisions">
			<div>
				Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.
			</div>
		</div>
		<div id="all_comments">
			<div>
				Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.
			</div>
		</div>
		
		<div id="new_overall_comment">
			
		</div>
	</div>
</div>


<div id="highlighter_1" class="ui-state-hover ui-corner-all" style="display: none; position: absolute;"></div>
<div id="highlighter_2" class="ui-state-default ui-corner-all" style="display: none; position: absolute;"></div>

<div id="dialog" style="display: none;">
	<div class="tabs">
		<ul>
			<li>
				<a href="#part_revisions">修改建议</a>
			</li>
			<li>
				<a href="#part_comments">简历评注</a>
			</li>
			
			<li style="margin-left: 30px;">
				<a href="#new_comment">添加评注</a>
			</li>
			<% if @teacher %>
				<li>
					<a href="#new_revision">添加建议</a>
				</li>
			<% end %>
		</ul>
		
		<div id="part_revisions">
			
		</div>
		<div id="part_comments">
			
		</div>
		
		<div id="new_comment">
			
		</div>
		<% if @teacher %>
			<div id="new_revision">
				<% form_tag "/teachers/#{@teacher.id}/revise_resumes/#{@resume.id}/revisions", :method => :post do %>
					<table border="0" cellspacing="10" cellpadding="0" style="font-size: 14px;">
						<tr>
							<td style="width: 100px;">
								<label for="revision_action">
									操作<%= required_mark %>
								</label>
							</td>

							<td>
								<input type="radio" value="update" name="revision_action" id="revision_action_update" />
								<label for="revision_action_update">
									修改
								</label>

								<span style="margin: 0px 20px;">
									<input type="radio" value="delete" name="revision_action" id="revision_action_delete" />
									<label for="revision_action_delete">
										删除
									</label>
								</span>
								
								<input type="radio" value="add" name="revision_action" id="revision_action_add" />
								<label for="revision_action_add">
									添加
								</label>
							</td>
						</tr>

						<tr>
							<td>

							</td>

							<td>
								<%= submit_tag "添加", :class => "button", :disabled => !@account_active %>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<a href="#">
									重置</a>
							</td>
						</tr>
					</table>
				<% end %>
			</div>
		<% end %>
	</div>
</div>



<link href="/lib/jquery/css/cupertino/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="/lib/jquery/jquery.min.js" type="text/javascript" language="JavaScript"></script>
<script src="/lib/jquery/ui/jquery-ui.dialog_tabs.min.js" type="text/javascript" language="JavaScript"></script>
<script language="JavaScript">
	var RESUME_TYPES = [<%= ResumePartType.data.collect{|type| %Q!{id:#{type[:id]}, name:"#{type[:name]}"}!}.join(",") %>]
</script>
<script src="/javascripts/resumes/revision.js" type="text/javascript" language="JavaScript"></script>
