<%
	domain = ResumeDomain.find(@resume.domain_id)[:name]
	
	page_title = "修改"
	if @teacher
		page_title += " "
		page_title += h(@resume.student.name)
	end
	page_title += " #{domain} 的简历"
	
	talent_page_title(page_title)
%>


<h2><%= page_title %></h2>


<div style="margin: 0px 50px; font-size: 14px;">
	<% if @student %>
		<table border="0" cellspacing="0" cellpadding="0" class="main_part_w">
			<tr>
				<td>&nbsp;</td>
				
				<td style="width: 165px;">
					<a href="#" class="none dropdown_menu_trigger">
						<img src="/images/revise_resumes/reviser_icon.gif" border="0" alt="请老师帮助" style="margin-bottom: -2px;" />
						请老师帮助修改简历</a>

					<div class="dropdown_menu" style="font-size: 12px;">
						<ul class="dropdown_sub_menu">
							<% @revisers.each do |reviser| %>
								<% reviser_name = h(reviser.get_name) %>
								<li>
									<a href="#" onclick="request_revise_resume(<%= reviser.id %>, '<%= a(reviser_name) %>'); return false;">
										<%= reviser_name %></a>
								</li>
							<% end %>
						</ul>
					</div>
				</td>
				
				<td align="right" style="width: 125px;">
					<a href="/students/<%= @student.id %>/resumes/<%= @resume.id %>" class="none">
						<img src="/images/revise_resumes/return_icon.gif" border="0" alt="返回" style="margin-bottom: -2px;" />
						返回预览简历</a>
				</td>
			</tr>
		</table>
	<% end %>
	
	<% if @teacher %>
		<div class="align_r">
			<a href="/teachers/<%= @teacher.id %>/students/<%= @resume.id %>/resume" class="none">
				<img src="/images/revise_resumes/return_icon.gif" border="0" alt="返回" style="margin-bottom: -2px;" />
				返回查看简历</a>
		</div>
	<% end %>
</div>


<% if @requests.size > 0 %>
	<% is_requester = !!@student %>
	<div style="margin: 10px 60px 10px 30px; background-color: #F0F5F8; border: 1px solid #E3EEF8; padding: 0px 10px 5px;">
		<%=
			render(
				:partial => "/requests/request",
				:collection => @requests,
				:locals => {
					:accounts => {"teachers" => @teachers, "students" => @students},
					:sent => is_requester
				}
			)
		%>
		
		<div class="align_c" style="margin-top: 10px;">
			<a href="/<%= @account_type %>/<%= self.instance_variable_get("@#{@account_type.singularize}").id %>/notifications/requests<%= "/sent" if is_requester %>?type=revise_resume" target="_blank" class="none">
				当前显示<%= @requests.size %>条
				/
				共<%= is_requester ? "发出" : "收到" %><%= @requests.total_entries %>条
				修改这份简历的请求
			</a>
		</div>
	</div>
<% end %>


<div class="resume_exp_tags_bar">
	<% if @taggers.size > 0 %>
		<table border="0" cellspacing="0" cellpadding="0" class="main_part_w">
			<tr>
				<td valign="top" style="width: 70px; color: #888888;">
					经历标签:
				</td>
				
				<td>
					<% @taggers.each do |tagger| %>
						<% tag = ResumeExpTag.find_by_id(tagger.tag_id) %>
						<span><%= tag[:name] %></span>
					<% end %>
				</td>
			</tr>
		</table>
	<% end %>
</div>


<div>
	<%= render :partial => "/resumes/resume", :object => @resume, :locals => {:protective => false} %>
</div>


<div class="resume_wrap overflow_hidden" style="margin-top: 50px;">
	<div id="overall_tabs" class="tabs" style="display: none;">
		<ul>
			<li>
				<a href="#all_revisions"><img src="/images/revise_resumes/revision_icon.gif" border="0" style="margin: 0px 3px -4px 0px;" />全部修改建议</a>
			</li>
			<li>
				<a href="#all_comments"><img src="/images/revise_resumes/comment_icon.gif" border="0" style="margin: 0px 3px -1px 0px;" />全部简历评注</a>
			</li>
			
			<li style="margin-left: 30px;">
				<a href="#new_overall_comment"><img src="/images/revise_resumes/add_comment_icon.gif" border="0" style="margin: 0px 3px -4px 0px;" />添加整份简历的评注</a>
			</li>
		</ul>
		
		<div id="all_revisions">
			<%=
				render(
					:partial => "/revise_resumes/revision",
					:collection => @revisions,
					:locals => {:teachers => @teachers}
				)
			%>
		</div>
		<div id="all_comments">
			<%=
				render(
					:partial => "/revise_resumes/comment",
					:collection => @comments,
					:locals => {:teachers => @teachers, :students => @students}
				)
			%>
		</div>
		
		<div id="new_overall_comment">
			<div style="padding: 20px 30px 0px 20px;">
				<div class="align_r info" style="margin: 0px 50px 5px;">
					1000 字以内
				</div>
				
				<div>
					<textarea rows="10" name="comment" class="text_field ui-corner-all" style="width: 95%;"></textarea>
				</div>
				
				<div style="margin-top: 15px;">
					<input type="submit" value="提交" />
					<a href="#" class="none" style="margin: 0px 25px;">清空</a>
					<span style="color: #CD0A0A;"></span>
				</div>
			</div>
		</div>
	</div>
</div>


<div id="highlighter_1" class="ui-state-hover ui-corner-all" style="display: none; position: absolute;"></div>
<div id="highlighter_2" class="ui-state-default ui-corner-all" style="display: none; position: absolute;"></div>

<div id="dialog" style="display: none;">
	<div class="tabs">
		<ul>
			<li>
				<a href="#part_revisions"><img src="/images/revise_resumes/revision_icon.gif" border="0" style="margin: 0px 3px -4px 0px;" />修改建议</a>
			</li>
			<li>
				<a href="#part_comments"><img src="/images/revise_resumes/comment_icon.gif" border="0" style="margin: 0px 3px -1px 0px;" />简历评注</a>
			</li>
			
			<li style="margin-left: 30px;">
				<a href="#new_comment"><img src="/images/revise_resumes/add_comment_icon.gif" border="0" style="margin: 0px 3px -4px 0px;" />添加评注</a>
			</li>
			<% if @teacher %>
				<li>
					<a href="#new_revision"><img src="/images/revise_resumes/add_revision_icon.gif" border="0" style="margin: 0px 3px -4px 0px;" />添加建议</a>
				</li>
			<% end %>
		</ul>
		
		<div id="part_revisions">
			
		</div>
		<div id="part_comments">
			
		</div>
		
		<div id="new_comment">
			<div style="padding: 5px 30px 0px 20px;">
				<input type="hidden" id="comment_type_id" value="" />
				<input type="hidden" id="comment_part_id" value="" />
				
				<div class="align_r info" style="margin: 0px 50px 5px;">
					1000 字以内
				</div>
				
				<div>
					<textarea rows="10" name="comment" class="text_field ui-corner-all" style="width: 95%;"></textarea>
				</div>
				
				<div style="margin-top: 15px;">
					<input type="submit" value="提交" />
					<a href="#" class="none" style="margin: 0px 25px;">清空</a>
					<span style="color: #CD0A0A;"></span>
				</div>
			</div>
		</div>
		<% if @teacher %>
			<div id="new_revision">
				<div id="new_revision_actions">
					
				</div>
				
				<div id="new_revision_form">
					
				</div>
			</div>
		<% end %>
	</div>
</div>



<link href="/lib/jquery/css/cupertino/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="/javascripts/app.js" type="text/javascript" language="JavaScript"></script>
<script src="/lib/jquery/ui/jquery-ui.dialog_tabs.min.js" type="text/javascript" language="JavaScript"></script>
<script language="JavaScript">
	var ACCOUNT_TYPE = "<%= @account_type %>";
	var ACCOUNT_ID = <%= self.instance_variable_get("@#{@account_type.singularize}").id %>;
	
	var RESUME_ID = <%= @resume.id %>;

	var RESUME_TYPES = [<%= ResumePartType.data.collect{|type| %Q!{id:#{type[:id]}, name:"#{type[:name]}"}!}.join(",") %>]
	
	var required_mark = '<%= required_mark(false).strip %>';
	
	var involved_teachers = "<%= (@teachers || {}).keys.join(",") %>";
</script>
<script src="/javascripts/resumes/revision.js" type="text/javascript" language="JavaScript"></script>
