<table border="0" cellspacing="10" cellpadding="5">
	<tr>
		<td style="width: 80px;">
			<label for="name">
				名称<%= required_mark %>
			</label>
		</td>
		
		<td>
			<input type="text" id="name" name="name" class="text_field" size="30" value="<%= h(@list_skill.name) %>" />
		</td>
	</tr>
	
	<tr>
		<td>
			<label for="level">
				程度
			</label>
		</td>
		
		<td>
			<input type="text" id="level" name="level" class="text_field" size="30" value="<%= h(@list_skill.level) %>" />
		</td>
	</tr>
	
	<tr>
		<td>
			
		</td>
		
		<td>
			<%= submit_tag submit_label, :class => "button", :disabled => !@account_active %>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/students/<%= @student.id %>/resumes/<%= @resume.id %>/resume_skills">
				返回技能和证书列表</a>
		</td>
	</tr>
</table>
