<tr onmouseover="this.style.backgroundColor='#F8F8F8';" onmouseout="this.style.backgroundColor='#FFFFFF';">
	<td>
		<% domain = ResumeDomain.find(added_resume.domain_id)[:name] %>
		<%= domain %>
	</td>
	
	
	<td>
		<% if added_resume.online %>
			<font color="green">已上线</font>
		<% else %>
			<font color="red">下线中</font>
		<% end %>
	</td>
	
	
	<td>
		<a href="#" title="删除简历" class="none" onclick="del_resume(<%= added_resume.id %>, '<%= a(domain) %>'); return false;">
			<img src="/images/teachers/delete_icon.gif" border="0" alt="删除简历" />
			删除</a>
	</td>
	
	
	<td>
		<a href="/students/<%= @student.id %>/resumes/<%= added_resume.id %>/edit_job_intention" title="编辑简历" class="none edit_link">
			<img src="/images/students/edit_icon.gif" border="0" alt="编辑简历" />
			编辑</a>
			
		<div class="dropdown_menu" style="font-size: 12px;">
			<ul class="dropdown_sub_menu">
				<% Resume.edit_parts.each do |part| %>
					<li>
						<a href="/students/<%= @student.id %>/resumes/<%= added_resume.id %>/<%= part[0] %>">
							<%= part[1] %></a>
					</li>
				<% end %>
			</ul>
		</div>
	</td>
	
	
	<td>
		<a href="#" class="none" onclick="update_resume(<%= added_resume.id %>, '<%= a(domain) %>', <%= !added_resume.online %>); return false;">
			<% if added_resume.online %>					
				<img src="/images/students/offline_icon.png" border="0" alt="下线简历" />
				下线
			<% else %>
				<img src="/images/students/online_icon.png" border="0" alt="上线简历" />
				上线
			<% end %>
		</a>
	</td>
	
	
	<td>
		<a href="/students/<%= @student.id %>/resumes/<%= added_resume.id %>" title="预览简历" class="none" target="_blank">
			<img src="/images/students/preview_resume_icon.gif" border="0" alt="预览简历" />
			预览</a>
	</td>
</tr>
