<tr onmouseover="this.style.backgroundColor='#F8F8F8';" onmouseout="this.style.backgroundColor='#FFFFFF';">
	<td>
		<% domain = ResumeDomain.find(resume_domain)[:name] %>
		<%= domain %>
	</td>
	
	
	<td>
		<% resume = resumes[resume_domain] %>
		<% if resume %>
			<% if resume.online %>
				<font color="green">已上线</font>
			<% else %>
				<font color="yellow">下线中</font>
			<% end %>
		<% else %>
			<font color="red">未添加</font>
		<% end %>
	</td>
	
	
	<td>
		<% if resume %>
			<a href="#" title="删除简历" class="none" onclick="del_resume(<%= resume.id %>, '<%= a(domain) %>'); return false;">
				<img src="/images/teachers/delete_icon.gif" border="0" alt="删除简历" />
				删除</a>
		<% else %>
			<a href="#" title="添加简历" class="none" onclick="create_resume(<%= resume_domain %>); return false;">
				<img src="/images/students/add_icon.png" border="0" alt="添加简历" />
				添加</a>
		<% end %>
	</td>
	
	
	<td>
		<% if resume %>
			<a href="/students/<%= @student.id %>/resumes/<%= resume.id %>/edit_job_intention" title="编辑简历" class="none edit_link">
				<img src="/images/students/edit_icon.gif" border="0" alt="编辑简历" />
				编辑</a>
				
			<div class="dropdown_menu" style="font-size: 12px;">
				<ul class="dropdown_sub_menu">
					<% Resume.edit_parts.each do |part| %>
						<li>
							<a href="/students/<%= @student.id %>/resumes/<%= resume.id %>/<%= part[0] %>">
								<%= part[1] %></a>
						</li>
					<% end %>
				</ul>
			</div>
		<% end %>
	</td>
	
	
	<td>
		<% if resume %>
			<a href="#" class="none" onclick="update_resume(<%= resume.id %>, '<%= a(domain) %>', <%= !resume.online %>); return false;">
				<% if resume.online %>					
					<img src="/images/students/offline_icon.png" border="0" alt="下线简历" />
					下线
				<% else %>
					<img src="/images/students/online_icon.png" border="0" alt="上线简历" />
					上线
				<% end %>
			</a>
		<% end %>
	</td>
	
	
	<td>
		<% if resume %>
			<a href="/students/<%= @student.id %>/resumes/<%= resume.id %>" title="预览简历" class="none" target="_blank">
				<img src="/images/students/preview_resume_icon.gif" border="0" alt="预览简历" />
				预览</a>
		<% end %>
	</td>
	
	
	<td>
		
	</td>
</tr>
