<% domain = ResumeDomain.find(@resume.domain_id)[:name] %>
<% talent_page_title("编辑 #{domain} 的简历") %>


<h2>编辑 <%= domain %> 的简历</h2>

<%= render :partial => "edit_resume_nav", :locals => {:current_link => "edit_job_intention"} %>

<% if flash[:success_msg] %>
	<p class="success_msg">
	    <%= flash[:success_msg] %>
	</p>
<% end %>
<% if flash[:error_msg] %>
	<p class="error_msg">
	    <%= flash[:error_msg] %>
	</p>
<% end %>
<% if @job_intention.errors.size > 0 %>
	<p class="error_msg">
		<%= list_model_validate_errors(@job_intention) %>
	</p>
<% end %>

<% form_tag "/students/#{@student.id}/resumes/#{@resume.id}/update_job_intention", :method => :post do %>

	<table border="0" cellspacing="10" cellpadding="5" style="font-size: 14px;">
		<tr>
			<td style="width: 75px;">
				<label for="job_intention">
					求职意向
				</label>
			</td>
			
			<td>
				<input type="text" id="job_intention" name="job_intention" class="text_field" size="50" value="<%= h(@job_intention.content) %>" />
			</td>
		</tr>
		
		<tr>
			<td>
				
			</td>
			
			<td>
				<%= submit_tag "修改", :class => "button", :disabled => !@account_active %>
			</td>
		</tr>
	</table>
	
<% end %>
