<% talent_page_title("管理简历") %>

<link href="/stylesheets/dropdown_menu.css" rel="stylesheet" type="text/css" />


<h2>管理简历</h2>


<% if flash[:success_msg] %>
	<p class="success_msg">
	    <%= flash[:success_msg] %>
	</p>
<% end %>

<% if @available_domains.size > 0 %>
	<div>
		<% form_tag "/students/#{@student.id}/resumes", :method => :post do %>
			<%
				domain_category_mapping = @available_domains.group_by do |domain|
					domain[:category_id]
				end
				
				categories = domain_category_mapping.keys.sort.collect do |category_id|
					ResumeDomainCategory.find(category_id)
				end
			%>
			
			<script language="JavaScript">
				var DOMAINS = {};
				<% categories.each do |category| %>
					DOMAINS["c_<%= category[:id] %>"] = [<%= domain_category_mapping[category[:id]].collect{|domain| %Q!{id:#{domain[:id]}, name:"#{domain[:name]}"}!}.join(",") %>];
				<% end %>

				function fill_domains(category_id) {
					$("#domain_id").html("");

					var domain_objs = DOMAINS["c_" + category_id];
					if(domain_objs != null && domain_objs.length > 0) {
						var options = $.map(
							domain_objs,
							function(domain_obj, i) {
								return "<option value='" + domain_obj.id + "'>" + domain_obj.name + "</option>";
							}
						);

						$("#domain_id").append(options.join(""));
					}
				}
			</script>

			<select id="domain_category" class="dropdown_list">
				<% categories.each do |category| %>
					<option value="<%= category[:id] %>"><%= category[:name] %></option>
				<% end %>
			</select>
			
			&nbsp;&nbsp;&nbsp;
			
			<select name="domain_id" id="domain_id" class="dropdown_list">
				<% domain_category_mapping[categories[0][:id]].each do |domain| %>
					<option value="<%= domain[:id] %>"><%= domain[:name] %></option>
				<% end %>
			</select>
			
			&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;
			
			<%= submit_tag "添加简历", :class => "button", :disabled => !@account_active %>
		<% end %>
	</div>
<% end %>

<div>
	<% form_tag "", :method => :delete, :id => "del_resume_form" do %>
	<% end %>
	<% form_tag "", :method => :put, :id => "update_resume_form" do %>
		<input type="hidden" id="online" name="online" />
	<% end %>
	<script language="JavaScript">
		function del_resume(resume_id, domain) {
			if(confirm("确定要删除 " + domain + " 的简历么 ? 该简历中所有的数据都将被删除 !")) {
				del_form = document.getElementById("del_resume_form");
				del_form.action = "/students/<%= @student.id %>/resumes/" + resume_id;
				del_form.submit();
			}
		}
		
		function update_resume(resume_id, domain, online) {
			var msg = online ? "确定要将 " + domain + " 的简历上线么 ?" : "确定要将 " + domain + " 的简历下线么 ? 下线后该简历将无法被企业检索和浏览";
			if(confirm(msg)) {
				update_form = document.getElementById("update_resume_form");
				update_form.action = "/students/<%= @student.id %>/resumes/" + resume_id;
				document.getElementById("online").value = online.toString();
				update_form.submit();
			}
		}
	</script>
	
	<table border="0" cellspacing="0" cellpadding="10" class="main_part_w" style="font-size: 14px;">
		<thead>
			<tr>
				<td></td>
				<td></td>
				<td style="width: 50px;"></td>
				<td style="width: 50px;"></td>
				<td style="width: 50px;"></td>
				<td style="width: 50px;"></td>
			</tr>
		</thead>
		
		<tbody>
			<% grouped_resumes = @resumes.group_by{|resume| ResumeDomain.find(resume.domain_id)[:category_id]} %>
			<% grouped_resumes.keys.sort.each do |category_id| %>
				<% category = ResumeDomainCategory.find(category_id) %>
				<tr>
					<td colspan="6">
						<div class="align_c" style="background-color: #EAEAEA; padding: 5px 0px;">
							<%= category[:name] %>
						</div>
					</td>
				</tr>
				
				<%= render :partial => "added_resume", :collection => grouped_resumes[category_id] %>
			<% end %>
		</tbody>
	</table>
</div>


<script src="/lib/jquery/jquery.min.js" type="text/javascript" language="JavaScript"></script>
<script language="JavaScript">
	$(document).ready(
		function() {
			$(".edit_link").click(
				function() {
					$(this).parent().find("ul.dropdown_sub_menu").slideDown("fast").show();

					$(this).parent().hover(
						function() {
						},
						function() {
							$(this).parent().find("ul.dropdown_sub_menu").slideUp("slow");
						}
					);
					
					return false;
				}
			);
			
			
			$("#domain_category").change(
				function() {
					fill_domains($(this).val());
				}
			);
		}
	);
</script>
