<%
	domain = ResumeDomain.find(@resume.domain_id)[:name]
	
	talent_page_title("预览 #{domain} 的简历")
%>


<div class="float_r" style="margin-top: 10px; font-size: 14px;">
	<a href="/students/<%= @student.id %>/revise_resumes/<%= @resume.id %>" style="margin: 0px 30px;" class="none">
		<img src="/images/revise_resumes/revise_resume_icon.gif" border="0" alt="简历修改" style="margin-bottom: -2px;" />
		进入简历修改模式</a>
	
	<a href="/students/<%= @student.id %>/resumes/<%= @resume.id %>.pdf?token=<%= Time.now.to_i %>" class="none">
		<img src="/images/students/pdf_icon.gif" border="0" alt="PDF" style="vertical-align: -2px;" />
		导出为 PDF</a>
</div>
<h2 class="page_title">预览 <%= domain %> 的简历</h2>

<%= render :partial => "edit_resume_nav", :locals => {:current_link => "show"} %>

<br />

<div>
	<%= render :partial => "resume", :object => @resume, :locals => {:protective => false} %>
</div>
