<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
		
		<% page_title = yield(:page_title) %>
		<title><%= @school.page_title(page_title) %></title>
		<%= stylesheet_link_tag("site") %>
    </head>
    <body>
	
		<% school_abbr = @school.abbr %>
		<div class="page_container" id="page_container_of_corporations">
			
			<%= render_school_partial("banner", school_abbr, :account_type => "corporations") %>
			
			<div class="menu_banner">
				<div class="float_l">
					<span><%= format_zh_date(Time.now) %></span>
					<span style="margin-left: 60px;"><%= h(@corporation.get_name) %> 欢迎您 !</span>
				</div>
				
				<table border="0" cellspacing="0" cellpadding="0" class="float_r">
					<tr>
						<td>
							<a href="/corporations/<%= @corporation.id %>">首页</a>
						</td>
						<td>
							<%=
								render(
									:partial => "/notifications/banner_menu",
									:locals => {
										:account_type_name => "corporations",
										:account_id => @corporation.id
									}
								)
							%>
						</td>
						<td>
							<a href="/corporations/<%= @corporation.id %>/edit_password" id="setting_link">设置</a>
							
							<div class="dropdown_menu">
								<ul class="dropdown_sub_menu">
									<li>
										<a href="/corporations/<%= @corporation.id %>/edit_password" style="padding-left: 10px;">
											<img src="/images/common/password_icon.gif" border="0" alt="密码设置" />
											密码设置</a>
									</li>
									<li>
										<a href="/corporations/<%= @corporation.id %>/edit_profile" style="padding-left: 10px;">
											<img src="/images/common/profile_icon.gif" border="0" alt="资料设置" />
											资料设置</a>
									</li>
								</ul>
							</div>
						</td>
						<td>
							<a href="/index/logout">退出</a>
						</td>
					</tr>
				</table>
			</div>
			
			
			<div class="menu_column">

				<% if @corporation.allow_query %>
					<div class="menu_category">
						<div class="menu_category_title" style="background-image: url(/images/teachers/menus/students.gif);">
							学生简历
						</div>
						
						<a href="/corporations/<%= @corporation.id %>/resumes">查询简历</a>
						<a href="/corporations/<%= @corporation.id %>/saved_queries">保存的查询</a>
						<a href="/corporations/<%= @corporation.id %>/saved_resumes">简历标签</a>
					</div>
				<% end %>

			</div>

			<div class="main_column">
				<%= yield %>
			</div>

			<div class="clear_l"></div>
			
		</div>
		
		<%= render_school_partial("bottom_line", school_abbr) %>
		
		
		<%= render :partial => "/common/page_js" %>
		
		
		<%= render_school_partial("page_track", school_abbr) if Rails.env.production? %>
    </body>
</html>
