<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
		
		<% page_title = yield(:page_title) %>
		<title><%= @school.page_title(page_title) %></title>
		<%= stylesheet_link_tag("site") %>
    </head>
    <body>
	
		<div class="page_container">
			<%= yield %>
		</div>
		
		<% school_abbr = @school.abbr %>
		<%= render_school_partial("bottom_line", school_abbr) %>

		
		
		<%= render_school_partial("page_track", school_abbr) if Rails.env.production? %>
    </body>
</html>
