<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
		
		<% page_title = yield(:page_title) %>
		<title><%= @school.page_title(page_title) %></title>
		<%= stylesheet_link_tag("site") %>
    </head>
    <body>
	
		<% school_abbr = @school.abbr %>
		<div class="page_container" id="page_container_of_schools">
			
			<%= render_school_view("/common/banner", school_abbr, :account_type => "schools") %>
			
			<div class="menu_banner">
				<div class="float_l">
					<span><%= format_zh_date(Time.now) %></span>
					<span style="margin-left: 60px;"><%= @school.name %> 欢迎您 !</span>
				</div>
				
				<div class="float_r">
					<a href="/schools/<%= @school_id %>">
						首页</a>
							
					<a href="#">
						设置</a>
					
					<a href="#">
						帮助</a>
							
					<a href="/index/logout">
						退出</a>
				</div>
			</div>
			
			
			<div class="menu_column">

				<div class="menu_category">
					<div class="menu_category_title" style="background-image: url(/images/teachers/menus/students.gif);">
						老师管理
					</div>
					
					<a href="/schools/<%= @school_id %>/teachers">老师列表</a>
					<a href="/schools/<%= @school_id %>/new_teacher">添加老师</a>
				</div>
				
			</div>

			<div class="main_column">
				<%= yield %>
			</div>

			<div class="clear_l"></div>
			
		</div>
		
		<%= render_school_view("/common/bottom_line", school_abbr) %>

		
		
		<%= render_school_view("/common/page_track", school_abbr) if Rails.env.production? %>
    </body>
</html>
