<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
		
		<% page_title = yield(:page_title) %>
		<title><%= @school.page_title(page_title) %></title>
		<%= stylesheet_link_tag("site") %>
    </head>
    <body>
	
		<div class="page_container">
			
			<div class="align_c" style="margin-bottom: 32px;">
				<img src="/images/students/banner.jpg" border="0" alt="<%= @school.logo_title %>" title="<%= @school.logo_title %>" />
			</div>
			
			<div class="float_l" style="width: 200px;">

				<div class="student_menu">
					<a href="/students/<%= @student.id %>">
						<img src="/images/students/menus/frontpage.jpg" border="0" alt="首页" /></a>
				</div>
				
				
				<div class="student_menu">
					<div>
						<a href="/students/<%= @student.id %>/resumes">
							<img src="/images/students/menus/my_resume.jpg" border="0" alt="我的简历" /></a>
					</div>
					
					<div>
						<div class="student_sub_menu">
							<a href="/students/<%= @student.id %>/edit_profile">
								<div>
									个人信息
								</div>
								<div class="english">
									PERSONAL INFOMATION
								</div>
							</a>
						</div>
						<div class="student_sub_menu">
							<a href="/students/<%= @student.id %>/edu_exps">
								<div>
									教育经历
								</div>
								<div class="english">
									EDUCATION INFOMATION
								</div>
							</a>
						</div>
						<div class="student_sub_menu">
							<a href="/students/<%= @student.id %>/student_exps">
								<div>
									经历库
								</div>
								<div class="english">
									EXPERIENCES
								</div>
							</a>
						</div>
						<div class="student_sub_menu">
							<a href="/students/<%= @student.id %>/edit_skills">
								<div>
									技能和证书
								</div>
								<div class="english">
									SKILL &amp; CERTIFICATION
								</div>
							</a>
						</div>
						<div class="student_sub_menu">
							<a href="/students/<%= @student.id %>/edit_job_photo">
								<div>
									求职照
								</div>
								<div class="english">
									PHOTO
								</div>
							</a>
						</div>
					</div>
					
					<div style="margin-left: 28px;">
						<div style="margin: 18px 0px;">
							<a href="/students/<%= @student.id %>/resumes">
								<img src="/images/students/menus/resume_management.jpg" border="0" alt="管理简历" /></a>
						</div>

						<div>
							<a href="#">
								<img src="/images/students/menus/resume_wizard.jpg" border="0" alt="简历向导" /></a>
						</div>
					</div>
				</div>
				
				
				<div style="height: 16px;">
					
				</div>
				
				
				<div class="student_menu">
					<a href="#">
						<img src="/images/students/menus/setting.jpg" border="0" alt="设置" /></a>
				</div>
				
				
				<div class="student_menu">
					<a href="/index/logout">
						<img src="/images/students/menus/logout.jpg" border="0" alt="退出系统" /></a>
				</div>
				
				<div>
					<a href="/students/<%= @student.id %>/edit">
						修改密码</a>
				</div>

			</div>

			<div style="margin-left: 200px;">
				<%= yield %>
			</div>

			<div class="clear_l"></div>
			
		</div>
		
		<% school_abbr = @school.abbr %>
		<%= render_school_view("/common/bottom_line", school_abbr) %>

		
		
		<%= render_school_view("/common/page_track", school_abbr) if Rails.env.production? %>
    </body>
</html>
