<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
		
		<% page_title = yield(:page_title) %>
		<title><%= @school.page_title(page_title) %></title>
		<%= stylesheet_link_tag("site") %>
    </head>
    <body>
	
		<% school_abbr = @school.abbr %>
		<div class="page_container" id="page_container_of_students">
			
			<%= render_school_view("/common/banner", school_abbr, :account_type => "students") %>
			
			<div class="menu_banner">
				<div class="float_l">
					<span><%= format_zh_date(Time.now) %></span>
					<span style="margin-left: 60px;"><%= @student.name %> 欢迎你 !</span>
				</div>
				
				<div class="float_r">
					<a href="/students/<%= @student.id %>">
						首页</a>
					
					<a href="#">
						消息</a>
							
					<a href="#">
						设置</a>
					
					<a href="#">
						帮助</a>
							
					<a href="/index/logout">
						退出</a>
				</div>
			</div>
			
			
			<div class="menu_column">
				
				<div class="menu_category">
					<div class="menu_category_title" style="background-image: url(/images/teachers/menus/students.gif);">
						简历基本信息
					</div>
					
					<a href="/students/<%= @student.id %>/edit_profile">个人信息</a>
					<a href="/students/<%= @student.id %>/edu_exps">教育经历</a>
					<a href="/students/<%= @student.id %>/exps">经历库</a>
					<a href="/students/<%= @student.id %>/edit_skills">技能和证书</a>
					<a href="/students/<%= @student.id %>/edit_job_photo">求职照</a>
				</div>
				
				<div class="menu_category">
					<div class="menu_category_title" style="background-image: url(/images/students/menus/resumes.gif);">
						管理简历
					</div>
					
					<a href="/students/<%= @student.id %>/resumes">简历列表</a>
				</div>

			</div>

			<div class="main_column">
				<%= yield %>
			</div>

			<div class="clear_l"></div>
			
		</div>
		
		<%= render_school_view("/common/bottom_line", school_abbr) %>

		
		
		<%= render_school_view("/common/page_track", school_abbr) if Rails.env.production? %>
    </body>
</html>
