<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
		
		<% page_title = yield(:page_title) %>
		<title><%= @school.page_title(page_title) %></title>
		<%= stylesheet_link_tag("site") %>
    </head>
    <body>
	
		<% school_abbr = @school.abbr %>
		<div class="page_container" id="page_container_of_teachers">
			
			<%= render_school_partial("banner", school_abbr, :account_type => "teachers") %>
			
			<div class="menu_banner">
				<div class="float_l">
					<span><%= format_zh_date(Time.now) %></span>
					<span style="margin-left: 60px;"><%= h(@teacher.get_name) %>老师 欢迎您 !</span>
				</div>
				
				<table border="0" cellspacing="0" cellpadding="0" class="float_r">
					<tr>
						<td>
							<a href="/teachers/<%= @teacher.id %>">首页</a>
						</td>
						<td>
							<%=
								render(
									:partial => "/notifications/banner_menu",
									:locals => {
										:account_type_name => "teachers",
										:account_id => @teacher.id
									}
								)
							%>
						</td>
						<td>
							<a href="/teachers/<%= @teacher.id %>/edit_password" id="setting_link">设置</a>
							
							<div class="dropdown_menu">
								<ul class="dropdown_sub_menu">
									<li>
										<a href="/teachers/<%= @teacher.id %>/edit_password" style="padding-left: 10px;">
											<img src="/images/common/password_icon.gif" border="0" alt="密码设置" />
											密码设置</a>
									</li>
									<li>
										<a href="/teachers/<%= @teacher.id %>/edit" style="padding-left: 10px;">
											<img src="/images/common/profile_icon.gif" border="0" alt="资料设置" />
											资料设置</a>
									</li>
								</ul>
							</div>
						</td>
						<td>
							<a href="/index/logout">退出</a>
						</td>
					</tr>
				</table>
			</div>
			
			
			<div class="menu_column">

				<div class="menu_category">
					<div class="menu_category_title" style="background-image: url(/images/teachers/menus/students.gif);">
						学生管理
					</div>
					
					<% if @teacher.student || @teacher.resume %>
						<a href="/teachers/<%= @teacher.id %>/students">查询学生</a>
					<% end %>
					
					<% if @teacher.student %>
						<a href="/teachers/<%= @teacher.id %>/students/new">添加学生</a>
					<% end %>
					
					<% if @teacher.revision %>
						<a href="/teachers/<%= @teacher.id %>/revisions">简历修改历史</a>
					<% end %>
				</div>
				
				<% if @teacher.admin %>
					<div class="menu_category">
						<div class="menu_category_title" style="background-image: url(/images/teachers/menus/corporations.gif);">
							企业管理
						</div>
						
						<a href="/teachers/<%= @teacher.id %>/corporations">查询企业</a>
						<a href="/teachers/<%= @teacher.id %>/corporations/new">添加企业</a>
						<a href="/teachers/<%= @teacher.id %>/corporations/jobs">全部岗位</a>
					</div>
				<% end %>
				
				<% if @teacher.statistic %>
					<div class="menu_category">
						<div class="menu_category_title" style="background-image: url(/images/teachers/menus/statistics.gif);">
							数据统计
						</div>
						
						<a href="/teachers/<%= @teacher.id %>/statistics">简历时段统计</a>
						<a href="/teachers/<%= @teacher.id %>/statistics/university">简历查看统计</a>
						<a href="/teachers/<%= @teacher.id %>/statistics/querying_corp">搜索操作统计</a>
						<a href="/teachers/<%= @teacher.id %>/statistics/querying">最近操作列表</a>
						<a href="/teachers/<%= @teacher.id %>/statistics/intern">实习数据统计</a>
					</div>
				<% end %>

			</div>

			<div class="main_column">
				<%= yield %>
			</div>

			<div class="clear_l"></div>
			
		</div>
		
		<%= render_school_partial("bottom_line", school_abbr) %>
		
		
		<%= render :partial => "/common/page_js" %>
		
		
		<%= render_school_partial("page_track", school_abbr) if Rails.env.production? %>
    </body>
</html>
